In [6]:
import pandas as pd
from sqlalchemy import create_engine
from selenium import webdriver
from selenium.webdriver.support.select import Select
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
import time
from selenium.webdriver.common import action_chains, keys
import selenium
import json
from urllib.request import urlopen

In [2]:
engine = create_engine("mysql+pymysql://eums:eums00!q@133.186.146.142:3306/eums-poi?charset=utf8mb4", encoding = 'utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

In [3]:
test = pd.read_pickle('company_test.pkl')

In [4]:
test = test[0:3000]

In [16]:
test.head(1)['REP_PHONE_NUM'][0]

'0425423777'

In [19]:
html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(test.head(1)['REP_PHONE_NUM'][0],test.head(1)['REP_PHONE_NUM'][0])

In [20]:
soup = BeautifulSoup(html, 'html.parser')

In [23]:
text = soup.find('result')
text

In [49]:
test.head()

,ID,CO_NAME_R,ADDR,LATITUDE,LONGITUDE,REP_PHONE_NUM,MSISDN
0,1,M바로크가구,대전광역시 서구 관저동 610-1,36.30151958,127.3262864,0425423777,None
1,2,샵스크린골프,강원도 원주시 명륜동 286-1,37.3366487,127.9506159,0337434343,None
2,3,IN2인투미용실,인천광역시 부평구 갈산1동 169-25,37.51796617,126.7262206,0325036336,None
3,4,K금탑공인중개사사무소,울산광역시 남구 신정2동 1644-30,35.5357482,129.3010192,0522614959,None
4,5,IVY아이비페이셜,광주광역시 북구 신용동 717,35.206511,126.8619063,0625730035,None

In [26]:
json_data=open(html).read()

data = json.loads(json_data)
data

FileNotFoundError: [Errno 2] No such file or directory: 'https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query=0425423777&originalQuery=0425423777&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1'

In [27]:
from urllib.request import urlopen
data = urlopen(html)
resp = json.loads(data.read())
resp

{'code': 0,
 'message': '정상처리',
 'data': {'search': {'status': {'returnCode': 0,
    'message': '정상처리',
    'lapTime': 0.000135,
    'similarityType': 'similarity'},
   'results': {'totalCount': 1,
    'scope': {'scope': None},
    'sort': '(distance||asc);(sim||desc)',
    'start': 1,
    'npp': 5,
    'result': [{'field': [{'value': '972071', 'name': '^disptel:'},
       {'value': '042-542-3777', 'name': '^main_num:'},
       {'value': '가구도매-기타', 'name': '^up_nm:'},
       {'value': '대전광역시 서구 관저동 610-1', 'name': '^addr_nm:'},
       {'value': '0', 'name': '^srch_cnt:'},
       {'value': '', 'name': '^addr_road_nm:'},
       {'value': '0.0', 'name': '^weight:'},
       {'value': '127.326280861029005', 'name': '^map_x:'},
       {'value': '36.3015251783349981', 'name': '^map_y:'},
       {'value': '레이디가구', 'name': '^pub_nm:'},
       {'value': '462199', 'name': '^up_cd:'},
       {'value': '가구도매-기타', 'name': '^up_nm:'},
       {'value': '462100.jpg', 'name': '^img_file_nm:'},
       {'value': '', 'name': '^pub_sub_nm:'},
       {'value': '0', 'name': '^guide_cnt:'},
       {'value': '0', 'name': '^sub_num_cnt:'},
       {'value': 'N', 'name': '^prior_flag:'},
       {'value': '', 'name': '^tel_type:'}],
      'count': 18,
      'docid': 663898,
      'no': 1,
      'similarity': 135089.9375,
      'fieldMap': {'up_cd': '462199',
       'sub_num_cnt': '0',
       'main_num': '042-542-3777',
       'addr_road_nm': '',
       'tel_type': '',
       'up_nm': '가구도매-기타',
       'pub_sub_nm': '',
       'guide_cnt': '0',
       'weight': '0.0',
       'srch_cnt': '0',
       'img_file_nm': '462100.jpg',
       'map_x': '127.326280861029005',
       'addr_nm': '대전광역시 서구 관저동 610-1',
       'map_y': '36.3015251783349981',
       'disptel': '972071',
       'pub_nm': '레이디가구',
       'prior_flag': 'N'}}],
    'count': 1}}}}

In [45]:
r = pd.DataFrame(resp)
r = pd.DataFrame(r['data'][0])
r = pd.DataFrame(r['results']['result'])
r = pd.DataFrame(r['field'][0])
info = []
info.append(r['value'][1])
info.append(r['value'][2])
info.append(r['value'][3])
info.append(r['value'][7])
info.append(r['value'][8])
info.append(r['value'][9])
info

['042-542-3777',
 '가구도매-기타',
 '대전광역시 서구 관저동 610-1',
 '127.326280861029005',
 '36.3015251783349981',
 '레이디가구']

In [24]:
%%time
result = []
count = 0
for phone_num in test.head()['REP_PHONE_NUM']:
    if count % 100 == 0:
        print('running...', phone_num, count / 100)
        time.sleep(1)
    html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
    
    data = urlopen(html)
    resp = json.loads(data.read())
    r = pd.DataFrame(resp)
    r = pd.DataFrame(r['data'][0])
    if r['results']['totalCount'] == 0:
        info = selenium_detect(phone_num)
        result.append(info)
        continue
    else:
        r = pd.DataFrame(r['results']['result'])
        r = pd.DataFrame(r['field'][0])
        info = []
        info.append(r['value'][1])
        info.append(r['value'][2])
        info.append(r['value'][3])
        info.append(r['value'][7])
        info.append(r['value'][8])
        info.append(r['value'][9])
        result.append(info)
    count+=1

running... 0425423777 0.0
['052-261-4959', '\t\t', '        \t검색결과가 없습니다.', '        ']
Wall time: 9.55 s

In [69]:
pd.DataFrame(result)

,0,1,2,3,4,5
0,042-542-3777,가구도매-기타,대전광역시 서구 관저동 610-1,127.326280861029005,36.3015251783349981,레이디가구
1,033-743-4343,스크린골프장,강원도 원주시 명륜동 286-1,127.950558249539,37.3365698435100981,#샵스크린골프
2,032-503-6336,미용실,인천광역시 부평구 갈산1동 169-25,126.726218650556007,37.5179653452343018,(IN2)인투미용실
3,0522614959,,,,,
4,062-573-0035,미용업-피부미용,광주광역시 북구 신용동 717,126.861893006146005,35.2065574957534011,(IVY)아이비페이셜
5,055-338-3342,부동산중개,경상남도 김해시 관동동 1112-7,128.816011250886987,35.1767095564645018,강성옥공인중개사사무소
6,0260026787,,,,,
7,055-286-6426,악세사리판매,경상남도 창원시 성산구 상남동 9-1,128.685603631729009,35.2233384519078996,#(샵)피어싱레드캣츠
8,052-265-8924,부동산중개,울산광역시 남구 신정2동 1644-30,129.301013978301,35.5357498486119994,(K)금탑공인중개사사무소(합동)
9,053-818-5002,부동산중개,경상북도 경산시 조영동 579-8,128.753447207631012,35.8390615521459992,(NEW)원룸마을공인중개사사무소
10,0537930052,,,,,
11,062-975-2000,학원-외국어,광주광역시 광산구 도천동 127-5,,,(광산)브라이튼어학원
12,0222994355,,,,,
13,052-264-9623,호텔-일반,울산광역시 울주군 상북면 등억알프스리 531-8,129.079187282822005,35.5539943910331999,일루아호텔
14,032-772-6895,떡집,인천광역시 중구 신포동 13,126.627506108583006,37.4712147705105991,(구)서울떡집
15,061-763-9789,아파트관리,전라남도 광양시 광양읍 구산리 762-2,127.578765137518999,34.9837842854062018,(광양매화주공관리소)이성규
16,042-272-2272,학원-음악,대전광역시 동구 판암1동 345-9,127.460591475903996,36.3165169586742991,(관인)명성음악학원
17,033-644-6116,기독교,강원도 강릉시 강동면 안인진리 270-18,128.982547145855989,37.7278063140110973,(교)대한예장회강인교회
18,054-241-5570,음식점-생고기전문,경상북도 포항시 북구 장성동 976-2,129.372907147103007,36.0693666027258999,(구)마장동뒷고기
19,02-586-5066,학원-꽃꽂이,서울특별시 서초구 서초동 1667-6,127.017605795628995,37.4930738391308012,하수꽃꽂이학원
20,033-436-0225,음식점-한식,강원도 홍천군 동면 덕치리 56-2,127.955998591861999,37.6932311721150981,(구)칡사랑메밀사랑
21,07088106400,,,,,
22,053-943-4500,부동산중개,대구광역시 동구 신암2동 1194-2,128.610323303852994,35.8782266232810017,(뉴)그린공인중개사
23,063-445-3252,부동산중개,전라북도 군산시 중앙로1가 8-5,126.710257401625,35.9876869748076018,(군산)구도심공인중개사사무소
24,061-360-6009,병원-종합,전라남도 곡성군 곡성읍 죽동리 39-5,127.287924642394998,35.2761600940669027,(대송의료재단)곡성사랑병원
25,031-988-4611,호프전문점,경기도 김포시 마산동 614-10,,,(동표)을지로골뱅이
26,031-551-8004,기독교,경기도 남양주시 도농동 336-36,127.151437748115001,37.6105077367095006,(도농)미금제일교회
27,02-2065-5151,어린이집,서울특별시 강서구 화곡6동 967-1,126.851512041568,37.5489199093499977,(별)강서어린이집
28,061-242-2641,가구도매-종합,전라남도 목포시 호남동 67,126.387793135115004,34.7957080171081969,(목포)레이디가구
29,061-395-4321,어린이집,전라남도 장성군 삼계면 사창리 726-6,126.657269548325999,35.2595180845084002,(복지법인)정다운상무어린이집
...,...,...,...,...,...,...
2970,18995657,,,,,
2971,02-405-5700,의류판매-종합,서울특별시 송파구 가락동 197-15,127.133025960029002,37.4936335116139006,(주)노브랜드
2972,051-751-5083,가구도매-종합,부산광역시 연제구 연산9동 22-20,129.103001898830001,35.1809137271604015,(주)노블레인참솔방가구
2973,051-867-5353,가구도매-종합,부산광역시 연제구 연산1동,,,(주)노블레인참솔방가구
2974,0220500061,,,,,
2975,0559620070,,,,,
2976,041-622-6284,생명과학연구소,충청남도 천안시 서북구 직산읍 삼은리 506,127.159425903273998,36.8855023417948971,(주)노아바이오텍
2977,02-3448-4644,인테리어소매-종합,서울특별시 성동구 성수2가동 280-36,127.060851832881994,37.5480379547423979,(주)노블파트너
2978,033-263-0017,학원-영어,강원도 춘천시 석사동 880-5,127.743729395661006,37.8513401049102001,(주)노아
2979,023730433,,,,,
2980,0522016466,,,,,
2981,02-558-1210,부동산관련서비스-종합,서울특별시 강남구 역삼1동 815-4,127.026711173340004,37.5007720314813966,(주)노주엔지니어링
2982,02-508-3333,기타고등교육기관,서울특별시 강남구 삼성동 159-1,127.061187033913995,37.5104126344050997,(주)노하우(KNOWHOW)
2983,043-652-6525,부동산관련서비스-종합,충청북도 제천시 두학동 865-3,128.245476339110013,37.1277379363467972,(주)녹색산업
2984,0220409101,,,,,
2985,0220608825,,,,,
2986,0647438031,,,,,
2987,02-997-0088,부동산관련서비스-종합,서울특별시 성북구 장위동 316-5,127.049463878102003,37.6231931453651001,(주)녹천실업
2988,031-234-2500,공판장-농산물,경기도 화성시 안녕동 10-86,127.014487038053005,37.2049465958437011,(주)마트킹안녕
2989,031-731-5858,수퍼마켓,경기도 성남시 중원구 금광동 2344,127.168354635032998,37.445571764642601,(주)농민마트
2990,031-529-3770,기타종합소매-종합,경기도 남양주시 진접읍 금곡리 972-2,127.194969660553994,37.7215231150934969,(주)농부마트
2991,031-222-7723,식자재판매,경기도 화성시 안녕동 10-88,127.014773905252,37.2045434844789966,(주)식자재마트킹
2992,064-792-8303,농축산물무역,제주특별자치도 서귀포시 안덕면 사계리 981,126.299395826831002,33.2487020543644007,산방산탄산온천
2993,02-900-8922,수퍼체인,서울특별시 도봉구 쌍문동 20,127.034765164988002,37.6587369465784008,(주)농업법인쿱스토어
2994,0612423633,,,,,
2995,043-648-7112,농자재판매,충청북도 제천시 중앙로1가 116-8,128.209257291660009,37.1349448814168994,(주)농민사
2996,0323497418,,,,,
2997,025011060,,,,,
2998,0312383388,,,,,
2999,051-639-3800,부동산관련서비스-종합,부산광역시 부산진구 범천동 839-48,129.061200609355012,35.1417436135669021,(주)누리엔

In [16]:
pd.DataFrame(result)

,0,1,2,3,4,5
0,042-542-3777,가구도매-기타,대전광역시 서구 관저동 610-1,127.326280861029005,36.3015251783349981,레이디가구
1,033-743-4343,스크린골프장,강원도 원주시 명륜동 286-1,127.950558249539,37.3365698435100981,#샵스크린골프
2,032-503-6336,미용실,인천광역시 부평구 갈산1동 169-25,126.726218650556007,37.5179653452343018,(IN2)인투미용실
3,052-261-4959,,,,,
4,062-573-0035,미용업-피부미용,광주광역시 북구 신용동 717,126.861893006146005,35.2065574957534011,(IVY)아이비페이셜

In [22]:
def selenium_detect(phone_num):
    path = 'C:\chromedriver.exe'
    driver2 = webdriver.Chrome(path)
    driver2.get('https://www.whox2.com/view/main.jsp')
    driver2.implicitly_wait(3)
    input = driver2.find_element_by_id("search")
    driver2.implicitly_wait(3)
    input.clear()
    driver2.implicitly_wait(3)
    input.send_keys(phone_num)
    driver2.implicitly_wait(3)
    input.send_keys(keys.Keys.ENTER)
    driver2.implicitly_wait(3)
    html = driver2.page_source
    soup = BeautifulSoup(html, 'html.parser')
    text = soup.find('dl').get_text().split('\n')
    while True:
        try:
            text.remove("")
        except ValueError:
            break
    print(text)
    for t in text:
        if '검색결과가 없습니다.' in t:
            text = [text[0],'','','','','']
    info = []
    info.append(text[0])#phone_num
    #info.append(text[5])#cate info.append(text[5])
    if len(text) < 6:
        info.append('')
        info.append('')
        info.append('')
        info.append('')
    else:
        info.append(text[5])
        info.append(text[4])#addr
        if len(text) < 6:
            info.append("")
            info.append("")
            info.append("")
        else:
            info.append('') #latitude
            info.append('') #longitude
            info.append(text[3])#coname_rr
    driver2.quit()
    return info

In [25]:
%%time
result = []
count = 0
for phone_num in test['REP_PHONE_NUM']:
    if count % 100 == 0:
        print('running...', phone_num, count / 100)
        time.sleep(1)
    html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
    
    data = urlopen(html)
    resp = json.loads(data.read())
    r = pd.DataFrame(resp)
    r = pd.DataFrame(r['data'][0])
    if r['results']['totalCount'] == 0:
        info = []
        info.append(phone_num)
        info.append('')
        info.append('')
        info.append('')
        info.append('')
        info.append('')
        continue
    else:
        r = pd.DataFrame(r['results']['result'])
        r = pd.DataFrame(r['field'][0])
        info = []
        info.append(r['value'][1])
        info.append(r['value'][2])
        info.append(r['value'][3])
        info.append(r['value'][7])
        info.append(r['value'][8])
        info.append(r['value'][9])
        result.append(info)
    count+=1

running... 0425423777 0.0
running... 0313955106 1.0
running... 0515180020 1.0
running... 0337314764 2.0
running... 0418538838 3.0
running... 0553334441 4.0
running... 0612857366 4.0
running... 0517271455 5.0
running... 0517277865 5.0
running... 0632243363 5.0
running... 0626162348 6.0
running... 0632146600 7.0
running... 0514184770 8.0
running... 027369838 9.0
running... 023081515 10.0
running... 0415890116 11.0
running... 025565527 12.0
running... 025565527 12.0
running... 0317071158 12.0
running... 028388001 12.0
running... 0553350312 13.0
running... 07079632935 14.0
running... 07079708535 15.0
running... 0425315342 16.0
running... 0534271862 17.0
running... 0415742552 17.0
running... 0327773577 17.0
running... 07049876076 18.0
running... 024710701 19.0
running... 0220397777 20.0
Wall time: 3min 50s

In [27]:
r = pd.DataFrame(result)

In [33]:
count = 0
for idx in r.index:
    if r[1][idx] == '':
        count+=1
count/ len(r) * 100

0.0