In [1]:
import pandas as pd

In [2]:
hana = pd.read_pickle('HANA_JJW_NOMAP.pk')

In [36]:
len(hana)

463917

In [38]:
len(hana.TEL.unique())

334970

In [3]:
hana.head()

,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN
116,117,700005704,1,2420900382,노가리비어(강서1호점),0430000000,2601,주점,993685.9,1847361.806,36.62410560243727,127.4293820758067,wyd87epnzu45,None
287,288,700015396,1,6280500462,코그커피(COG),0000000,2305,서양음식,1099658.032,1763591.197,35.863815412233215,128.60382715504815,wy7kn2y3y7gb,None
409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None
410,411,700019333,1,2243100181,신도DNS,,3203,사무용OA기기,960323.914,1950241.319,37.55065848865481,127.05082266222294,wydme5gs6wpf,None
427,428,700020316,1,4163400160,올리비아핸즈,00000000000,5302,기타잡화,1039783.617,1927980.339,37.350005305816424,127.94919324936113,wydurx3g839k,None

In [74]:
head = hana.head()

In [76]:
head['valid'] = 0

C:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
head

,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,valid
116,117,700005704,1,2420900382,노가리비어(강서1호점),0430000000,2601,주점,993685.9,1847361.806,36.62410560243727,127.4293820758067,wyd87epnzu45,None,0
287,288,700015396,1,6280500462,코그커피(COG),0000000,2305,서양음식,1099658.032,1763591.197,35.863815412233215,128.60382715504815,wy7kn2y3y7gb,None,0
409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,0
410,411,700019333,1,2243100181,신도DNS,,3203,사무용OA기기,960323.914,1950241.319,37.55065848865481,127.05082266222294,wydme5gs6wpf,None,0
427,428,700020316,1,4163400160,올리비아핸즈,00000000000,5302,기타잡화,1039783.617,1927980.339,37.350005305816424,127.94919324936113,wydurx3g839k,None,0

In [78]:
hana['valid'] = 0

In [79]:
hana.head()

,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,valid
116,117,700005704,1,2420900382,노가리비어(강서1호점),0430000000,2601,주점,993685.9,1847361.806,36.62410560243727,127.4293820758067,wyd87epnzu45,None,0
287,288,700015396,1,6280500462,코그커피(COG),0000000,2305,서양음식,1099658.032,1763591.197,35.863815412233215,128.60382715504815,wy7kn2y3y7gb,None,0
409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,0
410,411,700019333,1,2243100181,신도DNS,,3203,사무용OA기기,960323.914,1950241.319,37.55065848865481,127.05082266222294,wydme5gs6wpf,None,0
427,428,700020316,1,4163400160,올리비아핸즈,00000000000,5302,기타잡화,1039783.617,1927980.339,37.350005305816424,127.94919324936113,wydurx3g839k,None,0

In [80]:
hana = hana.reset_index()

In [1]:
hana.TEL.unique()

NameError: name 'hana' is not defined

In [4]:
len(hana)

463917

In [9]:
path = 'C:\chromedriver.exe'
driver = webdriver.Chrome(path)

In [42]:
def naver_search(phone_num):
    driver.get('https://map.naver.com/')
    driver.implicitly_wait(3)
    input = driver.find_element_by_id('search-input')
    input.clear()
    input.send_keys(phone_num)
    input.send_keys(keys.Keys.ENTER)
    driver.implicitly_wait(3)
    text = driver.find_element_by_xpath('//*[@id="panel"]/div[2]/div[1]/div[2]/div[2]').text
    text = text.split('\n')
    for t in text:
        if '검색결과가 없습니다' in t:
            return -1
    return 1

In [60]:
text

['검색결과가 없습니다.']

In [29]:
%%time
hana = pd.read_pickle('HANA_JJW_NOMAP.pk')
hana = hana.reset_index()
hana['valid'] = 0
count = 0
result = 0
print(len(hana.TEL.unique()))
for phone_num in hana.TEL.unique():
    count += 1    
    if count % 100 == 0:
        print('running...', phone_num, count / 100)
        time.sleep(1)
    
    html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
    data = urlopen(html, timeout = 1000)
    resp = json.loads(data.read())
    
    try:
        r = pd.DataFrame(resp)
        r = pd.DataFrame(r['data'][0])
        if r['results']['totalCount'] == 0:
            text = whowho_search(phone_num)
            if text == -1:
#                 print(phone_num)
                hana[hana.TEL == phone_num] = hana[hana.TEL == phone_num].replace({'valid':0}, -1)
                result += len(hana[hana.TEL == phone_num])
                print(result)
            else:
                hana[hana.TEL == phone_num] = hana[hana.TEL == phone_num].replace({'valid':0}, 1)
        else:
#             r = pd.DataFrame(r['results']['result'])
#             r = pd.DataFrame(r['field'][0])
#             info = []
#             info = r['value']
            print (r['value'][1])
            result += len(hana[hana.TEL == phone_num])
            print(result)
            hana[hana.TEL == phone_num] = hana[hana.TEL == phone_num].replace({'valid':0}, 1)
    except:
        hana[hana.TEL == phone_num] = hana[hana.TEL == phone_num].replace({'valid':0}, -1)

334970
711
715
765
1133
2648
2674
6858
8510
8583
8602
9101
9131
9206
10613
11610
12331
12980
13097
13099
13101
13701
13710
13857
13860
13907
13909
13925
13940
13944
13945
13951
13952
13953
13955
13956
13957
13958
13959
13960
13962
13964
13966
13968
13970
13972
13974
13975
13983
13985
13987
13989
13991
13993
13995
13997
13999
14005
14007
14009
14011
14013
14015
14017
14019
14024
14028
14032
14034
14036
14037
running... 0518079180 1.0
14038
14039
14041
14043
14045
14047
14057
14059
14061
14063
14065
14067
14069
14070
14072
14074
14076
14078
14080
14082
14088
14090
14092
14094
14096

KeyboardInterrupt:

In [19]:
result

14038

In [21]:
hana[0:100]

,index,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,valid
0,116,117,700005704,1,2420900382,노가리비어(강서1호점),0430000000,2601,주점,993685.9,1847361.806,36.62410560243727,127.4293820758067,wyd87epnzu45,None,-1
1,287,288,700015396,1,6280500462,코그커피(COG),0000000,2305,서양음식,1099658.032,1763591.197,35.863815412233215,128.60382715504815,wy7kn2y3y7gb,None,-1
2,409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,0
3,410,411,700019333,1,2243100181,신도DNS,,3203,사무용OA기기,960323.914,1950241.319,37.55065848865481,127.05082266222294,wydme5gs6wpf,None,-1
4,427,428,700020316,1,4163400160,올리비아핸즈,00000000000,5302,기타잡화,1039783.617,1927980.339,37.350005305816424,127.94919324936113,wydurx3g839k,None,-1
5,453,454,700021921,1,4525200118,쥬씨인천구월점,0310000000,2305,서양음식,929386.901,1938672.977,37.4445437248903,126.7017163902061,wydj50t67bz7,None,0
6,458,459,700022163,1,1271480626,닉PC방,03100000000,8310,기타레져업소,960738.136,1964356.566,37.6779000523694,127.0547540615275,wydq75n3wmeh,None,-1
7,759,760,700035415,1,8253100233,아시아마트(ASIAMART),0530000000,5201,슈퍼마켓,1088993.195,1761901.017,35.84960593105841,128.48552984590734,wy77gy0r1ffv,None,-1
8,830,831,700038991,1,1756700118,모던보이,000000000000,1602,미용원,998411.967,1851920.877,36.66522509016951,127.48222973540278,wyd8sftwrm25,None,-1
9,1246,1247,700058308,1,1434900193,비노수아브(Vinosuave),0530000000,5302,기타잡화,1096715.837,1761283.563,35.84330802463282,128.5709643341495,wy77vtnd2sgs,None,-1
10,1257,1258,700058616,1,2063186162,넷도날드pc,020000000,8310,기타레져업소,960617.373,1951882.409,37.56546272343814,127.05405670683952,wydmentfwjg1,None,-1
11,1604,1605,700074874,1,6936700111,쥬씨(서울대녹두거리점),020000000,2305,서양음식,950315.03,1941378.134,37.470287281297615,126.93811464368642,wydm0t380ryd,None,-1
12,1706,1707,700079726,1,5773100033,스토리PC방,03100000000,8310,기타레져업소,.,.,0,0,7zzzzzzzzzzz,None,-1
13,1792,1793,700084074,1,2052423040,제노피시방,0200000000,8310,기타레져업소,958566.342,1953310.372,37.57824330906903,127.03075211311679,wydmf8uvph60,None,-1
14,1844,1845,700085971,1,4281900267,청진동해장국,0000000000,2301,일반한식,985167.472,1923098.414,37.30673445618675,127.33262287724915,wyds1x2z3pm5,None,-1
15,1850,1851,700086181,1,7132900219,미스터오징어(청북점),020000000,2303,일식·회집,.,.,0,0,7zzzzzzzzzzz,None,-1
16,1869,1870,700087244,1,5587100076,쥬씨동대문맥스타일점,020000000,2305,서양음식,956775.072,1952264.61,37.56873523841153,127.01052783424235,wydmdpnjxzcg,None,-1
17,1927,1928,700090165,1,5597300068,"마눌림숯불갈비,통닭",000000000000,2301,일반한식,968364.398,1917748.217,37.25808865829736,127.14323938127453,wyd7vnwuh5ne,None,-1
18,2279,2280,700107653,1,6561200451,한국통닭,020000000,2301,스넥,960866.318,1954706.027,37.590923387528555,127.05672467020224,wydmg5pzh208,None,-1
19,2295,2296,700108704,1,3020651784,임선장,020000000,2301,일반한식,985594.833,1817892.326,36.35834533450536,127.33943976753798,wy6wcdvf8nb3,None,-1
20,2358,2359,700111508,1,6653300315,예스닭강정(역곡점),000000000,2301,일반한식,939205.343,1943451.404,37.48830956641205,126.81231192750896,wydjm8tcjp3m,None,-1
21,2369,2370,700111873,1,7016600093,카카오츄로한남대점,00000000000,2305,서양음식,993412.775,1817097.947,36.35126900691309,127.42658530218007,wy6wg9t1qxsw,None,-1
22,2474,2475,700117162,1,8130900340,몰리브레드,0000000000,2501,제과점,1039591.37,1927915.947,37.34943312293183,127.94701922497646,wydurx20jwuq,None,-1
23,2811,2812,700135137,1,7375300146,팬도로시한양대점,,2301,일반한식,959990.065,1950669.703,37.554505205751134,127.04701985961628,wydmeh8ff5hj,None,-1
24,2855,2856,700138060,1,6083518228,이대마라탕,020000000,2302,중국식,950754.301,1951184.862,37.558700966833435,126.94242490283595,wydm8tkekckd,None,-1
25,3015,3016,700148072,1,3112400323,에스에이치그룹강남곱창이야기,0200000000,2301,일반한식,957948.474,1945462.475,37.50747992057298,127.02420454810681,wydm6s00ympb,None,-1
26,3370,3371,700166728,1,1684700179,파스타바니타,0530000000,2301,일반한식,1061422.513,1791816.789,36.12142260932886,128.18254885683805,wy7jkzewtc5y,None,-1
27,3444,3445,700171613,1,7301200351,경주불국사점다이소,,5302,기타잡화,1163219.894,1754501.472,35.77337266406429,129.30573831590286,wy7gw2me4048,None,-1
28,3499,3500,700175591,1,2130723480,바베고,020000000,2301,일반한식,949215.597,1955802.572,37.600237244661514,126.92468384748929,wydmbhztr2pz,None,-1
29,3783,3784,700191456,1,2055371329,커피클라우드,0000000000,2305,서양음식,1143227.01,1676698.514,35.07522268567678,129.0709542751369,wy5z914xgprj,None,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,8317,8318,700444728,1,5070628646,동경야시장신천1호점,0200000000,2301,일반한식,963262.718,1945794.258,37.510697306325646,127.08431486234927,wydm7uegxhv3,None,-1
71,8452,8453,700451443,1,2960900486,코기리스크린골프,05500000000,8309,골프연습장,1110770.703,1703761.697,35.32328879130486,128.71868553239136,wy78cn6j4f23,None,0
72,8484,8485,700453590,1,8530600463,엠투,00000000000,2305,서양음식,986262.014,1817163.839,36.35178751141052,127.34688901602927,wy6wcceht86g,None,-1
73,8671,8672,700462823,1,5703900023,노상5권공영주차장,0310000000,6701,주차장,.,.,0,0,7zzzzzzzzzzz,None,0
74,8728,8729,700466097,1,5570700543,비더테이블(B.THETABLE),00000000000,2305,서양음식,1096879.9,1687755.955,35.180432717003214,128.5639984918336,wy72js3ky7cr,None,-1
75,8736,8737,700466259,1,6344400170,종로맥가송강점,00000000000,2301,일반한식,989857.29,1826246.066,36.43371144159938,127.38683996664523,wy6x6b83b806,None,-1
76,8899,8900,700474669,1,7302000282,킴스어패럴,0000000000,1106,정장(여성),999.321,1943435.537,36.95702713365503,116.29825483680624,wwddnrvf3c0n,None,-1
77,9434,9435,700501562,1,2121834879,콜로세움PC카페,03100000000,8310,기타레져업소,973668.744,1949000.166,37.53994945293461,127.20194314801482,wydmw9cwh1g3,None,-1
78,9854,9855,700522148,1,1020266127,골목길,0310000000,2301,일반한식,953778.871,1919750.305,37.27552492738992,126.97863648868172,wydk13z18tmz,None,0
79,9926,9927,700526107,1,7181000454,무한장어연구소,,2301,일반한식,1042013.913,1926852.668,37.33974263841004,127.97431061582317,wyeh2jkpc8d2,None,-1
80,10087,10088,700536403,1,8553000256,버드내분식,000000000000,2301,일반한식,956780.836,1918066.491,37.26049182805839,127.01259463052541,wyd7fppdpgng,None,-1
81,10111,10112,700537395,1,3412800297,몬탁(montauk),0200000000,2301,일반한식,958987.996,1947577.203,37.526587481231815,127.03584790388108,wydm6z88jycv,None,-1
82,10166,10167,700540727,1,6433800213,카페인스테이션,0200000000,2305,서양음식,953149.622,1949049.137,37.53957620093552,126.96968078205941,wydm93b7zupy,None,-1
83,10255,10256,700545051,1,1653900160,목림푸드,05300000000,2301,일반한식,.,.,0,0,7zzzzzzzzzzz,None,-1
84,10322,10323,700548074,1,3373500302,삼돌이가게맥주,020000000,2601,주점,989956.935,1815769.369,36.3392614675426,127.38808712132605,wy6wdz35t966,None,-1
85,10386,10387,700551063,1,1201790522,로그타운PC방,0510000000,8310,기타레져업소,1155835.301,1694931.966,35.23769416527222,129.21263472011196,wy7bkqcf2w79,None,-1
86,10590,10591,700560168,1,7849700170,알뜰청과,0610000000,2103,농·축·수산품,931757.42,1776792.369,35.98552060162711,126.74296805141877,wy6hsngqv5nx,None,0
87,10961,10962,700577659,1,1763800085,쿤니들,00000000000,1401,액세서리,933789.488,1968141.364,37.710461307230844,126.74882026066867,wydns0zxme6r,None,-1
88,10993,10994,700579198,1,2032850608,감지국수,,2301,일반한식,963932.25,1926621.281,37.33790706585139,127.09282740214283,wydkkj4jjd2g,None,-1
89,11016,11017,700581073,1,7260400420,웨스트우드보은점,020000000,8105,스포츠·레져용품,1019487.185,1832085.902,36.48621431102163,127.71756083354678,wy6zd615dg7f,None,-1
90,11033,11034,700581722,1,7325400115,리코스타pc카페,020000000,8310,기타레져업소,962370.69,1962668.141,37.66275045466407,127.07335455649996,wydq787crv8c,None,-1
91,11039,11040,700581900,1,7392100379,베를린키친,0200000000,2305,서양음식,947484.527,1950769.58,37.55477735840083,126.90543501660757,wydjxu9sqvyv,None,-1
92,11106,11107,700585132,1,2085400188,죽앤카페,020000000,2305,서양음식,941958.122,1951222.223,37.5585253859576,126.84283442201117,wydjwmk4k286,None,-1
93,11283,11284,700592723,1,4684000217,아웃도어키친,00000000000,2301,일반한식,949402.018,1935816.774,37.42011152665577,126.92817152741684,wydkbk47by2k,None,-1
94,11362,11363,700596792,1,2877100062,백채김치찌개,0000000000,2301,일반한식,927729.052,1961141.349,37.64691580388178,126.68076289279213,wydn4tqj5tz0,None,-1
95,11611,11612,700610974,1,3712300162,아이엔락,0510000000,8310,기타레져업소,1138563.182,1679807.211,35.103896632990065,129.0203364360729,wy5xxymxp8xs,None,-1
96,11962,11963,700627927,1,2319200220,플레르비,00000000000,8110,화원,967079.99,1760718.261,35.84243082352057,127.13546462461723,wy67vhcjr13k,None,-1
97,12067,12068,700633297,1,5789500299,호식이네청과,0430000000,2103,농·축·수산품,996131.447,1846629.114,36.61751345265086,127.45673715397784,wyd8k650mpr8,None,-1
98,12332,12333,700647155,1,4684100311,종로맥가대전죽동점,00000000000,2301,일반한식,985578.115,1819326.738,36.37127682167959,127.33922682897783,wy6wctjw513t,None,-1
99,12422,12423,700652153,1,5386000168,베스트올편의점,020000000,5202,편의점,967308.502,1947580.391,37.52694875515666,127.13001280630802,wydmkzt62420,None,-1

In [95]:
hana.head()

,index,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,valid
0,116,117,700005704,1,2420900382,노가리비어(강서1호점),0430000000,2601,주점,993685.9,1847361.806,36.62410560243727,127.4293820758067,wyd87epnzu45,None,-1
1,287,288,700015396,1,6280500462,코그커피(COG),0000000,2305,서양음식,1099658.032,1763591.197,35.863815412233215,128.60382715504815,wy7kn2y3y7gb,None,-1
2,409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,-1
3,410,411,700019333,1,2243100181,신도DNS,,3203,사무용OA기기,960323.914,1950241.319,37.55065848865481,127.05082266222294,wydme5gs6wpf,None,-1
4,427,428,700020316,1,4163400160,올리비아핸즈,00000000000,5302,기타잡화,1039783.617,1927980.339,37.350005305816424,127.94919324936113,wydurx3g839k,None,-1

In [48]:
result = pd.DataFrame(result, columns = ['valid'])

In [69]:
hana_100 = hana.head(100).reset_index()
hana_100[hana_100.MER_NAME == '딥벨리데이션']

Empty DataFrame
Columns: [index, ID, HANA_ID, STATUS, BUSINESS_NUM, MER_NAME, TEL, MER_TYPE3, MER_TYPE3_NAME, X, Y, LAT, LON, GEOHASH, MER_NAME_SYN]
Index: []

In [34]:
%%time
hana = pd.read_pickle('HANA_JJW_NOMAP.pk')
hana = hana.reset_index()
hana['valid'] = 0
count = 0
num_pair = {}
print(len(hana.TEL.unique()))
for phone_num in hana.TEL:
    count += 1    
    if count % 100 == 0:
        print('running...', phone_num, count / 100)
        time.sleep(1)
    try:
        if num_pair[phone_num] != 0:
            continue
    except:
        html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
        data = urlopen(html, timeout = 1000)
        resp = json.loads(data.read())

        try:
            r = pd.DataFrame(resp)
            r = pd.DataFrame(r['data'][0])
            if r['results']['totalCount'] == 0:
                text = whowho_search(phone_num)
                if text == -1:
                    num_pair.update({phone_num:-1})
                    
                else:
                    num_pair.update({phone_num:1})
            else:
    #             r = pd.DataFrame(r['results']['result'])
    #             r = pd.DataFrame(r['field'][0])
    #             info = []
    #             info = r['value']
                print (r['value'][1])
                num_pair.update({phone_num:1})
        except:
            num_pair.update({phone_num:-1})

334970
running... 020000000 1.0
running... 0200000000 2.0
running... 020000000 3.0
running... 00000000 4.0
running... 05500000000 5.0
running... 020000000 6.0
running... 0530000000 7.0
running... 0420000000 8.0
running... 0310000000 9.0
running... 0410000000 10.0
running... 06400000000 11.0
running... 020000000 12.0
running... 020000000 13.0
running... 0310000000 14.0
running... 020000000 15.0
running... 0640000000 16.0
running... 0310000000 17.0
running... 0330000000 18.0
running... 020000000 19.0
running... 020000000 20.0
running... 0540000000 21.0
running... 0640000000 22.0
running... 0310000000 23.0
running... 0530000000 24.0
running... 020000000 25.0
running... 0540000000 26.0
running... 0640000000 27.0
running... 020000000 28.0
running... 020000000 29.0
running... 020000000 30.0
running... 0630000000 31.0
running... 020000000 32.0
running... 0440000000 33.0
running... 0550000000 34.0
running... 0310000000 35.0
running... 0510000000 36.0
running... 0200000000 37.0
running... 0550000000 38.0
running... 0520000000 39.0
running... 0420000000 40.0
running... 0550000000 41.0
running... 0310000000 42.0
running... 07000000000 43.0
running... 05400000000 44.0
running... 0200000000 45.0
running... 0200000000 46.0
running... 0510000000 47.0
running... 020000000 48.0
running... 04100000000 49.0
running... 0530000000 50.0
running... 0430000000 51.0
running... 020000000 52.0
running... 0530000000 53.0
running... 0330000000 54.0
running... 0310000000 55.0
running... 0530000000 56.0
running... 0310000000 57.0
running... 0430000000 58.0
running... 03100000000 59.0
running... 020000000 60.0
running... 0200000000 61.0
running... 020000000 62.0
running... 0310000000 63.0
running... 0510000000 64.0
running... 0200000000 65.0
running... 020000000 66.0
running... 03100000000 67.0
running... 0420000000 68.0
running... 0310000000 69.0
running... 0200000000 70.0
running... 0610000000 71.0
running... 020000000 72.0
running... 0310000000 73.0
running... 0540000000 74.0
running... 07000000000 75.0
running... 0330000000 76.0
running... 020000000 77.0
running... 0310000000 78.0
running... 0630000000 79.0
running...  80.0
running... 04200000000 81.0
running...  82.0
running...  83.0
running...  84.0
running...  85.0
running...  86.0
running...  87.0
running...  88.0
running...  89.0
running...  90.0
running...  91.0
running...  92.0
running...  93.0
running...  94.0
running...  95.0
running...  96.0
running...  97.0
running...  98.0
running...  99.0
running...  100.0
running...  101.0
running...  102.0
running...  103.0
running...  104.0
running...  105.0
running...  106.0
running...  107.0
running...  108.0
running...  109.0
running...  110.0
running...  111.0
running...  112.0
running...  113.0
running...  114.0
running...  115.0
running...  116.0
running...  117.0
running...  118.0
running...  119.0
running...  120.0
running...  121.0
running...  122.0
running...  123.0
running...  124.0
running...  125.0
running...  126.0
running...  127.0
running...  128.0
running...  129.0
running...  130.0
running...  131.0
running...  132.0
running...  133.0
running...  134.0
running...  135.0
running...  136.0
running...  137.0
running...  138.0
running...  139.0
running...  140.0
running...  141.0
running...  142.0
running...  143.0
running...  144.0
running...  145.0
running...  146.0
running...  147.0
running...  148.0
running...  149.0
running...  150.0
running...  151.0
running...  152.0
running...  153.0
running...  154.0
running...  155.0
running...  156.0
running...  157.0
running...  158.0
running...  159.0
running...  160.0
running...  161.0
running...  162.0
running...  163.0
running...  164.0
running...  165.0
running...  166.0
running...  167.0
running...  168.0
running...  169.0
running...  170.0
running...  171.0
running...  172.0
running...  173.0
running...  174.0
running...  175.0
running...  176.0
running...  177.0
running...  178.0
running...  179.0
running...  180.0
running...  181.0
running...  182.0
running...  183.0
running...  184.0
running...  185.0
running...  186.0
running...  187.0
running...  188.0
running... 0320000000 189.0
running... 0530000000 190.0
running...  191.0
running... 03100000000 192.0
running... 020000000 193.0
running... 0310000000 194.0
running... 0310000000 195.0
running... 0550000000 196.0
running... 0200000000 197.0
running... 020000000 198.0
running... 020000000 199.0
running... 0510000000 200.0
running... 020000000 201.0
running... 0310000000 202.0
running... 0310000000 203.0
running... 0310000000 204.0
running... 020000000 205.0
running... 05400000000 206.0
running... 0330000000 207.0
running... 0620000000 208.0
running... 020000000 209.0
running... 0200000000 210.0
running... 0620000000 211.0
running... 020000000 212.0
running... 0410000000 213.0
running... 020000000 214.0
running... 0420000000 215.0
running... 0310000000 216.0
running... 020000000 217.0
running... 020000000 218.0
running... 0410000000 219.0
running... 0310000000 220.0
running... 0310000000 221.0
running... 0310000000 222.0
running... 07000000000 223.0
running... 0530000000 224.0
running... 0310000000 225.0
running... 0630000000 226.0
running... 0530000000 227.0
running... 0550000000 228.0
running... 020000000 229.0
running... 0200000000 230.0
running... 0330000000 231.0
running... 0310000000 232.0
running... 0510000000 233.0
running... 020000000 234.0
running... 0540000000 235.0
running... 0420000000 236.0
running... 0320000000 237.0
running... 0510000000 238.0
running... 0640000000 239.0
running... 0310000000 240.0
running... 0310000000 241.0
running... 0410000000 242.0
running... 0630000000 243.0
running... 0200000000 244.0
running... 0310000000 245.0
running... 0530000000 246.0
running... 020000000 247.0
running... 03100000000 248.0
running... 0200000000 249.0
running... 020000000 250.0
running... 0410000000 251.0
running... 0630000000 252.0
running... 0310000000 253.0
running... 020000000 254.0
running... 0510000000 255.0
running... 0620000000 256.0
running... 020000000 257.0
running... 0530000000 258.0
running... 020000000 259.0
running... 0610000000 260.0
running... 020000000 261.0
running... 0540000000 262.0
running... 0620000000 263.0
running... 0320000000 264.0
running... 0310000000 265.0
running... 07000000000 266.0
running... 0530000000 267.0
running... 0310000000 268.0
running... 020000000 269.0
running... 0310000000 270.0
running... 05100000000 271.0
running... 0310000000 272.0
running... 0620000000 273.0
running... 0410000000 274.0
running... 0310000000 275.0
running... 0310000000 276.0
running... 0320000000 277.0
running... 07000000000 278.0
running... 06300000000 279.0
running... 0430000000 280.0
running... 020000000 281.0
running... 020000000 282.0
running... 0530000000 283.0
running... 0640000000 284.0
running... 0620000000 285.0
running... 0510000000 286.0
running... 0530000000 287.0
running... 020000000 288.0
running... 0530000000 289.0
running... 0640000000 290.0
running... 0510000000 291.0
running... 0420000000 292.0
running... 0200000000 293.0
running... 0310000000 294.0
running... 0310000000 295.0
running... 0550000000 296.0
running... 0640000000 297.0
running... 0420000000 298.0
running... 020000000 299.0
running... 0540000000 300.0
running... 0310000000 301.0
running... 0310000000 302.0
running... 0620000000 303.0
running... 0310000000 304.0
running... 0530000000 305.0
running... 0530000000 306.0
running... 0530000000 307.0
running... 0310000000 308.0
running... 0510000000 309.0
running... 0200000000 310.0
running... 03100000000 311.0
running... 0330000000 312.0
running... 03100000000 313.0
running... 020000000 314.0
running... 0310000000 315.0
running... 07000000000 316.0
running... 0330000000 317.0
running... 0200000000 318.0
running... 0530000000 319.0
running... 0200000000 320.0
running... 0610000000 321.0
running... 0510000000 322.0
running... 07000000000 323.0
running... 05100000000 324.0
running... 020000000 325.0
running... 020000000 326.0
running... 0530000000 327.0
running... 0550000000 328.0
running... 0320000000 329.0
running... 03200000000 330.0
running... 0200000000 331.0
running... 020000000 332.0
running... 0530000000 333.0
running... 03200000000 334.0
running... 01071907046 335.0
running... 0319651724 336.0
running... 0538187136 337.0
running... 0638339503 338.0
running... 01030748661 339.0
running... 0622615754 340.0
running... 0415909544 341.0
running... 0415741123 342.0
running... 07025898615 343.0
running... 023947496 344.0
running... 028488460 345.0
running... 01038868626 346.0
running... 0638330617 347.0

KeyboardInterrupt

In [35]:
len(num_pair)

1296

In [48]:
s = pd.Series(num_pair, name='Valid')

In [49]:
s.index.name = 'TEL'
s = s.reset_index()
s

               TEL  Valid
0                      -1
1          0000000     -1
2         00000000     -1
3        000000000     -1
4       0000000000     -1
5      00000000000     -1
6     000000000000     -1
7     000016000125     -1
8       0016703357     -1
9       0018771221     -1
10     01020110239     -1
11     01020217288     -1
12     01020236999     -1
13     01020339705     -1
14     01020653337     -1
15     01020812661     -1
16     01020852345     -1
17     01021902295     -1
18     01022047019     -1
19     01022058900     -1
20     01022598000     -1
21     01022756364     -1
22     01023664756     -1
23     01023693596     -1
24     01023918951     -1
25     01024077706     -1
26     01024464217     -1
27     01024703900     -1
28     01025178690     -1
29     01025280745     -1
...            ...    ...
1266   07087686031     -1
1267   07087826859     -1
1268   07087893912     -1
1269   07088030780     -1
1270   07088051271     -1
1271   07088189595     -1
1272   07088311300     -1
1273   07088701113     -1
1274   07088738111     -1
1275   07088830151     -1
1276   07088861479     -1
1277   07088889480     -1
1278   07088894546     -1
1279   07089082222     -1
1280   07089113676     -1
1281   07089474490     -1
1282   07089486963     -1
1283   07089487234     -1
1284   07089591238     -1
1285   07089701012     -1
1286   07091141804     -1
1287   07094110556     -1
1288   07094561468     -1
1289   07094705605     -1
1290   07099811021     -1
1291    0789502233     -1
1292    0800000000      1
1293    0860129988     -1
1294    2415222241     -1
1295     318832905     -1

[1296 rows x 2 columns]

In [52]:
r = pd.merge(hana, s, on = 'TEL')

In [54]:
len(r[r.Valid == -1])

27967

In [65]:
r[r.Valid == None]

Empty DataFrame
Columns: [index, ID, HANA_ID, STATUS, BUSINESS_NUM, MER_NAME, TEL, MER_TYPE3, MER_TYPE3_NAME, X, Y, LAT, LON, GEOHASH, MER_NAME_SYN, valid, Valid]
Index: []

In [66]:
r = hana.join(s.set_index('TEL'), on='TEL')
r

,index,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,valid,Valid
0,116,117,700005704,1,2420900382,노가리비어(강서1호점),0430000000,2601,주점,993685.9,1847361.806,36.62410560243727,127.4293820758067,wyd87epnzu45,None,0,-1.0
1,287,288,700015396,1,6280500462,코그커피(COG),0000000,2305,서양음식,1099658.032,1763591.197,35.863815412233215,128.60382715504815,wy7kn2y3y7gb,None,0,-1.0
2,409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,0,1.0
3,410,411,700019333,1,2243100181,신도DNS,,3203,사무용OA기기,960323.914,1950241.319,37.55065848865481,127.05082266222294,wydme5gs6wpf,None,0,-1.0
4,427,428,700020316,1,4163400160,올리비아핸즈,00000000000,5302,기타잡화,1039783.617,1927980.339,37.350005305816424,127.94919324936113,wydurx3g839k,None,0,-1.0
5,453,454,700021921,1,4525200118,쥬씨인천구월점,0310000000,2305,서양음식,929386.901,1938672.977,37.4445437248903,126.7017163902061,wydj50t67bz7,None,0,1.0
6,458,459,700022163,1,1271480626,닉PC방,03100000000,8310,기타레져업소,960738.136,1964356.566,37.6779000523694,127.0547540615275,wydq75n3wmeh,None,0,-1.0
7,759,760,700035415,1,8253100233,아시아마트(ASIAMART),0530000000,5201,슈퍼마켓,1088993.195,1761901.017,35.84960593105841,128.48552984590734,wy77gy0r1ffv,None,0,-1.0
8,830,831,700038991,1,1756700118,모던보이,000000000000,1602,미용원,998411.967,1851920.877,36.66522509016951,127.48222973540278,wyd8sftwrm25,None,0,-1.0
9,1246,1247,700058308,1,1434900193,비노수아브(Vinosuave),0530000000,5302,기타잡화,1096715.837,1761283.563,35.84330802463282,128.5709643341495,wy77vtnd2sgs,None,0,-1.0
10,1257,1258,700058616,1,2063186162,넷도날드pc,020000000,8310,기타레져업소,960617.373,1951882.409,37.56546272343814,127.05405670683952,wydmentfwjg1,None,0,-1.0
11,1604,1605,700074874,1,6936700111,쥬씨(서울대녹두거리점),020000000,2305,서양음식,950315.03,1941378.134,37.470287281297615,126.93811464368642,wydm0t380ryd,None,0,-1.0
12,1706,1707,700079726,1,5773100033,스토리PC방,03100000000,8310,기타레져업소,.,.,0,0,7zzzzzzzzzzz,None,0,-1.0
13,1792,1793,700084074,1,2052423040,제노피시방,0200000000,8310,기타레져업소,958566.342,1953310.372,37.57824330906903,127.03075211311679,wydmf8uvph60,None,0,-1.0
14,1844,1845,700085971,1,4281900267,청진동해장국,0000000000,2301,일반한식,985167.472,1923098.414,37.30673445618675,127.33262287724915,wyds1x2z3pm5,None,0,-1.0
15,1850,1851,700086181,1,7132900219,미스터오징어(청북점),020000000,2303,일식·회집,.,.,0,0,7zzzzzzzzzzz,None,0,-1.0
16,1869,1870,700087244,1,5587100076,쥬씨동대문맥스타일점,020000000,2305,서양음식,956775.072,1952264.61,37.56873523841153,127.01052783424235,wydmdpnjxzcg,None,0,-1.0
17,1927,1928,700090165,1,5597300068,"마눌림숯불갈비,통닭",000000000000,2301,일반한식,968364.398,1917748.217,37.25808865829736,127.14323938127453,wyd7vnwuh5ne,None,0,-1.0
18,2279,2280,700107653,1,6561200451,한국통닭,020000000,2301,스넥,960866.318,1954706.027,37.590923387528555,127.05672467020224,wydmg5pzh208,None,0,-1.0
19,2295,2296,700108704,1,3020651784,임선장,020000000,2301,일반한식,985594.833,1817892.326,36.35834533450536,127.33943976753798,wy6wcdvf8nb3,None,0,-1.0
20,2358,2359,700111508,1,6653300315,예스닭강정(역곡점),000000000,2301,일반한식,939205.343,1943451.404,37.48830956641205,126.81231192750896,wydjm8tcjp3m,None,0,-1.0
21,2369,2370,700111873,1,7016600093,카카오츄로한남대점,00000000000,2305,서양음식,993412.775,1817097.947,36.35126900691309,127.42658530218007,wy6wg9t1qxsw,None,0,-1.0
22,2474,2475,700117162,1,8130900340,몰리브레드,0000000000,2501,제과점,1039591.37,1927915.947,37.34943312293183,127.94701922497646,wydurx20jwuq,None,0,-1.0
23,2811,2812,700135137,1,7375300146,팬도로시한양대점,,2301,일반한식,959990.065,1950669.703,37.554505205751134,127.04701985961628,wydmeh8ff5hj,None,0,-1.0
24,2855,2856,700138060,1,6083518228,이대마라탕,020000000,2302,중국식,950754.301,1951184.862,37.558700966833435,126.94242490283595,wydm8tkekckd,None,0,-1.0
25,3015,3016,700148072,1,3112400323,에스에이치그룹강남곱창이야기,0200000000,2301,일반한식,957948.474,1945462.475,37.50747992057298,127.02420454810681,wydm6s00ympb,None,0,-1.0
26,3370,3371,700166728,1,1684700179,파스타바니타,0530000000,2301,일반한식,1061422.513,1791816.789,36.12142260932886,128.18254885683805,wy7jkzewtc5y,None,0,-1.0
27,3444,3445,700171613,1,7301200351,경주불국사점다이소,,5302,기타잡화,1163219.894,1754501.472,35.77337266406429,129.30573831590286,wy7gw2me4048,None,0,-1.0
28,3499,3500,700175591,1,2130723480,바베고,020000000,2301,일반한식,949215.597,1955802.572,37.600237244661514,126.92468384748929,wydmbhztr2pz,None,0,-1.0
29,3783,3784,700191456,1,2055371329,커피클라우드,0000000000,2305,서양음식,1143227.01,1676698.514,35.07522268567678,129.0709542751369,wy5z914xgprj,None,0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463887,2004065,2004066,00990657652,1,4128135230,나비골월송친환경영농조합법인,0613240883,2104,"농산물,청과물",.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463888,2004067,2004068,00990657769,1,6021114252,반하나핫도그,01067600388,2502,커피전문점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463889,2004069,2004070,00990658213,1,1704700279,킨더홀릭,0516130322,8202,기타오락.휴식시설,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463890,2004073,2004074,00990658833,1,3419400481,케이엠유통,0313473566,2102,"축산물,정육점",.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463891,2004076,2004077,00990659039,1,4082863542,한솔이네머리방,0318685615,1602,미용실(두발전문),.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463892,2004078,2004079,00990659120,1,4299700327,허우리야채,024848928,2104,"농산물,청과물",.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463893,2004081,2004082,00990659542,1,5514100438,더궁,0417335573,2305,서양식전문점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463894,2004083,2004084,00990659906,1,6781700683,참수육국밥의정부부대찌개,0415480486,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463895,2004086,2004087,00990660375,1,8400301150,아가페(AGAPE),01054615090,1401,기타잡화,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463896,2004088,2004089,00990660458,1,8507100216,이디야(건대스타시티2호점),0222183088,2502,커피전문점,.,.,0,0,7zzzzzzzzzzz,이디야커피건대스타시티2호점,0,NaN
463897,2004090,2004091,00990661381,1,6290101092,람스화장품,0246761356,1501,화장품,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463898,2004094,2004095,00990661829,1,8692300596,우당탕123,0226962459,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463899,2004095,2004096,00990662223,1,2221702251,행복한동행,0322137875,8111,"애완동물,용품(수족관)",.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463900,2004096,2004097,00990662256,1,2321400735,현대위아이룸재김보경헤어,07073578873,1602,미용실(두발전문),.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463901,2004098,2004099,00990663817,1,3501800778,코코스터디카페고척독서실,0220128500,7213,기타교육.교습.학원,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463902,2004099,2004100,00990663874,1,3620401211,케로스,0553229411,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463903,2004102,2004103,00990664708,1,4696000163,팔로우몰,03100000800,8117,완구,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463904,2004105,2004106,00990665002,1,5089767470,꿀집,01092069151,2201,건강보조식품,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463905,2004107,2004108,00990665119,1,5302800636,비둘기낭편의점,0315356023,2105,기타식음료품,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463906,2004109,2004110,00990665416,1,5822100701,토담골,027420067,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463907,2004110,2004111,00990665689,1,6110855989,맛세븐,0542757703,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463908,2004116,2004117,00990668220,1,1203300447,퀸노래타운,0625292718,8601,유흥주점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463909,2004121,2004122,00990669566,1,3810301063,세계로약국,0336623353,4402,약국,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463910,2004122,2004123,00990669574,1,3960401228,소유,0425422012,1106,일반의류,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463911,2004125,2004126,00990670556,1,1501100903,1916KTV노래연습장,01050461666,8402,노래방,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463912,2004131,2004132,00990673022,1,4693500384,와사비앤고(WASABINGO),0312075416,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463913,2004133,2004134,00990674202,1,6225100379,연식당,01092712767,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463914,2004136,2004137,00990674962,1,7600301010,송가네숯불구이,01063031543,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463915,2004137,2004138,00990675233,1,8050200995,쿨아이스천국신불당점,0415530506,2105,기타식음료품,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463916,2004138,2004139,00990675423,1,8340200917,돈스부리,0546558452,2303,일식전문점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN

In [72]:
r1 = r[r.Valid != -1]
r2 = r1[r1.Valid != 1]
r2

,index,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,valid,Valid
34736,6103,6104,700327978,1,1048136565,씨제이올리브네트웍스(주)광주양산점,0625795290,5202,편의점,943595.152,1690699.246,35.210060554482595,126.88029207915218,wy60r1z3mp4b,None,0,NaN
34737,6118,6119,700328557,1,7132100270,보리현미국수,023741571,2301,일반한식,960610.019,1945509.391,37.50802025070009,127.05431544160086,wydm7hnhh1sp,None,0,NaN
34738,6121,6122,700329092,1,5680100556,어썸버거,0534715776,2305,서양음식,1098852.042,1760952.133,35.84010721059008,128.59457430868565,wy77yhrxyb0r,None,0,NaN
34739,6126,6127,700329288,1,4852500257,김해뒷고기,0512075665,2301,일반한식,1133121.355,1679715.618,35.10380498274915,128.96063074935321,wy5xww6q2rxc,None,0,NaN
34740,6130,6131,700329669,1,5298800116,세종중공업주식회사,0436395011,9407,기계공구,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
34741,6131,6132,700329677,1,7255000161,노가리굼터,0236630423,2601,주점,940460.601,1952353.544,37.568626330723546,126.82578826465316,wydjtzptp59c,None,0,NaN
34742,6132,6133,700329693,1,6799400182,우리정육점,0325186697,2102,정육점,931637.296,1944377.319,37.496125414173186,126.72662550330178,wydj79zwb2ku,None,0,NaN
34743,6133,6134,700329756,1,5648100110,완도농수산물협동조합,0615524585,2103,농·축·수산품,929458.979,1594461.025,34.34139024243962,126.73306442725287,wy457gsjn7nh,None,0,NaN
34744,6136,6137,700329847,1,5680500383,투사랑,0622360287,2601,주점,947173.268,1684409.793,35.15354522258822,126.9200052407564,wy4rbps24rz1,None,0,NaN
34745,6141,6142,700330061,1,3154400100,하연정순두부,0518163935,2301,일반한식,1141952.903,1685580.475,35.15546423010854,129.05850830521197,wy5zbzce3jw8,None,0,NaN
34746,6145,6146,700330216,1,6429000294,한울독서실,0542492929,7213,독서실,1171582.792,1789015.185,36.08295372760487,129.40566516354087,wykj28wq6w1e,None,0,NaN
34747,6147,6148,700330241,1,3744500106,바다다,01065330852,2305,서양음식,900936.613,1472294.486,33.23740013229924,126.43671174134953,wvcvj4smuumq,None,0,NaN
34748,6152,6153,700330419,1,8951200401,꿈터로뎀카페,07048911071,2305,서양음식,950896.713,1942551.373,37.48089310888712,126.94461433958087,wydm0xnnpbvh,None,0,NaN
34749,6167,6168,700331310,1,6654000123,빅사이즈#,07043886936,1106,정장(여성),930169.484,1939991.673,37.45648840082685,126.71043782728991,wydj56exz5w2,None,0,NaN
34751,6177,6178,700331651,1,6601300229,덕발장,0312713002,2301,일반한식,967063.285,1935397.733,37.41713141523154,127.127782532382,wydkugeds4c4,None,0,NaN
34752,6184,6185,700332284,1,2053543663,소문난원가네감자탕,0313350704,2301,일반한식,973939.096,1909856.105,37.18712212174022,127.20638135898712,wyd7w9syew08,None,0,NaN
34753,6192,6193,700332703,1,2231307362,럭스헤어,07081414615,1602,미용원,961930.797,1949336.408,37.5425700193867,127.06906083638948,wydmed2v7dr1,None,0,NaN
34754,6193,6194,700332738,1,3160354381,안면도스쿨버스캠핑장매점,0416735666,2502,기타음료식품,895711.872,1839805.35,36.55031082545418,126.3347578481396,wy3zfvf0vpz0,None,0,NaN
34755,6201,6202,700333132,1,7293600207,카페더블링,025115129,2305,서양음식,958192.022,1946675.66,37.51842583530659,127.02689108565004,wydm6w40tj7p,None,0,NaN
34756,6203,6204,700333157,1,4386800054,카페비바(caf`evivant),029957834,2305,서양음식,959560.066,1961887.124,37.65559147861121,127.0415315729819,wydq4yuzdppb,None,0,NaN
34757,6220,6221,700334040,1,8760700371,노가리앤비어(성남중앙점),01054779820,2601,주점,969645.524,1938273.584,37.44314149346959,127.15684558375312,wydmj82f172p,None,0,NaN
34758,6229,6230,700334510,1,6290900366,소라샤브샤브칼국수,0226736632,2301,스넥,941888.018,1949617.245,37.54405531084708,126.84216789105493,wydjw6etuxpm,None,0,NaN
34759,6235,6236,700334958,1,4322400334,울트라멘,0315285512,2303,일식·회집,966863.361,1960960.964,37.647536510045434,127.12436942759214,wydqhv90u92n,None,0,NaN
34760,6236,6237,700334966,1,4513500137,토마토분식,01090934946,2301,스넥,954152.701,1907874.053,37.16849416828572,126.98358341144005,wyd73w6d5vw8,None,0,NaN
34761,6242,6243,700335158,1,8582300316,기브미피버(Givemefever),0264491412,2305,서양음식,948965.268,1951487.827,37.561334231227704,126.92214875393555,wydm8jvfskjw,None,0,NaN
34762,6243,6244,700335255,1,1533600166,소호,01062678861,1106,정장(여성),966936.723,1948836.066,37.53825343019025,127.1257487154562,wydmscdhhtse,None,0,NaN
34763,6244,6245,700335263,1,7955400120,대왕식당,0513618826,2301,일반한식,1137332.481,1693188.003,35.22468052501293,129.00906402462115,wy78rsmw9h67,None,0,NaN
34764,6245,6246,700335598,1,3672900205,그린청청,01043403500,3101,가전제품,1143640.517,1682606.976,35.12842195940986,129.07651349666688,wy5zc4ytuu2r,None,0,NaN
34765,6249,6250,700335652,1,3818500304,커피명가대구카톨릭대학교내점(산알베르토),0538570892,2305,서양음식,1117973.252,1768826.188,35.908967523032,128.8074210767349,wy7s7148ykwq,None,0,NaN
34766,6255,6256,700336016,1,1255700147,카페마마,01088442006,2305,서양음식,934272.239,1945476.425,37.50622292631342,126.75633353038083,wydjk7v1sdsy,None,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463887,2004065,2004066,00990657652,1,4128135230,나비골월송친환경영농조합법인,0613240883,2104,"농산물,청과물",.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463888,2004067,2004068,00990657769,1,6021114252,반하나핫도그,01067600388,2502,커피전문점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463889,2004069,2004070,00990658213,1,1704700279,킨더홀릭,0516130322,8202,기타오락.휴식시설,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463890,2004073,2004074,00990658833,1,3419400481,케이엠유통,0313473566,2102,"축산물,정육점",.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463891,2004076,2004077,00990659039,1,4082863542,한솔이네머리방,0318685615,1602,미용실(두발전문),.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463892,2004078,2004079,00990659120,1,4299700327,허우리야채,024848928,2104,"농산물,청과물",.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463893,2004081,2004082,00990659542,1,5514100438,더궁,0417335573,2305,서양식전문점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463894,2004083,2004084,00990659906,1,6781700683,참수육국밥의정부부대찌개,0415480486,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463895,2004086,2004087,00990660375,1,8400301150,아가페(AGAPE),01054615090,1401,기타잡화,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463896,2004088,2004089,00990660458,1,8507100216,이디야(건대스타시티2호점),0222183088,2502,커피전문점,.,.,0,0,7zzzzzzzzzzz,이디야커피건대스타시티2호점,0,NaN
463897,2004090,2004091,00990661381,1,6290101092,람스화장품,0246761356,1501,화장품,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463898,2004094,2004095,00990661829,1,8692300596,우당탕123,0226962459,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463899,2004095,2004096,00990662223,1,2221702251,행복한동행,0322137875,8111,"애완동물,용품(수족관)",.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463900,2004096,2004097,00990662256,1,2321400735,현대위아이룸재김보경헤어,07073578873,1602,미용실(두발전문),.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463901,2004098,2004099,00990663817,1,3501800778,코코스터디카페고척독서실,0220128500,7213,기타교육.교습.학원,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463902,2004099,2004100,00990663874,1,3620401211,케로스,0553229411,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463903,2004102,2004103,00990664708,1,4696000163,팔로우몰,03100000800,8117,완구,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463904,2004105,2004106,00990665002,1,5089767470,꿀집,01092069151,2201,건강보조식품,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463905,2004107,2004108,00990665119,1,5302800636,비둘기낭편의점,0315356023,2105,기타식음료품,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463906,2004109,2004110,00990665416,1,5822100701,토담골,027420067,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463907,2004110,2004111,00990665689,1,6110855989,맛세븐,0542757703,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463908,2004116,2004117,00990668220,1,1203300447,퀸노래타운,0625292718,8601,유흥주점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463909,2004121,2004122,00990669566,1,3810301063,세계로약국,0336623353,4402,약국,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463910,2004122,2004123,00990669574,1,3960401228,소유,0425422012,1106,일반의류,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463911,2004125,2004126,00990670556,1,1501100903,1916KTV노래연습장,01050461666,8402,노래방,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463912,2004131,2004132,00990673022,1,4693500384,와사비앤고(WASABINGO),0312075416,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463913,2004133,2004134,00990674202,1,6225100379,연식당,01092712767,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463914,2004136,2004137,00990674962,1,7600301010,송가네숯불구이,01063031543,2301,일반음식점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463915,2004137,2004138,00990675233,1,8050200995,쿨아이스천국신불당점,0415530506,2105,기타식음료품,.,.,0,0,7zzzzzzzzzzz,None,0,NaN
463916,2004138,2004139,00990675423,1,8340200917,돈스부리,0546558452,2303,일식전문점,.,.,0,0,7zzzzzzzzzzz,None,0,NaN

In [75]:
driver = webdriver.Chrome(path)
count = 0
for phone_num in r2.TEL:
    count += 1    
    if count % 100 == 0:
        print('running...', phone_num, count / 100)
        time.sleep(1)
    try:
        if num_pair[phone_num] != 0:
            continue
    except:
        html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
        data = urlopen(html, timeout = 1000)
        resp = json.loads(data.read())

        try:
            r = pd.DataFrame(resp)
            r = pd.DataFrame(r['data'][0])
            if r['results']['totalCount'] == 0:
                text = whowho_search(phone_num)
                if text == -1:
                    num_pair.update({phone_num:-1})
                    
                else:
                    num_pair.update({phone_num:1})
            else:
    #             r = pd.DataFrame(r['results']['result'])
    #             r = pd.DataFrame(r['field'][0])
    #             info = []
    #             info = r['value']
                print (r['value'][1])
                num_pair.update({phone_num:1})
        except:
            num_pair.update({phone_num:-1})

running... 01033114011 1.0
running... 01052209877 2.0
running... 0215991530 3.0
running... 01020789969 4.0
running... 0222148244 5.0
running... 0318098555 6.0
running... 0539816558 7.0
running... 0555863375 8.0
running... 0419366249 9.0
running... 0532433535 10.0
running... 024719749 11.0
running... 029883541 12.0
running... 0428633666 13.0
running... 0537660080 14.0
running... 01077579381 15.0
running... 029778788 16.0
running... 01093845449 17.0
running... 01073559984 18.0
running... 0317083354 19.0
running... 0319489513 20.0
running... 07051410825 21.0
running... 0515521993 22.0
running... 01026748182 23.0
running... 01067650245 24.0
running... 07077520015 25.0
running... 0635345054 26.0
running... 07044509969 27.0
running... 07041530022 28.0
running... 07082830157 29.0

KeyboardInterrupt:

In [78]:
len(num_pair)

4206

In [98]:
options = webdriver.ChromeOptions()
#options.add_argument('headless')
options.add_argument('window-size=1920x1080')
options.add_argument("disable-gpu")

In [99]:
s = pd.Series(num_pair, name='Valid')
s.index.name = 'TEL'
s = s.reset_index()
r = hana.join(s.set_index('TEL'), on='TEL')
r1 = r[r.Valid != -1]
r2 = r1[r1.Valid != 1]
print(len(r2))
driver = webdriver.Chrome(path, chrome_options = options)
count = 0
for phone_num in r2.TEL:
    count += 1    
    if count % 100 == 0:
        print('running...', phone_num, count / 100)
        time.sleep(1)
    try:
        if num_pair[phone_num] != 0:
            continue
    except:
        html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
        data = urlopen(html, timeout = 1000)
        resp = json.loads(data.read())

        try:
            r = pd.DataFrame(resp)
            r = pd.DataFrame(r['data'][0])
            if r['results']['totalCount'] == 0:
                text = whowho_search(phone_num)
                if text == -1:
                    num_pair.update({phone_num:-1})
                    
                else:
                    num_pair.update({phone_num:1})
            else:
    #             r = pd.DataFrame(r['results']['result'])
    #             r = pd.DataFrame(r['field'][0])
    #             info = []
    #             info = r['value']
                print (r['value'][1])
                num_pair.update({phone_num:1})
        except:
            num_pair.update({phone_num:-1})

418658
running... 0313839036 1.0

URLError: <urlopen error [WinError 10060] 연결된 구성원으로부터 응답이 없어 연결하지 못했거나, 호스트로부터 응답이 없어 연결이 끊어졌습니다>

In [88]:
r1 = r[r.Valid != -1]
r2 = r1[r1.Valid != 1]
r2

Empty DataFrame
Columns: [index, ID, HANA_ID, STATUS, BUSINESS_NUM, MER_NAME, TEL, MER_TYPE3, MER_TYPE3_NAME, X, Y, LAT, LON, GEOHASH, MER_NAME_SYN, valid, Valid]
Index: []

In [89]:
s = pd.Series(num_pair, name='Valid')
print(s)
s.index.name = 'TEL'
s = s.reset_index()
s

               -1
0000000        -1
00000000       -1
000000000      -1
0000000000     -1
00000000000    -1
000000000000   -1
000015223589   -1
000016000125   -1
000016441860   -1
000016443366   -1
00015667440    -1
00015998826    -1
0015223630     -1
0015227585     -1
0016703357     -1
0018771221     -1
01020110239    -1
01020217288    -1
01020236999    -1
01020258000    -1
01020276142    -1
01020339705    -1
01020348978    -1
01020437748    -1
01020447548    -1
01020531551    -1
01020570600    -1
01020608610    -1
01020636899    -1
               ..
07089487234    -1
07089515800    -1
07089591238    -1
07089598860    -1
07089701012    -1
07089770916    -1
07089807512    -1
07089919159    -1
07089927781    -1
0709000887     -1
07090747979    -1
07091141804    -1
07091483841    -1
07094110556    -1
07094561468    -1
07094705605    -1
07097431633    -1
07098166004    -1
07099418377    -1
07099716328    -1
07099716382    -1
07099811021    -1
07099888100    -1
0789502233     -1
0800000000      1
0805665556     -1
0806041734     -1
0860129988     -1
2415222241     -1
318832905      -1
Name: Valid, Length: 4206, dtype: int64

               TEL  Valid
0                      -1
1          0000000     -1
2         00000000     -1
3        000000000     -1
4       0000000000     -1
5      00000000000     -1
6     000000000000     -1
7     000015223589     -1
8     000016000125     -1
9     000016441860     -1
10    000016443366     -1
11     00015667440     -1
12     00015998826     -1
13      0015223630     -1
14      0015227585     -1
15      0016703357     -1
16      0018771221     -1
17     01020110239     -1
18     01020217288     -1
19     01020236999     -1
20     01020258000     -1
21     01020276142     -1
22     01020339705     -1
23     01020348978     -1
24     01020437748     -1
25     01020447548     -1
26     01020531551     -1
27     01020570600     -1
28     01020608610     -1
29     01020636899     -1
...            ...    ...
4176   07089487234     -1
4177   07089515800     -1
4178   07089591238     -1
4179   07089598860     -1
4180   07089701012     -1
4181   07089770916     -1
4182   07089807512     -1
4183   07089919159     -1
4184   07089927781     -1
4185    0709000887     -1
4186   07090747979     -1
4187   07091141804     -1
4188   07091483841     -1
4189   07094110556     -1
4190   07094561468     -1
4191   07094705605     -1
4192   07097431633     -1
4193   07098166004     -1
4194   07099418377     -1
4195   07099716328     -1
4196   07099716382     -1
4197   07099811021     -1
4198   07099888100     -1
4199    0789502233     -1
4200    0800000000      1
4201    0805665556     -1
4202    0806041734     -1
4203    0860129988     -1
4204    2415222241     -1
4205     318832905     -1

[4206 rows x 2 columns]

In [90]:
r = pd.merge(hana, s, on = 'TEL')
len(r)

44272

In [100]:
num_pair

{'0430000000': -1,
 '0000000': -1,
 '0610000000': 1,
 '': -1,
 '00000000000': -1,
 '0310000000': 1,
 '03100000000': -1,
 '0530000000': -1,
 '000000000000': -1,
 '020000000': -1,
 '0200000000': -1,
 '0000000000': -1,
 '000000000': -1,
 '0330000000': 1,
 '0640000000': -1,
 '06400000000': -1,
 '05300000000': -1,
 '0510000000': -1,
 '0320000000': -1,
 '05500000000': 1,
 '0550000000': 1,
 '0540000000': 1,
 '05400000000': 1,
 '0520000000': 1,
 '0420000000': 1,
 '03200000000': 1,
 '0630000000': -1,
 '0410000000': -1,
 '06300000000': -1,
 '00000000': -1,
 '05000000000': -1,
 '07000000000': -1,
 '05200000000': -1,
 '0620000000': 1,
 '04100000000': 1,
 '05100000000': 1,
 '0440000000': -1,
 '02000000000': -1,
 '04200000000': -1,
 '04300000000': 1,
 '0680000000': -1,
 '03300000000': -1,
 '04400000000': -1,
 '06200000000': 1,
 '0700000000': 1,
 '07010000000': -1,
 '06100000000': 1,
 '0300000000': 1,
 '05300000004': -1,
 '060000000': 1,
 '0210000000': -1,
 '0600000000': 1,
 '0220000000': -1,
 '03100000004': -1,
 '070000000': 1,
 '0280000000': -1,
 '03100000001': -1,
 '0800000000': 1,
 '05400000008': -1,
 '05550000000': -1,
 '0500000000': -1,
 '05300000003': -1,
 '05315444538': -1,
 '0512618004': -1,
 '01045036093': -1,
 '0533816993': -1,
 '0636337778': -1,
 '01027825130': -1,
 '0638557475': -1,
 '07047634948': -1,
 '0226585428': 1,
 '0234843238': -1,
 '0332415813': -1,
 '01071907046': -1,
 '024750731': 1,
 '0319985448': -1,
 '0327248575': 1,
 '0237897110': -1,
 '0332239159': -1,
 '07042103900': -1,
 '0425361075': -1,
 '029990522': -1,
 '0634631805': -1,
 '0325637896': -1,
 '03180903587': -1,
 '0425413988': -1,
 '0515108850': -1,
 '0522497769': -1,
 '01036406064': -1,
 '0226789958': -1,
 '0542426522': -1,
 '0632432209': -1,
 '024971696': 1,
 '0313287661': -1,
 '0547619874': -1,
 '0532538790': -1,
 '07089487234': -1,
 '0236611782': -1,
 '03180974279': -1,
 '0518079180': -1,
 '01097803536': -1,
 '0618630476': -1,
 '027922301': -1,
 '0323613122': -1,
 '0625152005': -1,
 '029552877': 1,
 '07043546636': -1,
 '0425346171': -1,
 '0317797758': -1,
 '0328645833': -1,
 '01095034589': -1,
 '0232825727': -1,
 '07042506677': -1,
 '07088830151': -1,
 '01088904561': -1,
 '0516018488': -1,
 '0316167323': -1,
 '01083512126': -1,
 '01049499929': -1,
 '01038466124': -1,
 '01072687493': -1,
 '01032336021': -1,
 '01025810339': -1,
 '027825479': -1,
 '01077580722': -1,
 '01031115984': -1,
 '01086645647': -1,
 '01035986011': -1,
 '01025686076': -1,
 '01082371822': -1,
 '01087670098': -1,
 '01055856012': -1,
 '01041160296': -1,
 '01092853200': -1,
 '01030055457': -1,
 '01035306987': -1,
 '01062121178': -1,
 '01082733434': -1,
 '01066089765': -1,
 '01035322793': -1,
 '03118006308': -1,
 '01082178010': -1,
 '01063857774': -1,
 '01066024451': -1,
 '01052402681': -1,
 '01084395599': -1,
 '01056372278': -1,
 '01036960495': -1,
 '04215770711': 1,
 '06215770711': 1,
 '024652079': 1,
 '07077947487': -1,
 '01047520508': -1,
 '07077951212': -1,
 '0222420220': -1,
 '0515250195': -1,
 '025779988': -1,
 '01022756364': -1,
 '0436524044': -1,
 '0313888062': -1,
 '0317585656': -1,
 '0556811689': -1,
 '01063805358': -1,
 '01067309666': -1,
 '01086216280': -1,
 '027929080': -1,
 '0317972079': -1,
 '0319168119': -1,
 '028665355': -1,
 '0522097877': -1,
 '03180331481': -1,
 '0547831021': -1,
 '01093258323': -1,
 '0319651724': -1,
 '0338816685': -1,
 '07088030780': -1,
 '0326520153': -1,
 '01024077706': -1,
 '0419536336': -1,
 '023320020': -1,
 '01095658472': -1,
 '0556469507': -1,
 '0236630999': -1,
 '028348820': -1,
 '0423620101': -1,
 '0317908460': -1,
 '0428200771': -1,
 '07004422480': -1,
 '028134007': -1,
 '05450125': -1,
 '0530534567': -1,
 '07088894546': -1,
 '0316837771': -1,
 '0615544006': -1,
 '07041702010': -1,
 '07073145620': -1,
 '01026150390': -1,
 '01077226130': -1,
 '01068560231': -1,
 '01092115856': -1,
 '01031364310': -1,
 '01035835755': -1,
 '01046100092': -1,
 '01029793607': -1,
 '01071317542': -1,
 '01082577439': -1,
 '01039039571': -1,
 '01083209808': -1,
 '01066636355': -1,
 '01034593823': -1,
 '01027868425': -1,
 '01056999010': -1,
 '01062462904': -1,
 '01077137485': -1,
 '03125971179': -1,
 '01080261838': -1,
 '01044522359': -1,
 '01027471031': -1,
 '01071774567': -1,
 '01037995525': -1,
 '01044433912': -1,
 '01083344919': -1,
 '01049645913': -1,
 '01020653337': -1,
 '01088166034': -1,
 '01032973206': -1,
 '01026413660': -1,
 '0314302417': -1,
 '01063125968': -1,
 '01041090817': -1,
 '01045039096': -1,
 '01063512676': -1,
 '01045345164': -1,
 '01023664756': -1,
 '01053156872': -1,
 '01031170842': -1,
 '01029751227': -1,
 '01072589600': -1,
 '01034198338': -1,
 '01083717138': -1,
 '01091186206': -1,
 '0315923789': -1,
 '01066777961': -1,
 '01085409307': -1,
 '01081419263': -1,
 '01038864056': -1,
 '01050637518': -1,
 '01030477763': -1,
 '01088269688': -1,
 '01090172800': -1,
 '01024464217': -1,
 '01030153186': -1,
 '01084831817': -1,
 '01034855300': -1,
 '0324314470': -1,
 '029143114': -1,
 '0326789833': -1,
 '028316404': -1,
 '0226660241': -1,
 '0519279600': -1,
 '0314109721': -1,
 '07038981928': -1,
 '0222456466': -1,
 '0515066571': -1,
 '0318123188': -1,
 '0553373993': -1,
 '0332436000': -1,
 '0634659081': -1,
 '0513626220': -1,
 '07086827990': -1,
 '0314311033': -1,
 '0313842344': -1,
 '0538187136': -1,
 '0517040911': -1,
 '024991525': -1,
 '01094334553': -1,
 '0262352115': -1,
 '0544567824': -1,
 '03116449351': -1,
 '0313747509': -1,
 '0312580703': -1,
 '027951717': -1,
 '0415428433': -1,
 '0633532612': -1,
 '0448670302': -1,
 '0632444847': -1,
 '025980015': -1,
 '027281986': -1,
 '07047104477': -1,
 '0315481794': -1,
 '0315041002': -1,
 '01036041583': -1,
 '0613625056': -1,
 '0532419922': -1,
 '0317629232': -1,
 '0319091516': -1,
 '0632412171': -1,
 '0221872741': -1,
 '0319899950': -1,
 '0552561256': -1,
 '0416721288': -1,
 '0262150002': -1,
 '01097713489': -1,
 '07043279967': -1,
 '03325120227': -1,
 '0325481557': -1,
 '01020339705': -1,
 '01024703900': -1,
 '0314950980': -1,
 '0319881832': -1,
 '0617811692': -1,
 '07089486963': -1,
 '07047140671': -1,
 '0318511148': -1,
 '029224134': -1,
 '0322809292': -1,
 '0234843281': -1,
 '0544738710': -1,
 '0226465678': -1,
 '024667258': -1,
 '0428224559': -1,
 '0448679265': -1,
 '0312429090': -1,
 '0312716681': -1,
 '0435365028': -1,
 '0318536531': -1,
 '000016000125': -1,
 '0312693189': -1,
 '0269335271': -1,
 '0629538448': -1,
 '01047965822': -1,
 '01047374435': -1,
 '0319852667': -1,
 '0415342959': -1,
 '03234798713': -1,
 '0260706518': -1,
 '0436458275': -1,
 '07046454458': -1,
 '05115770711': -1,
 '0429339330': -1,
 '01075238800': -1,
 '07027898793': -1,
 '028179727': -1,
 '01088522233': -1,
 '0325786200': -1,
 '07042341116': -1,
 '0549111100': -1,
 '027449879': -1,
 '0233981122': -1,
 '01071377104': -1,
 '01062453607': -1,
 '0324394543': -1,
 '0314998706': -1,
 '025480827': -1,
 '0522488432': -1,
 '0438510233': -1,
 '0518952998': -1,
 '0324232534': -1,
 '028612212': -1,
 '0317131012': -1,
 '01094386539': -1,
 '024101094': -1,
 '0432710313': -1,
 '01052997809': -1,
 '0216001234': -1,
 '0317518287': -1,
 '07023548769': -1,
 '0638339503': -1,
 '0317135542': -1,
 '0324628808': -1,
 '01034005595': -1,
 '07052331153': -1,
 '029999540': -1,
 '07032592270': -1,
 '0222817789': -1,
 '0315554711': -1,
 '01092997351': -1,
 '0513100018': -1,
 '0703252848': -1,
 '0250967593': -1,
 '0319367513': -1,
 '07040071558': -1,
 '029217761': -1,
 '0318409169': -1,
 '07044408797': -1,
 '07075561174': -1,
 '0647466800': -1,
 '0315462931': -1,
 '0519024401': -1,
 '01028335602': -1,
 '01091371083': -1,
 '01080128593': -1,
 '01088787333': -1,
 '017901553': -1,
 '029576491': -1,
 '01095559554': -1,
 '0315688476': -1,
 '07088701113': -1,
 '01080099665': -1,
 '0318421774': -1,
 '0313728100': -1,
 '0337343949': -1,
 '0314070363': -1,
 '0317976159': -1,
 '0337347799': -1,
 '0264044820': -1,
 '01036820844': -1,
 '029283939': -1,
 '0316371900': -1,
 '0522775248': -1,
 '0313665125': -1,
 '0313756602': -1,
 '0292500168': -1,
 '07082726257': -1,
 '0522097979': -1,
 '0313826446': -1,
 '01041197992': -1,
 '01090799658': -1,
 '0325275246': -1,
 '01045661993': -1,
 '04116615869': -1,
 '01035143094': -1,
 '0539428220': -1,
 '07072105061': -1,
 '0313739168': -1,
 '0432161378': -1,
 '0532561838': -1,
 '0424879155': -1,
 '07078489303': -1,
 '0425859291': -1,
 '0516265977': -1,
 '0538127942': -1,
 '0647243509': -1,
 '01037023264': -1,
 '025671078': -1,
 '0615315451': -1,
 '0634675155': -1,
 '0415804834': -1,
 '04250253654': -1,
 '01068996413': -1,
 '07070748887': -1,
 '0544632629': -1,
 '0319019722': -1,
 '029735841': -1,
 '0539638029': -1,
 '0318796160': -1,
 '0438515747': -1,
 '0264010777': -1,
 '07043138971': -1,
 '01053416748': -1,
 '0337451841': -1,
 '0428677077': -1,
 '0552772955': -1,
 '0312758844': -1,
 '0226926956': -1,
 '0319012786': -1,
 '07051295201': -1,
 '0425878162': -1,
 '0234215717': -1,
 '0435448250': -1,
 '01076128970': -1,
 '07099811021': -1,
 '0315843383': -1,
 '0514688988': -1,
 '0557552130': -1,
 '01033290548': -1,
 '028677515': -1,
 '01030748661': -1,
 '024342257': -1,
 '024457209': -1,
 '0313745474': -1,
 '0313957730': -1,
 '03180705996': -1,
 '01088741990': -1,
 '0325696028': -1,
 '0326140908': -1,
 '2415222241': -1,
 '0415722015': -1,
 '027578591': -1,
 '0315110551': -1,
 '0226110170': -1,
 '0622283183': -1,
 '0237632775': -1,
 '01071115142': -1,
 '0513417231': -1,
 '025492503': -1,
 '0625745343': -1,
 '01085736032': -1,
 '01037324885': -1,
 '01041423754': -1,
 '01062964454': -1,
 '0513361068': -1,
 '01037507046': -1,
 '0314102341': -1,
 '0325849906': -1,
 '01077471395': -1,
 '01049469619': -1,
 '01090096916': -1,
 '01071154850': -1,
 '01056323310': -1,
 '01026188987': -1,
 '01033542466': -1,
 '01047921997': -1,
 '01022047019': -1,
 '01028760617': -1,
 '01045752501': -1,
 '01028680200': -1,
 '01035554884': -1,
 '01046324579': -1,
 '029006089': -1,
 '0544353155': -1,
 '0324685900': -1,
 '027333312': -1,
 '0335906684': -1,
 '0547712166': -1,
 '0315117571': -1,
 '0558321020': -1,
 '0432318968': -1,
 '0432352300': -1,
 '0337634148': -1,
 '0226979300': -1,
 '01097370042': -1,
 '029052525': -1,
 '07042041642': -1,
 '07050398448': -1,
 '01092515208': -1,
 '0333782288': -1,
 '0546522763': -1,
 '0612837682': -1,
 '01066076153': -1,
 '0419008022': -1,
 '029365055': -1,
 '0319855399': -1,
 '0016703357': -1,
 '0326621822': -1,
 '0536448585': -1,
 '0326661057': -1,
 '0534296199': -1,
 '028617021': -1,
 '0317254407': -1,
 '028439433': -1,
 '0614692473': -1,
 '01065000314': -1,
 '0222022214': -1,
 '0313337050': -1,
 '027857889': -1,
 '01055592672': -1,
 '07041418825': -1,
 '0622699821': -1,
 '01068880696': -1,
 '0517588249': -1,
 '01092382491': -1,
 '0634683999': -1,
 '0334422964': -1,
 '0534750117': -1,
 '025088093': -1,
 '0318354247': -1,
 '0314646784': -1,
 '0614541480': -1,
 '0558627952': -1,
 '0226830803': -1,
 '027762042': -1,
 '0233925853': -1,
 '0312273777': -1,
 '023425092': -1,
 '07004121150': -1,
 '0622615754': -1,
 '0552984462': -1,
 '0315644939': -1,
 '07041126304': -1,
 '07076224322': -1,
 '0334422148': -1,
 '07088311300': -1,
 '01038602134': -1,
 '07081352009': -1,
 '0226670957': -1,
 '0557412229': -1,
 '0517614433': -1,
 '0415468812': -1,
 '07088861479': -1,
 '07047902225': -1,
 '0513116098': -1,
 '0318731123': -1,
 '0324247875': -1,
 '0428252328': -1,
 '0532868589': -1,
 '0448650755': -1,
 '07075606687': -1,
 '07088051271': -1,
 '0232185365': -1,
 '0312963060': -1,
 '0415328703': -1,
 '01085152173': -1,
 '07052257800': -1,
 '0539515150': -1,
 '0222322458': -1,
 '01054800862': -1,
 '0326738521': -1,
 '07081328549': -1,
 '0325032235': -1,
 '0537633503': -1,
 '0319472654': -1,
 '0328132466': -1,
 '0332510582': -1,
 '07094110556': -1,
 '07081001115': -1,
 '0429357656': -1,
 '07047598271': -1,
 '01056577608': -1,
 '0413574474': -1,
 '01052529435': -1,
 '07076974493': -1,
 '01050259897': -1,
 '0559108899': -1,
 '0234269719': -1,
 '01085181161': -1,
 '0638311090': -1,
 '0328887812': -1,
 '0428258263': -1,
 '025437775': -1,
 '07075544570': -1,
 '025776407': -1,
 '029684421': -1,
 '01046537779': -1,
 '0539714141': -1,
 '0553817707': -1,
 '0553634584': -1,
 '01028136433': -1,
 '0313336778': -1,
 '0517144660': -1,
 '01053132456': -1,
 '0317942245': -1,
 '07042776777': -1,
 '07076709074': -1,
 '0231445199': -1,
 '0312354147': -1,
 '0313027522': -1,
 '01030253087': -1,
 '07086502409': -1,
 '0638574588': -1,
 '01035092147': -1,
 '07046238868': -1,
 '0522332569': -1,
 '027524430': -1,
 '0263126291': -1,
 '07077092020': -1,
 '0638422240': -1,
 '025169240': -1,
 '0548583706': -1,
 '0544439117': -1,
 '01023693596': -1,
 '023732158': -1,
 '0537680332': -1,
 '07075788512': -1,
 '0238681661': -1,
 '04258240053': -1,
 '07075699024': -1,
 '0627440292': -1,
 '0325787737': -1,
 '0316111755': -1,
 '07047006482': -1,
 '0222788478': -1,
 '027925742': -1,
 '0547735846': -1,
 '0269512101': -1,
 '022500113': -1,
 '0415909544': -1,
 '0222547962': -1,
 '0426329291': -1,
 '0512433377': -1,
 '01053470280': -1,
 '01051107647': -1,
 '0626526427': -1,
 '07072619740': -1,
 '025801278': -1,
 '0512469542': -1,
 '0416646587': -1,
 '07089591238': -1,
 '01094588874': -1,
 '0312758408': -1,
 '0226635153': -1,
 '0324325865': -1,
 '0317285664': -1,
 '01022058900': -1,
 '0415423934': -1,
 '0222853868': -1,
 '027895604': -1,
 '0317185684': -1,
 '0222547955': -1,
 '0312357765': -1,
 '0553238251': -1,
 '01089202036': -1,
 '0419533949': -1,
 '01045374411': -1,
 '0318653079': -1,
 '01088901826': -1,
 '0419359797': -1,
 '024185351': -1,
 '0552669932': -1,
 '07040680707': -1,
 '028686801': -1,
 '01086061301': -1,
 '0536078501': -1,
 '0222127363': -1,
 '05615054331': -1,
 '07077910265': -1,
 '0317674304': -1,
 '0315323246': -1,
 '029328258': -1,
 '0419525555': -1,
 '0552563553': -1,
 '0327466416': -1,
 '0438322311': -1,
 '0557457126': -1,
 '01071063175': -1,
 '0517043781': -1,
 '0617130320': -1,
 '07041390819': -1,
 '0316818188': -1,
 '0542553155': -1,
 '0639047789': -1,
 '0536248505': -1,
 '0522385592': -1,
 '0312272036': -1,
 '0556810480': -1,
 '023559658': -1,
 '0315937325': -1,
 '0326573310': -1,
 '01045271259': -1,
 '0438546542': -1,
 '0314859224': -1,
 '01047356844': -1,
 '0315515164': -1,
 '0319651271': -1,
 '01077625165': -1,
 '01047569646': -1,
 '01064293067': -1,
 '01066449919': -1,
 '0312144453': -1,
 '01040638545': -1,
 '0255881507': -1,
 '01086405384': -1,
 '01085139259': -1,
 '01027298002': -1,
 '01043328430': -1,
 '01023918951': -1,
 '01087248030': -1,
 '01090955597': -1,
 '01029491159': -1,
 '01049328825': -1,
 '0312271270': -1,
 '0537542310': -1,
 '0326657022': -1,
 '0423353002': -1,
 '07072056402': -1,
 '0432736700': -1,
 '0313511284': -1,
 '024020109': -1,
 '0314551980': -1,
 '0318883828': -1,
 '0522512586': -1,
 '03190030530': -1,
 '0313386659': -1,
 '0647439291': -1,
 '07089113676': -1,
 '0415741123': -1,
 '028620113': -1,
 '0325668122': -1,
 '024909542': -1,
 '0325086771': -1,
 '07041048076': -1,
 '0264902963': -1,
 '07041418253': -1,
 '0312877978': -1,
 '0216883689': -1,
 '025482376': -1,
 '07035449005': -1,
 '0623762232': -1,
 '0220675545': -1,
 '01092288371': -1,
 '01025178690': -1,
 '0617614897': -1,
 '07088189595': -1,
 '0634500888': -1,
 '07077380585': -1,
 '0632724440': -1,
 '029572030': -1,
 '0513348272': -1,
 '0312762552': -1,
 '01032309635': -1,
 '024758891': -1,
 '0246352794': -1,
 '0318866083': -1,
 '01026598719': -1,
 '027144005': -1,
 '01064407971': -1,
 '0313177372': -1,
 '0613238255': -1,
 '0316351246': -1,
 '0617252570': -1,
 '0222548522': -1,
 '0632463372': -1,
 '07072983360': -1,
 '07084111196': -1,
 '0312859999': -1,
 '07082579231': -1,
 '01054123485': -1,
 '0553866902': -1,
 '0512457500': -1,
 '0416721767': -1,
 '0316389108': -1,
 '0418414966': -1,
 '0018771221': -1,
 '0415480403': -1,
 '025391087': -1,
 '0315771634': -1,
 '07049616383': -1,
 '0415527894': -1,
 '0537431006': -1,
 '0318791015': -1,
 '0544523152': -1,
 '029036448': -1,
 '0262610438': -1,
 '029424024': -1,
 '0318791472': -1,
 '0215771110': -1,
 '0316397375': -1,
 '318832905': -1,
 '0547726421': -1,
 '0313830310': -1,
 '0336736814': -1,
 '023242244': -1,
 '0647457142': -1,
 '0324223676': -1,
 '0547733803': -1,
 '0337389139': -1,
 '0644797900': -1,
 '07067021650': -1,
 '0234756304': -1,
 '023226668': -1,
 '0632467772': -1,
 '01088337709': -1,
 '07049521091': -1,
 '0328813172': -1,
 '0438559821': -1,
 '07082535963': -1,
 '025976526': -1,
 '01036376450': -1,
 '07048589427': -1,
 '0314792155': -1,
 '01031126117': -1,
 '0316116564': -1,
 '01086473615': -1,
 '023507272': -1,
 '0645589663': -1,
 '0413529901': -1,
 '0325204981': -1,
 '0617629292': -1,
 '07054243393': -1,
 '0555526888': -1,
 '0269591232': -1,
 '01091375993': -1,
 '0415328955': -1,
 '01035000626': -1,
 '0522937740': -1,
 '07025898615': -1,
 '0415430570': -1,
 '027440369': -1,
 '031': -1,
 '01036116904': -1,
 '07040244990': -1,
 '0623607558': -1,
 '0318218586': -1,
 '0544526116': -1,
 '028336481': -1,
 '0226533132': -1,
 '0438534848': -1,
 '029368123': -1,
 '01046072498': -1,
 '0542326115': -1,
 '07082299191': -1,
 '01094880032': -1,
 '06315770711': -1,
 '0335331700': -1,
 '01022598000': -1,
 '0553875736': -1,
 '01048408448': -1,
 '0629417606': -1,
 '028874463': -1,
 '07081412868': -1,
 '0226476220': -1,
 '0432365053': -1,
 '023950229': -1,
 '0438820946': -1,
 '0233985517': -1,
 '0314665426': -1,
 '0322037983': -1,
 '07086287421': -1,
 '07029745886': -1,
 '07027854728': -1,
 '0417352876': -1,
 '07055021650': -1,
 '0549700066': -1,
 '0312327911': -1,
 '0336518495': -1,
 '0623697892': -1,
 '029802707': -1,
 '028136888': -1,
 '0422231511': -1,
 '029113659': -1,
 '0647533330': -1,
 '0518188957': -1,
 '07064882491': -1,
 '0222371100': -1,
 '07087893912': -1,
 '01071796954': -1,
 '03288311850': -1,
 '0323235206': -1,
 '0415846994': -1,
 '0322888801': -1,
 '01025280745': -1,
 '0517463381': -1,
 '0326727665': -1,
 '025652236': -1,
 '07088738111': -1,
 '0448638873': -1,
 '0552713188': -1,
 '03180948730': -1,
 '0625521901': -1,
 '027679870': -1,
 '01051192069': -1,
 '01054769181': -1,
 '01051162449': -1,
 '01029973193': -1,
 '0638557357': -1,
 '0557637266': -1,
 '01029844001': -1,
 '01068128999': -1,
 '01045453922': -1,
 '01054003497': -1,
 '01031270919': -1,
 '01020236999': -1,
 '01029012777': -1,
 '0556335321': -1,
 '0537821728': -1,
 '0556350111': -1,
 '0638529399': -1,
 '07041427406': -1,
 '0313734603': -1,
 '0613569503': -1,
 '0626532069': -1,
 '0319627725': -1,
 '029072333': -1,
 '07054141118': -1,
 '07041295550': -1,
 '0234950123': -1,
 '0323453249': -1,
 '0535530161': -1,
 '01073265743': -1,
 '0624549595': -1,
 '024248243': -1,
 '07070785588': -1,
 '0336334670': -1,
 '023947496': -1,
 '07087826859': -1,
 '01037441405': -1,
 '01094741500': -1,
 '0539534545': -1,
 '0287936411': -1,
 '0537561231': -1,
 '029456090': -1,
 '07038053080': -1,
 '07087686031': -1,
 '0236641080': -1,
 '0517589500': -1,
 '0317419393': -1,
 '0226129461': -1,
 '0226467077': -1,
 '0324728885': -1,
 '0415768285': -1,
 '0327721381': -1,
 '0337650561': -1,
 '0226119250': -1,
 '07071982773': -1,
 '0632468828': -1,
 '0423480048': -1,
 '029900249': -1,
 '0448683505': -1,
 '0318527776': -1,
 '01079202026': -1,
 '0264633600': -1,
 '024499484': -1,
 '0226051346': -1,
 '0222631811': -1,
 '0325545980': -1,
 '0234464961': -1,
 '07087112487': -1,
 '0317908560': -1,
 '07083123746': -1,
 '03115221261': -1,
 ...}

In [102]:
s = pd.Series(num_pair, name='Valid')
s.index.name = 'TEL'
s = s.reset_index()
s.head()

          TEL  Valid
0                 -1
1     0000000     -1
2    00000000     -1
3   000000000     -1
4  0000000000     -1

In [103]:
s.to_pickle('phone_num_pair.pkl')

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from selenium import webdriver
from selenium.webdriver.support.select import Select
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
import time
from selenium.webdriver.common import action_chains, keys
import selenium
import json
from urllib.request import urlopen
import urllib

In [2]:
import random

In [3]:
hana = pd.read_pickle('HANA_JJW_NOMAP.pk')

In [4]:
num_pair = pd.read_pickle('phone_num_pair_total.pkl').to_dict('split')
num_pair = dict(num_pair['data'])
# num_pair = pd.read_pickle('phone_num_pair2.pkl')
# num_pair

In [5]:
while len(num_pair) != len(hana.TEL.unique()):
    try:
        s = pd.Series(num_pair, name='Valid')
        s.index.name = 'TEL'
        s = s.reset_index()
        r = hana.join(s.set_index('TEL'), on='TEL')
        r1 = r[r.Valid != -1]
        r2 = r1[r1.Valid != 1]
        print(len(r2))
        # driver = webdriver.Chrome(path, chrome_options = options)
        count = 0
        for phone_num in r2.TEL:
            count += 1    
            if count % 1000 == 0:
                print('running...', phone_num, count / 100)
                time.sleep(random.randrange(1,7))
            try:
                if num_pair[phone_num] != 0:
                    continue
            except:
                html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
                data = urlopen(html, timeout = 1000)
                resp = json.loads(data.read())

                try:
                    r = pd.DataFrame(resp)
                    r = pd.DataFrame(r['data'][0])
                    if r['results']['totalCount'] == 0:
                        num_pair.update({phone_num:-1})
                    else:
                        print (r['value'][1])
                        num_pair.update({phone_num:1})
                except:
                    num_pair.update({phone_num:-1})
    except:
        print('exception occured!')
        f = open('num.txt','a')
        f.write(str(len(r2))+'\n')
        f.close()
        s = pd.Series(num_pair, name='Valid')
        s.index.name = 'TEL'
        s = s.reset_index()
        s.to_pickle('phone_num_pair_total.pkl')
        continue

6657
running... 01050214013 10.0
exception occured!
5224
exception occured!
5010
running... 01084025335 10.0
exception occured!
3783
running... 0427668877 10.0
running... 01079418689 20.0
running... 0432343422 30.0

In [ ]:
463917 - 417236 - 395120 - 394791 - 392119 - 369093 - 366704 - 352745 - 345004 - 344671 - 342366 - 312734 - 310806 - 298713 - 288762 - 288231 - 285648 - 279923 - 263281 - 263023

In [118]:
s.to_pickle('phone_num_pair2.pkl')

In [6]:
len(num_pair)

334970

In [7]:
s = pd.Series(num_pair, name='Valid')
s.index.name = 'TEL'
s = s.reset_index()
s.to_pickle('phone_num_pair_total.pkl')

In [8]:
r = hana.join(s.set_index('TEL'), on='TEL')
r.head()

,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,Valid
116,117,700005704,1,2420900382,노가리비어(강서1호점),0430000000,2601,주점,993685.9,1847361.806,36.62410560243727,127.4293820758067,wyd87epnzu45,None,-1
287,288,700015396,1,6280500462,코그커피(COG),0000000,2305,서양음식,1099658.032,1763591.197,35.863815412233215,128.60382715504815,wy7kn2y3y7gb,None,-1
409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,1
410,411,700019333,1,2243100181,신도DNS,,3203,사무용OA기기,960323.914,1950241.319,37.55065848865481,127.05082266222294,wydme5gs6wpf,None,-1
427,428,700020316,1,4163400160,올리비아핸즈,00000000000,5302,기타잡화,1039783.617,1927980.339,37.350005305816424,127.94919324936113,wydurx3g839k,None,-1

In [10]:
len(r[r.Valid == -1]) / len(r) * 100

98.05245334833602

In [11]:
len(r[r.Valid == 1]) / len(r) * 100

1.9475466516639828

In [12]:
r[r.Valid == 1]

,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,Valid
409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,1
453,454,700021921,1,4525200118,쥬씨인천구월점,0310000000,2305,서양음식,929386.901,1938672.977,37.4445437248903,126.7017163902061,wydj50t67bz7,None,1
3956,3957,700200266,1,1353267180,고릴라PC방,0310000000,8310,기타레져업소,959520.923,1917984.226,37.25987348883293,127.04349959032375,wyd7fyyq2pg6,None,1
5143,5144,700271719,1,6620100431,제노pc방,0310000000,8310,기타레져업소,936615.597,1966193.298,37.69310398832259,126.78105061356953,wydnkvz4hxg5,None,1
5369,5370,700285895,1,4381700315,크린토피아원주혁신점,0330000000,1301,세탁소,1042953.92,1925009.205,37.323083378858236,127.98481556934456,wyeh267wwr52,None,1
5453,5454,700290374,1,7575300081,언니네옷장,0310000000,1106,정장(여성),975766.826,1948575.571,37.53617991858627,127.22570616206976,wydmx16bjg46,None,1
5919,5920,700318695,1,7783500196,나봄,0310000000,2301,일반한식,954758.092,1921021.627,37.28703229825254,126.98960409043875,wydk1ezh8nxg,None,1
6418,6419,700344765,1,2371800363,울트라짱구PC방,0310000000,8310,기타레져업소,969934.019,1937758.484,37.43850801280867,127.16012793870061,wydkvx7pjexx,None,1
7190,7191,700387277,1,1283887894,NICPC방,0310000000,8310,기타레져업소,935276.889,1962980.016,37.664050245691,126.76615252837705,wydnk8s2cry7,None,1
8138,8139,700435071,1,5083300138,횡성생고기,0310000000,2301,일반한식,940408.56,1911690.118,37.20211463582183,126.82847572063497,wyd5wh3wj8vc,None,1
8452,8453,700451443,1,2960900486,코기리스크린골프,05500000000,8309,골프연습장,1110770.703,1703761.697,35.32328879130486,128.71868553239136,wy78cn6j4f23,None,1
8671,8672,700462823,1,5703900023,노상5권공영주차장,0310000000,6701,주차장,.,.,0,0,7zzzzzzzzzzz,None,1
9854,9855,700522148,1,1020266127,골목길,0310000000,2301,일반한식,953778.871,1919750.305,37.27552492738992,126.97863648868172,wydk13z18tmz,None,1
10590,10591,700560168,1,7849700170,알뜰청과,0610000000,2103,농·축·수산품,931757.42,1776792.369,35.98552060162711,126.74296805141877,wy6hsngqv5nx,None,1
12606,12607,700662174,1,3473400355,엠존,0310000000,8310,기타레져업소,960730.345,1988071.668,37.89164290768304,127.05338128028035,wydre1vqy65w,None,1
12905,12906,700677362,1,1264600294,오징어청춘(철산점),0310000000,2303,일식·회집,944160.74,1941951.687,37.47510536989524,126.8684761833373,wydjnynu3cbr,None,1
12997,12998,700682326,1,7807900077,맛잡이슈퍼대학로점,0330000000,8601,유흥주점,1122878.3,1973431.717,37.752282960340445,128.89485378592738,wyewv0d6gz95,None,1
13206,13207,700693619,1,5902900163,뽀차,0550000000,2301,일반한식,1052881.753,1688997.341,35.194906953751975,128.0808929825727,wy704x19jn5v,None,1
13208,13209,700693731,1,3250800486,샹떼PC금곡리점,0310000000,8310,기타레져업소,972485.413,1968038.311,37.71151216791724,127.18783179394082,wydqw1pm7r3h,None,1
13277,13278,700697467,1,3474900010,배리삼릉공원,0540000000,5302,기타잡화,1154400.334,1761486.152,35.83774537877571,129.20955432211835,wy7guhp9bzfy,None,1
13732,13733,700720134,1,5385400060,카페목수의딸,0310000000,2305,서양음식,949732.45,1950844.653,37.55557941415101,126.93087902823459,wydm8ku1pg7m,None,1
15795,15796,700819906,1,4940600532,에이스,0330000000,1106,정장(여성),.,.,0,0,7zzzzzzzzzzz,None,1
15956,15957,700829122,1,7810800425,사랑화랑,0310000000,8109,화랑,962004.435,1919650.04,37.27499342462648,127.07142142154265,wydk59dwddrk,None,1
15979,15980,700830320,1,4907300056,참좋은김밥천국(흥해점),0540000000,2301,일반한식,1166263.857,1791889.081,36.10977535849135,129.34722526467183,wy7vrmef8y18,None,1
16226,16227,700842034,1,6840300513,메트(MET)97,0550000000,5202,편의점,1053412.084,1679432.441,35.10863463595688,128.08609947634255,wy5pdxm6w7y5,None,1
16610,16611,700861002,1,8685500110,앨리스,0540000000,1401,액세서리,1151099.653,1762298.412,35.84557999146351,129.1731763604787,wy7ggmmp9hmm,None,1
16644,16645,700861766,1,6649400201,반디소아청소년과,0310000000,4211,의원,964704.993,1911510.741,37.201733377158384,127.10226786624297,wyd7sk35c98p,None,1
16871,16872,700872768,1,3081530585,도스마스연세대점,0330000000,2305,서양음식,1036098.191,1919693.644,37.27546200727223,127.90717939205076,wydun9g1m3c8,None,1
16937,16938,700875633,1,2073100226,베란다스튜디오,0540000000,8113,DP&E,1154476.823,1761345.032,35.83646153378641,129.21037358037123,wy7gu7b4ebte,None,1
16953,16954,700876168,1,6991500390,동경야시장,05400000000,2301,일반한식,1165675.966,1782841.978,36.028350802997664,129.33879768698594,wy7uznv8k7me,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644860,1644861,00984293720,1,2178114493,K쇼핑_스마트로,0216669114,5503,PG(일반),944434.501,1947980.12,37.529456862215945,126.87111657918331,wydjx008zmc4,None,1
1644960,1644961,00984295816,1,2178114493,K쇼핑(ARS)_스마트로,0216669114,5507,기타PG,944434.501,1947980.12,37.529456862215945,126.87111657918331,wydjx008zmc4,None,1
1648118,1648119,00984362251,1,8788500768,세븐일레븐광주금호타이어점,06215770711,5202,편의점,935393.558,1683525.676,35.14488546218738,126.79075074713214,wy4pvjyjy9kp,None,1
1652562,1652563,00984454280,1,2308505127,세븐일레븐대전월평제일점,04215770711,5202,편의점,988987.201,1817965.763,36.35905222298496,127.37725002802054,wy6wfdcqc49d,None,1
1661348,1661349,00984631531,1,1358558329,세븐일레븐광주내방제일점,06215770711,5202,편의점,942587.729,1684471.739,35.15385231749342,126.8696580284157,wy4pyzxdj319,None,1
1664024,1664025,00984688853,1,3318500594,세븐일레븐제주현대오피스텔점,06415770711,5202,편의점,905921.775,1500347.369,33.49083923494764,126.48728527502435,wvcyw2c4r2gv,None,1
1667554,1667555,00984762674,1,8588500541,세븐일레븐광주용봉원룸점,06215770711,5202,편의점,945263.809,1687283.817,35.17935725835568,126.89885125626478,wy60pshyte98,None,1
1692819,1692820,00985263508,1,2948500510,세븐일레븐제주마리나호텔점,06415770711,5202,편의점,906883.795,1500553.996,33.49278684791391,126.49761817712974,wvcyw90v85ux,None,1
1695524,1695525,00985314491,1,4158524123,세븐일레븐광주양산지구점,06215770711,5202,편의점,943484.66,1690613.631,35.20928237920429,126.87908406803203,wy60r1wsbvyn,None,1
1716336,1716337,00985720515,1,1098544224,세븐일레븐유성반석사랑점,04215770711,5202,편의점,983403.02,1821493.374,36.39077465204366,127.31493300339746,wy6x10ezsund,None,1
1716353,1716354,00985720754,1,5998500623,세븐일레븐충남대의대후문점,04215770711,5202,편의점,992302.761,1813170.275,36.31585111135827,127.4142530091683,wy6we7h5pm34,None,1
1742238,1742239,00986209484,1,6108549734,세븐일레븐대구관음센터점,04215770711,5202,편의점,1094185.453,1771889.283,35.93916086570892,128.54420355648892,wy7kmne0c11m,None,1
1744133,1744134,00986247278,1,2958500605,세븐일레븐대전송촌본점,04215770711,5202,편의점,994804.169,1817500.987,36.35491109725009,127.44208970491954,wy6wu40qxyte,None,1
1744854,1744855,00986260347,1,4828500572,세븐일레븐광주용봉샤인점,06215770711,5202,편의점,945926.608,1687724.761,35.1833690199142,126.90610127769237,wy60pufjyrre,None,1
1748615,1748616,00986332559,1,3148540247,세븐일레븐대전둔산향촌점,04215770711,5202,편의점,988818.351,1817203.284,36.352176232159685,127.37537896759204,wy6wf3xyv2y3,None,1
1764938,1764939,00986632263,1,3958500604,세븐일레븐대전괴정원룸점,04215770711,5202,편의점,989636.156,1815453.876,36.336413766208686,127.38451679014895,wy6wdwydfqkp,None,1
1768074,1768075,00986690592,1,3268500710,세븐일레븐장대중앙점,04215770711,5202,편의점,985108.132,1818510.8,36.36391368842961,127.33400316951254,wy6wcecg1kf6,None,1
1772856,1772857,00986777415,1,2178114493,티몬_스마트로,0216669114,5503,PG(일반),944434.501,1947980.12,37.529456862215945,126.87111657918331,wydjx008zmc4,None,1
1780703,1780704,00986913416,1,7838500679,세븐일레븐S대전지족역점,04215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1791936,1791937,00987118270,1,7138500651,세븐일레븐서귀포중문상로점,06415770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1837716,1837717,00987904695,1,2178114493,스카이라이프(정기)_스마트로,0216669114,8204,유선및위성방송,.,.,0,0,7zzzzzzzzzzz,None,1
1838500,1838501,00987918315,1,4558500736,세븐일레븐제주러브랜드점,06415770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1850356,1850357,00988111662,1,3748500757,세븐일레븐충남대정문점,04215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1854303,1854304,00988178794,1,6428500738,세븐일레븐광주금호스타점,06215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1874056,1874057,00988515888,1,1616200171,세븐일레븐서대전역사거리점,04215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1884560,1884561,00988691770,1,6278500646,세븐일레븐대전관평타운점,04215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1902944,1902945,00988986667,1,6168609775,세븐일레븐서귀포벨류호텔점,06415770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1918288,1918289,00989233697,1,4108605870,세븐일레븐해남터미널점,06215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1
1921188,1921189,00989279948,1,2058101466,평안엘앤씨(주)안성직영점,0234070611,8105,"기타레저,스포츠용품",.,.,0,0,7zzzzzzzzzzz,None,1
2001319,2001320,00990551848,1,7791500740,세븐일레븐광주오치우성점,06215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1

<h1> whowho가 유효하다고 판단한 전화 번호와 114가 유효하다고 판단한 전화번호를 구분 <h1>

In [13]:
pair1 = pd.read_pickle('phone_num_pair.pkl') #whowho+114 약 5만개 분류
pair1.head()

          TEL  Valid
0                 -1
1     0000000     -1
2    00000000     -1
3   000000000     -1
4  0000000000     -1

In [16]:
pair1[pair1.Valid == 1].head() #whowho+114가 유효하다고 판단?

             TEL  Valid
1269  0215220728      1
1288  0216669114      1
1424  0226585428      1
1510  0234070611      1
1652   024491253      1

In [15]:
pair2 = pd.read_pickle('phone_num_pair2.pkl') #114+whowho (+extra 114)
pair2.head()

          TEL  Valid
0                 -1
1     0000000     -1
2    00000000     -1
3   000000000     -1
4  0000000000     -1

In [17]:
pair2[pair2.Valid == 1].head()

              TEL  Valid
15986  0215220728      1
16174  0216669114      1
17580  0226585428      1
18500  0234070611      1
19907   024491253      1

In [18]:
len(pair1)

4789

<h3> whowho+114 정보에서 whowho가 1이라고 표시한 정보만 가져오기 위해 크롤 다시 진행... <h3>

In [20]:
pair1 = pair1.reset_index()

In [30]:
result = {}
count = 0
for phone_num in pair1['TEL']:
    count+=1
    if count % 1000 ==0:
        print(phone_num)
    html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
    data = urlopen(html, timeout = 1000)
    resp = json.loads(data.read())
    try:
        r = pd.DataFrame(resp)
        r = pd.DataFrame(r['data'][0])
        if r['results']['totalCount'] == 0:
            result.update({phone_num:-1})
        else:
            print (r['value'][1])
            result.update({phone_num:1})
    except:
        result.update({phone_num:-1})

01085152173
028987680
03343334325
0610000000

In [32]:
result = pd.Series(result, name='Valid')
result.index.name = 'TEL'
result = result.reset_index()
result

               TEL  Valid
0                      -1
1          0000000     -1
2         00000000     -1
3        000000000     -1
4       0000000000     -1
5      00000000000     -1
6     000000000000     -1
7     000015223589     -1
8     000016000125     -1
9     000016441860     -1
10    000016443366     -1
11     00015667440     -1
12     00015889359     -1
13     00015998826     -1
14     00016442494     -1
15      0015223630     -1
16      0015227585     -1
17      0016703357     -1
18      0018771221     -1
19     01010196815     -1
20     01020110239     -1
21     01020112452     -1
22     01020169858     -1
23     01020217288     -1
24     01020236999     -1
25     01020258000     -1
26     01020276142     -1
27     01020339705     -1
28     01020348978     -1
29     01020400773     -1
...            ...    ...
4759   07089807512     -1
4760   07089873111     -1
4761   07089919159     -1
4762   07089927781     -1
4763    0709000887     -1
4764   07090747979     -1
4765   07091141804     -1
4766   07091483841     -1
4767    0709298682     -1
4768   07094110556     -1
4769   07094561468     -1
4770   07094705605     -1
4771   07097431633     -1
4772   07098166004     -1
4773   07099418377     -1
4774   07099716328     -1
4775   07099716382     -1
4776   07099730527     -1
4777   07099811021     -1
4778   07099817180     -1
4779   07099888100     -1
4780    0787370808     -1
4781    0789502233     -1
4782    0800000000     -1
4783    0805665556     -1
4784    0806041734     -1
4785    0860129988     -1
4786    2415222241     -1
4787     318832905     -1
4788     324650877     -1

[4789 rows x 2 columns]

In [34]:
result[result.Valid == 1]

Empty DataFrame
Columns: [TEL, Valid]
Index: []

확인결과 pair1 에는 114는 전부 유효하지 않다고 판단

In [35]:
len(pair1[pair1.Valid == 1])

50

확인결과 pair1 과 다르지 않음 -> whowho의 결과 값 50!

In [39]:
len(pair2[pair2.Valid == 1])

50

In [42]:
pair_total = pd.read_pickle('phone_num_pair_total.pkl')
len(pair_total[pair_total.Valid == 1])

50

In [44]:
p = pair1[pair1.Valid == 1]
p = p.reset_index()

In [45]:
p

    level_0  index          TEL  Valid
0      1269   1269   0215220728      1
1      1288   1288   0216669114      1
2      1424   1424   0226585428      1
3      1510   1510   0234070611      1
4      1652   1652    024491253      1
5      1669   1669    024652079      1
6      1680   1680    024750731      1
7      1696   1696    024971696      1
8      1741   1741    025522735      1
9      1794   1794   0260535010      1
10     1820   1820   0263978887      1
11     1948   1948    028427798      1
12     1956   1956    028523525      1
13     2048   2048    029552877      1
14     2103   2103   0300000000      1
15     2105   2105   0310000000      1
16     2572   2572   0317750433      1
17     2595   2595  03180259270      1
18     2746   2746   0319868442      1
19     2766   2766  03200000000      1
20     2913   2913   0327248575      1
21     2942   2942   0328655277      1
22     2971   2971   0330000000      1
23     3045   3045  04100000000      1
24     3174   3174   0420000000      1
25     3177   3177  04215770711      1
26     3344   3344  04300000000      1
27     3345   3345  04315222862      1
28     3464   3464  05100000000      1
29     3592   3592   0520000000      1
30     3615   3615   0522664135      1
31     3725   3725   0537162846      1
32     3774   3774   0540000000      1
33     3775   3775  05400000000      1
34     3875   3875   0550000000      1
35     3876   3876  05500000000      1
36     3896   3896   0552880494      1
37     3997   3997    060000000      1
38     3998   3998   0600000000      1
39     3999   3999   0610000000      1
40     4000   4000  06100000000      1
41     4066   4066   0620000000      1
42     4067   4067  06200000000      1
43     4068   4068  06215770711      1
44     4210   4210   0635355000      1
45     4238   4238  06415770711      1
46     4274   4274    070000000      1
47     4275   4275   0700000000      1
48     4577   4577  07076667184      1
49     4782   4782   0800000000      1

In [48]:
def whowho_search(phone_num):
    driver.get('https://www.whox2.com/view/main.jsp')
    driver.implicitly_wait(3)
    input = driver.find_element_by_id('search')
    input.clear()
    input.send_keys(phone_num)
    input.send_keys(keys.Keys.ENTER)
    driver.implicitly_wait(3)
    try:
        text = driver.find_element_by_xpath('//*[@id="result"]/dl/div/dd[1]').text
        text = text.split('\n')
        return text[1]
    except:
        text = driver.find_element_by_xpath('//*[@id="result"]/dl/dt[2]').text
        text = text.split('\n')
        return text[1]

In [52]:
path = 'C:\chromedriver.exe'
driver = webdriver.Chrome(path)
new_MER_NAME = {}
for phone_num in p['TEL']:
    new_MER_NAME.update({phone_num:whowho_search(phone_num)})

In [53]:
new_name = pd.Series(new_MER_NAME, name = 'new_MER_NAME')
new_name.index.name = 'TEL'
new_name = new_name.reset_index()
new_name

            TEL      new_MER_NAME
0    0215220728             (주)임다
1    0216669114           (주)스마트로
2    0226585428           베이커리 몽소
3    0234070611             평안엘엔시
4     024491253      믿음한우착한돼지(위례)
5     024652079          바닐라슈 쇼핑몰
6     024750731             비너스모텔
7     024971696            세무법인한맥
8     025522735           와이즈만 학원
9    0260535010               알뜰폰
10   0263978887       북경 상도1동 중국집
11    028427798          크린데이대림동점
12    028523525              한일세탁
13    029552877          블루클럽방학역점
14   0300000000     통합메시징서비스(UMS)
15   0310000000         유솔,로엠,키즈덤
16   0317750433               예마당
17  03180259270          곱창고수지구청점
18   0319868442             신명이엔시
19  03200000000             살구PC방
20   0327248575            반디동물병원
21   0328655277               우리호
22   0330000000      강릉(경포여자중학교)!
23  04100000000       S-OIL이순신주유소
24   0420000000         대덕구재난안내문자
25  04215770711           세븐일레븐본사
26  04300000000             우리PC방
27  04315222862            유스키핑의원
28  05100000000             한국유도관
29   0520000000   현대차 메르스대응 종합상황실
30   0522664135          볼노래타운노래방
31   0537162846          핏단기대구캠퍼스
32   0540000000    3개월 내 스팸신고 10건
33  05400000000           풍기인견하우스
34   0550000000         김해 외동 키즈덤
35  05500000000              오롯공방
36   0552880494            꼬맹이양꼬치
37    060000000  정보이용료 전화번호(주의요망)
38   0600000000  정보이용료 전화번호(주의요망)
39   0610000000    3개월 내 스팸신고 23건
40  06100000000        메티스PC방입니다.
41   0620000000         케이디비생명신대방
42  06200000000           작은나무공부방
43  06215770711           세븐일레븐본사
44   0635355000            전북과학대학
45  06415770711           세븐일레븐본사
46    070000000                스팸
47   0700000000              주식관련
48  07076667184               보니샵
49   0800000000             현대홈쇼핑

In [56]:
r = hana.join(s.set_index('TEL'), on='TEL')
r = r[r.Valid == 1]

In [57]:
final = r.join(new_name.set_index('TEL'), on='TEL')
final.head()

,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,Valid,new_MER_NAME
409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,1,3개월 내 스팸신고 23건
453,454,700021921,1,4525200118,쥬씨인천구월점,0310000000,2305,서양음식,929386.901,1938672.977,37.4445437248903,126.7017163902061,wydj50t67bz7,None,1,"유솔,로엠,키즈덤"
3956,3957,700200266,1,1353267180,고릴라PC방,0310000000,8310,기타레져업소,959520.923,1917984.226,37.25987348883293,127.04349959032375,wyd7fyyq2pg6,None,1,"유솔,로엠,키즈덤"
5143,5144,700271719,1,6620100431,제노pc방,0310000000,8310,기타레져업소,936615.597,1966193.298,37.69310398832259,126.78105061356953,wydnkvz4hxg5,None,1,"유솔,로엠,키즈덤"
5369,5370,700285895,1,4381700315,크린토피아원주혁신점,0330000000,1301,세탁소,1042953.92,1925009.205,37.323083378858236,127.98481556934456,wyeh267wwr52,None,1,강릉(경포여자중학교)!

In [58]:
final

,ID,HANA_ID,STATUS,BUSINESS_NUM,MER_NAME,TEL,MER_TYPE3,MER_TYPE3_NAME,X,Y,LAT,LON,GEOHASH,MER_NAME_SYN,Valid,new_MER_NAME
409,410,700019187,1,2221802942,보떼(목포연산점),0610000000,1501,화장품,897690.038,1646883.839,34.8114027786893,126.38140078036237,wy1y5chph5fd,None,1,3개월 내 스팸신고 23건
453,454,700021921,1,4525200118,쥬씨인천구월점,0310000000,2305,서양음식,929386.901,1938672.977,37.4445437248903,126.7017163902061,wydj50t67bz7,None,1,"유솔,로엠,키즈덤"
3956,3957,700200266,1,1353267180,고릴라PC방,0310000000,8310,기타레져업소,959520.923,1917984.226,37.25987348883293,127.04349959032375,wyd7fyyq2pg6,None,1,"유솔,로엠,키즈덤"
5143,5144,700271719,1,6620100431,제노pc방,0310000000,8310,기타레져업소,936615.597,1966193.298,37.69310398832259,126.78105061356953,wydnkvz4hxg5,None,1,"유솔,로엠,키즈덤"
5369,5370,700285895,1,4381700315,크린토피아원주혁신점,0330000000,1301,세탁소,1042953.92,1925009.205,37.323083378858236,127.98481556934456,wyeh267wwr52,None,1,강릉(경포여자중학교)!
5453,5454,700290374,1,7575300081,언니네옷장,0310000000,1106,정장(여성),975766.826,1948575.571,37.53617991858627,127.22570616206976,wydmx16bjg46,None,1,"유솔,로엠,키즈덤"
5919,5920,700318695,1,7783500196,나봄,0310000000,2301,일반한식,954758.092,1921021.627,37.28703229825254,126.98960409043875,wydk1ezh8nxg,None,1,"유솔,로엠,키즈덤"
6418,6419,700344765,1,2371800363,울트라짱구PC방,0310000000,8310,기타레져업소,969934.019,1937758.484,37.43850801280867,127.16012793870061,wydkvx7pjexx,None,1,"유솔,로엠,키즈덤"
7190,7191,700387277,1,1283887894,NICPC방,0310000000,8310,기타레져업소,935276.889,1962980.016,37.664050245691,126.76615252837705,wydnk8s2cry7,None,1,"유솔,로엠,키즈덤"
8138,8139,700435071,1,5083300138,횡성생고기,0310000000,2301,일반한식,940408.56,1911690.118,37.20211463582183,126.82847572063497,wyd5wh3wj8vc,None,1,"유솔,로엠,키즈덤"
8452,8453,700451443,1,2960900486,코기리스크린골프,05500000000,8309,골프연습장,1110770.703,1703761.697,35.32328879130486,128.71868553239136,wy78cn6j4f23,None,1,오롯공방
8671,8672,700462823,1,5703900023,노상5권공영주차장,0310000000,6701,주차장,.,.,0,0,7zzzzzzzzzzz,None,1,"유솔,로엠,키즈덤"
9854,9855,700522148,1,1020266127,골목길,0310000000,2301,일반한식,953778.871,1919750.305,37.27552492738992,126.97863648868172,wydk13z18tmz,None,1,"유솔,로엠,키즈덤"
10590,10591,700560168,1,7849700170,알뜰청과,0610000000,2103,농·축·수산품,931757.42,1776792.369,35.98552060162711,126.74296805141877,wy6hsngqv5nx,None,1,3개월 내 스팸신고 23건
12606,12607,700662174,1,3473400355,엠존,0310000000,8310,기타레져업소,960730.345,1988071.668,37.89164290768304,127.05338128028035,wydre1vqy65w,None,1,"유솔,로엠,키즈덤"
12905,12906,700677362,1,1264600294,오징어청춘(철산점),0310000000,2303,일식·회집,944160.74,1941951.687,37.47510536989524,126.8684761833373,wydjnynu3cbr,None,1,"유솔,로엠,키즈덤"
12997,12998,700682326,1,7807900077,맛잡이슈퍼대학로점,0330000000,8601,유흥주점,1122878.3,1973431.717,37.752282960340445,128.89485378592738,wyewv0d6gz95,None,1,강릉(경포여자중학교)!
13206,13207,700693619,1,5902900163,뽀차,0550000000,2301,일반한식,1052881.753,1688997.341,35.194906953751975,128.0808929825727,wy704x19jn5v,None,1,김해 외동 키즈덤
13208,13209,700693731,1,3250800486,샹떼PC금곡리점,0310000000,8310,기타레져업소,972485.413,1968038.311,37.71151216791724,127.18783179394082,wydqw1pm7r3h,None,1,"유솔,로엠,키즈덤"
13277,13278,700697467,1,3474900010,배리삼릉공원,0540000000,5302,기타잡화,1154400.334,1761486.152,35.83774537877571,129.20955432211835,wy7guhp9bzfy,None,1,3개월 내 스팸신고 10건
13732,13733,700720134,1,5385400060,카페목수의딸,0310000000,2305,서양음식,949732.45,1950844.653,37.55557941415101,126.93087902823459,wydm8ku1pg7m,None,1,"유솔,로엠,키즈덤"
15795,15796,700819906,1,4940600532,에이스,0330000000,1106,정장(여성),.,.,0,0,7zzzzzzzzzzz,None,1,강릉(경포여자중학교)!
15956,15957,700829122,1,7810800425,사랑화랑,0310000000,8109,화랑,962004.435,1919650.04,37.27499342462648,127.07142142154265,wydk59dwddrk,None,1,"유솔,로엠,키즈덤"
15979,15980,700830320,1,4907300056,참좋은김밥천국(흥해점),0540000000,2301,일반한식,1166263.857,1791889.081,36.10977535849135,129.34722526467183,wy7vrmef8y18,None,1,3개월 내 스팸신고 10건
16226,16227,700842034,1,6840300513,메트(MET)97,0550000000,5202,편의점,1053412.084,1679432.441,35.10863463595688,128.08609947634255,wy5pdxm6w7y5,None,1,김해 외동 키즈덤
16610,16611,700861002,1,8685500110,앨리스,0540000000,1401,액세서리,1151099.653,1762298.412,35.84557999146351,129.1731763604787,wy7ggmmp9hmm,None,1,3개월 내 스팸신고 10건
16644,16645,700861766,1,6649400201,반디소아청소년과,0310000000,4211,의원,964704.993,1911510.741,37.201733377158384,127.10226786624297,wyd7sk35c98p,None,1,"유솔,로엠,키즈덤"
16871,16872,700872768,1,3081530585,도스마스연세대점,0330000000,2305,서양음식,1036098.191,1919693.644,37.27546200727223,127.90717939205076,wydun9g1m3c8,None,1,강릉(경포여자중학교)!
16937,16938,700875633,1,2073100226,베란다스튜디오,0540000000,8113,DP&E,1154476.823,1761345.032,35.83646153378641,129.21037358037123,wy7gu7b4ebte,None,1,3개월 내 스팸신고 10건
16953,16954,700876168,1,6991500390,동경야시장,05400000000,2301,일반한식,1165675.966,1782841.978,36.028350802997664,129.33879768698594,wy7uznv8k7me,None,1,풍기인견하우스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644860,1644861,00984293720,1,2178114493,K쇼핑_스마트로,0216669114,5503,PG(일반),944434.501,1947980.12,37.529456862215945,126.87111657918331,wydjx008zmc4,None,1,(주)스마트로
1644960,1644961,00984295816,1,2178114493,K쇼핑(ARS)_스마트로,0216669114,5507,기타PG,944434.501,1947980.12,37.529456862215945,126.87111657918331,wydjx008zmc4,None,1,(주)스마트로
1648118,1648119,00984362251,1,8788500768,세븐일레븐광주금호타이어점,06215770711,5202,편의점,935393.558,1683525.676,35.14488546218738,126.79075074713214,wy4pvjyjy9kp,None,1,세븐일레븐본사
1652562,1652563,00984454280,1,2308505127,세븐일레븐대전월평제일점,04215770711,5202,편의점,988987.201,1817965.763,36.35905222298496,127.37725002802054,wy6wfdcqc49d,None,1,세븐일레븐본사
1661348,1661349,00984631531,1,1358558329,세븐일레븐광주내방제일점,06215770711,5202,편의점,942587.729,1684471.739,35.15385231749342,126.8696580284157,wy4pyzxdj319,None,1,세븐일레븐본사
1664024,1664025,00984688853,1,3318500594,세븐일레븐제주현대오피스텔점,06415770711,5202,편의점,905921.775,1500347.369,33.49083923494764,126.48728527502435,wvcyw2c4r2gv,None,1,세븐일레븐본사
1667554,1667555,00984762674,1,8588500541,세븐일레븐광주용봉원룸점,06215770711,5202,편의점,945263.809,1687283.817,35.17935725835568,126.89885125626478,wy60pshyte98,None,1,세븐일레븐본사
1692819,1692820,00985263508,1,2948500510,세븐일레븐제주마리나호텔점,06415770711,5202,편의점,906883.795,1500553.996,33.49278684791391,126.49761817712974,wvcyw90v85ux,None,1,세븐일레븐본사
1695524,1695525,00985314491,1,4158524123,세븐일레븐광주양산지구점,06215770711,5202,편의점,943484.66,1690613.631,35.20928237920429,126.87908406803203,wy60r1wsbvyn,None,1,세븐일레븐본사
1716336,1716337,00985720515,1,1098544224,세븐일레븐유성반석사랑점,04215770711,5202,편의점,983403.02,1821493.374,36.39077465204366,127.31493300339746,wy6x10ezsund,None,1,세븐일레븐본사
1716353,1716354,00985720754,1,5998500623,세븐일레븐충남대의대후문점,04215770711,5202,편의점,992302.761,1813170.275,36.31585111135827,127.4142530091683,wy6we7h5pm34,None,1,세븐일레븐본사
1742238,1742239,00986209484,1,6108549734,세븐일레븐대구관음센터점,04215770711,5202,편의점,1094185.453,1771889.283,35.93916086570892,128.54420355648892,wy7kmne0c11m,None,1,세븐일레븐본사
1744133,1744134,00986247278,1,2958500605,세븐일레븐대전송촌본점,04215770711,5202,편의점,994804.169,1817500.987,36.35491109725009,127.44208970491954,wy6wu40qxyte,None,1,세븐일레븐본사
1744854,1744855,00986260347,1,4828500572,세븐일레븐광주용봉샤인점,06215770711,5202,편의점,945926.608,1687724.761,35.1833690199142,126.90610127769237,wy60pufjyrre,None,1,세븐일레븐본사
1748615,1748616,00986332559,1,3148540247,세븐일레븐대전둔산향촌점,04215770711,5202,편의점,988818.351,1817203.284,36.352176232159685,127.37537896759204,wy6wf3xyv2y3,None,1,세븐일레븐본사
1764938,1764939,00986632263,1,3958500604,세븐일레븐대전괴정원룸점,04215770711,5202,편의점,989636.156,1815453.876,36.336413766208686,127.38451679014895,wy6wdwydfqkp,None,1,세븐일레븐본사
1768074,1768075,00986690592,1,3268500710,세븐일레븐장대중앙점,04215770711,5202,편의점,985108.132,1818510.8,36.36391368842961,127.33400316951254,wy6wcecg1kf6,None,1,세븐일레븐본사
1772856,1772857,00986777415,1,2178114493,티몬_스마트로,0216669114,5503,PG(일반),944434.501,1947980.12,37.529456862215945,126.87111657918331,wydjx008zmc4,None,1,(주)스마트로
1780703,1780704,00986913416,1,7838500679,세븐일레븐S대전지족역점,04215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1791936,1791937,00987118270,1,7138500651,세븐일레븐서귀포중문상로점,06415770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1837716,1837717,00987904695,1,2178114493,스카이라이프(정기)_스마트로,0216669114,8204,유선및위성방송,.,.,0,0,7zzzzzzzzzzz,None,1,(주)스마트로
1838500,1838501,00987918315,1,4558500736,세븐일레븐제주러브랜드점,06415770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1850356,1850357,00988111662,1,3748500757,세븐일레븐충남대정문점,04215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1854303,1854304,00988178794,1,6428500738,세븐일레븐광주금호스타점,06215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1874056,1874057,00988515888,1,1616200171,세븐일레븐서대전역사거리점,04215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1884560,1884561,00988691770,1,6278500646,세븐일레븐대전관평타운점,04215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1902944,1902945,00988986667,1,6168609775,세븐일레븐서귀포벨류호텔점,06415770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1918288,1918289,00989233697,1,4108605870,세븐일레븐해남터미널점,06215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사
1921188,1921189,00989279948,1,2058101466,평안엘앤씨(주)안성직영점,0234070611,8105,"기타레저,스포츠용품",.,.,0,0,7zzzzzzzzzzz,None,1,평안엘엔시
2001319,2001320,00990551848,1,7791500740,세븐일레븐광주오치우성점,06215770711,5202,편의점,.,.,0,0,7zzzzzzzzzzz,None,1,세븐일레븐본사

In [59]:
final.to_pickle('final_result.pkl')

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine("mysql+pymysql://eums:eums00!q@133.186.146.142:3306/eums-poi?charset=utf8mb4", encoding = 'utf8' ,
                   pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

In [16]:
query = """
select ID,CO_NAME
from MEUMS_COMPANY
where CATE ='외식'
"""

In [17]:
company = pd.read_sql_query(query, engine)
company.head()

       ID  CO_NAME
0   21425  BBQ 전농점
1   65305       가향
2   94396   고메이494
3  119000     국수나무
4  121417     군산횟집

In [21]:
company.CO_NAME[1].split(' ')

['가향']

In [ ]:
for name in comapny.CO_NAME.unique():

In [64]:
len(company)

500000

In [ ]:
num_pair = {}
while len(num_pair) != len(company.REP_PHONE_NUM.unique()):
    try:
        s = pd.Series(num_pair, name='Valid')
        s.index.name = 'REP_PHONE_NUM'
        s = s.reset_index()
        r = company.join(s.set_index('REP_PHONE_NUM'), on='REP_PHONE_NUM')
        r1 = r[r.Valid != -1]
        r2 = r1[r1.Valid != 1]
        print(len(r2))
        # driver = webdriver.Chrome(path, chrome_options = options)
        count = 0
        for phone_num in r2.TEL:
            count += 1    
            if count % 1000 == 0:
                print('running...', phone_num, count / 1000)
                time.sleep(random.randrange(1,7))
            try:
                if num_pair[phone_num] != 0:
                    continue
            except:
                html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
                data = urlopen(html, timeout = 1000)
                resp = json.loads(data.read())

                try:
                    r = pd.DataFrame(resp)
                    r = pd.DataFrame(r['data'][0])
                    if r['results']['totalCount'] == 0:
                        num_pair.update({phone_num:-1})
                    else:
                        print (r['value'][1])
                        num_pair.update({phone_num:1})
                except:
                    num_pair.update({phone_num:-1})
    except:
        print('exception occured!')
        f = open('num2.txt','a')
        f.write(str(len(r2))+'\n')
        f.close()
        s = pd.Series(num_pair, name='Valid')
        s.index.name = 'REP_PHONE_NUM'
        s = s.reset_index()
        s.to_pickle('company_phone_num_pair_total.pkl')
        continue

500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!
500000
exception occured!

In [7]:
f2 = open("unigram.txt", 'r')
li = f2.read().encode('cp949').encode('utf-8').encode('utf-8').split('\n')
f2.close()

UnicodeDecodeError: 'cp949' codec can't decode byte 0x80 in position 14: illegal multibyte sequence

In [13]:
with open("unigram.txt", 'r',) as f:
    f.read()

UnicodeDecodeError: 'cp949' codec can't decode byte 0x80 in position 14: illegal multibyte sequence

In [23]:
company[company.CO_NAME == '형제슈퍼']

Empty DataFrame
Columns: [ID, CO_NAME]
Index: []

In [6]:
import pandas as pd
from sqlalchemy import create_engine
impor

In [3]:
engine = create_engine("mysql+pymysql://eums:eums00!q@133.186.146.142:3306/eums-poi?charset=utf8mb4", encoding = 'utf8' ,
                   pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

In [7]:
query = """
select *
from MEUMS_COMPANY
"""

In [8]:
company = pd.read_sql_query(query,engine)
company.head()

OperationalError: (pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query ([WinError 10053] 현재 연결은 사용자의 호스트 시스템의 소프트웨어의 의해 중단되었습니다)') (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
result = {}
count = 0
for phone_num in company.REP_PHONE_NUM:
    count+=1
    if count % 10000 ==0:
        print(phone_num)
    html = """https://114search.114.co.kr/NextenGateway/general/info/?areaCode=0201002086000&latitude=37.4890604237&longitude=126.9924828985&type=A&query={}&originalQuery={}&address=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%84%9C%EC%B4%88%EA%B5%AC+%EB%B0%A9%EB%B0%B04%EB%8F%99&poiLatitude=&poiLongitude=&sortType=D&radius=-1&size=5&page=1""".format(phone_num,phone_num)
    data = urlopen(html, timeout = 1000)
    resp = json.loads(data.read())
    try:
        r = pd.DataFrame(resp)
        r = pd.DataFrame(r['data'][0])
        if r['results']['totalCount'] == 0:
            result.update({phone_num:-1})
        else:
            print (r['value'][1])
            result.update({phone_num:1})
    except:
        result.update({phone_num:-1})