In [1]:
# Perform imports here:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import dash
import dash_core_components as dcc
import dash_html_components as html
import datetime
from sqlalchemy import create_engine
from dash.dependencies import Input, Output, State
import math

In [3]:
# Create a pandas DataFrame from 2010YumaAZ.csv
app = dash.Dash()

In [14]:
engine = create_engine("mysql+pymysql://eums:eums00!q@133.186.146.142:3306/eums-poi?charset=utf8mb4", encoding = 'utf8' ,
                        pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

query = "SELECT * FROM MEUMS_COMPANY WHERE REP_PHONE_NUM is not null LIMIT 10000"
print(query)
df = pd.read_sql_query(query, engine)

df

SELECT * FROM MEUMS_COMPANY WHERE REP_PHONE_NUM is not null LIMIT 10000

,ID,CO_NAME,CO_NAME_R,URL,SEARCH_URL,REP_DIRECTOR,REP_PHONE_NUM,ESTABLISHED_DT,FOUNDING_DT,ADDR,...,STATUS,HEADQURT_YN,SEARCH_REVOKE_YN,VT_STORE_YN,PARENT_ID,VERSION,REG_DT,MODIFIER,UPT_DT,CO_NAME_SYN
0,2605884,(주)남구미1급종합정비,남구미1급종합정비,None,0.0,None,,None,None,경북 구미시 오태동 241-1,...,1,0,0,0,0,0,2016-06-09 11:03:00,REFINING,2017-05-15 14:52:00,남구미1급종합정비
1,2612326,놀다가개,놀다가개,None,0.0,None,,None,None,경기 양주시 만송동 11,...,1,0,0,0,0,0,2016-06-09 11:04:09,REFINING,2017-12-31 17:39:44,놀다가개
2,2705001,(주)더반인터내셔널,더반인터내셔널,None,0.0,None,,None,None,"서울 동대문구 전농동 1-70 대성빌딩 502호, 503호",...,1,0,0,0,0,0,2016-09-27 05:53:11,REFINING,2017-12-26 21:15:14,더반인터내셔널
3,2724785,동경나이론,동경나이론,None,0.0,None,,None,None,경기도 김포시 통진읍 옹정리,...,1,0,0,0,0,0,2016-06-09 11:24:02,REFINING,2017-05-15 14:57:56,동경나이론
4,2926039,벨류원(주),벨류원,None,0.0,None,,None,None,경기 부천시 오정구 내동 231-1,...,1,0,0,0,0,0,2016-09-27 14:37:46,REFINING,2017-05-15 15:07:32,벨류원
5,3322387,우진초경,우진초경,None,0.0,None,,None,None,인천 동구 송현동 129,...,1,0,0,0,0,0,2016-09-28 06:34:10,REFINING,2017-05-15 15:25:40,우진초경
6,3345648,윈포트빌딩,윈포트빌딩,None,0.0,None,,None,None,서울 강동구 성내동 111-58,...,1,0,0,0,0,0,2016-06-09 12:04:58,REFINING,2017-05-15 15:26:58,윈포트빌딩
7,3363411,유토포스와이어리스,유토포스와이어리스,None,0.0,None,,None,None,서울 구로구 구로동 187-10,...,1,0,0,0,0,0,2016-06-09 12:07:51,REFINING,2017-05-15 15:27:38,유토포스와이어리스
8,3396597,이토마토빌딩,이토마토빌딩,None,0.0,None,,None,None,서울 마포구 합정동 379,...,-1,0,0,0,0,0,2016-06-09 12:13:42,REFINING,2018-03-28 21:14:15,이토마토빌딩
9,3475091,젤라블루코리아,젤라블루코리아,None,0.0,None,,None,None,서울특별시 광진구 광장동,...,1,0,0,0,0,0,2016-06-09 12:27:02,REFINING,2017-05-15 15:33:12,젤라블루코리아
10,3516002,지호축산,지호축산,None,0.0,None,,None,None,제주특별자치도 제주시 한림읍 상명리 702,...,1,0,0,0,0,0,2016-09-28 12:22:41,REFINING,2017-05-15 15:35:12,지호축산
11,3665236,(주)파슬넷,파슬넷,None,0.0,None,,None,None,서울 중구 필동2가 82-1,...,1,0,0,0,0,0,2016-06-09 11:10:44,REFINING,2017-05-15 15:42:17,파슬넷
12,3719307,하이츠크리닝,하이츠크리닝,None,0.0,None,,None,None,서울특별시 금천구 독산동,...,1,0,0,0,0,0,2016-06-09 11:20:32,REFINING,2017-05-15 15:44:54,하이츠크리닝
13,3726686,한국바이오켐제약,한국바이오켐제약,None,0.0,None,,None,None,세종특별자치시 전의면 신정리,...,1,0,0,0,0,0,2016-06-09 11:21:57,REFINING,2017-05-15 15:45:16,한국바이오켐제약
14,3726818,한국버티칼,한국버티칼,None,0.0,None,,None,None,대구 서구 평리동 1088-34,...,1,0,0,0,0,0,2016-06-09 11:22:00,REFINING,2017-05-15 15:45:16,한국버티칼
15,3726910,한국보쉬디젤,한국보쉬디젤,None,0.0,None,,None,None,대전 대덕구 신일동 1685-2,...,1,0,0,0,0,0,2016-06-09 11:22:01,REFINING,2017-05-15 15:45:16,한국보쉬디젤
16,3726970,한국본코트,한국본코트,None,0.0,None,,None,None,경기도 김포시 양촌읍 학운리,...,1,0,0,0,0,0,2016-06-09 11:22:02,REFINING,2017-05-15 15:45:17,한국본코트
17,3727104,한국비엔지텍,한국비엔지텍,None,0.0,None,,None,None,충청북도 충주시 동량면 대전리,...,1,0,0,0,0,0,2016-06-09 11:22:04,REFINING,2017-05-15 15:45:17,한국비엔지텍
18,3727732,한국서지정보,한국서지정보,None,0.0,None,,None,None,서울특별시 용산구 청파동3가,...,1,0,0,0,0,0,2016-06-09 11:22:13,REFINING,2017-05-15 15:45:18,한국서지정보
19,3727976,한국소프트웨어진흥원빌딩,한국소프트웨어진흥원빌딩,None,0.0,None,,None,None,서울 송파구 가락동 79-2,...,1,0,0,0,0,0,2016-06-09 11:22:17,REFINING,2018-01-04 15:42:46,한국소프트웨어진흥원빌딩
20,3728426,한국신유마이크로포토,한국신유마이크로포토,None,0.0,None,,None,None,광주광역시 광산구 산정동,...,1,0,0,0,0,0,2016-06-09 11:22:25,REFINING,2017-05-15 15:45:34,한국신유마이크로포토
21,3728616,한국아덱스,한국아덱스,None,0.0,None,,None,None,충청북도 음성군 원남면 상당리,...,1,0,0,0,0,0,2016-09-28 18:05:31,REFINING,2017-05-15 15:45:34,한국아덱스
22,3728866,한국알테크,한국알테크,None,0.0,None,,None,None,강원도 춘천시 남산면 창촌리,...,1,0,0,0,0,0,2016-06-09 11:22:32,REFINING,2017-05-15 15:45:34,한국알테크
23,3729028,한국양봉농협대전사업소,한국양봉농협대전사업소,None,0.0,None,,None,None,대전광역시 서구 변동,...,1,0,0,0,0,0,2016-06-09 11:22:35,REFINING,2017-05-15 15:45:35,한국양봉농협대전사업소
24,3729178,한국에스티엘,한국에스티엘,None,0.0,None,,None,None,서울 중구 소공동 51,...,1,0,0,0,0,0,2016-06-09 11:22:38,REFINING,2017-05-15 15:45:35,한국에스티엘
25,3729251,한국에코너지(주),한국에코너지,None,0.0,None,,None,None,울산 남구 달동 568-4,...,1,0,0,0,0,0,2016-06-09 11:22:39,REFINING,2017-05-15 15:45:35,한국에코너지
26,3729420,(주)한국엠에이,한국엠에이,None,0.0,None,,None,None,대전 동구 삼성동 111-1,...,1,0,0,0,0,0,2016-06-09 11:22:42,REFINING,2017-05-15 15:45:35,한국엠에이
27,3729629,(주)한국오토메이션,한국오토메이션,None,0.0,None,,None,None,울산 남구 신정동 1100-10,...,1,0,0,0,0,0,2016-09-28 18:06:59,REFINING,2017-05-15 15:45:36,한국오토메이션
28,3729662,한국옥산가제이드,한국옥산가제이드,None,0.0,None,,None,None,강원도 춘천시 퇴계동,...,1,0,0,0,0,0,2016-06-09 11:22:45,REFINING,2017-05-15 15:45:36,한국옥산가제이드
29,3729957,한국유멕스,한국유멕스,None,0.0,None,,None,None,경기도 이천시 신둔면 용면리,...,1,0,0,0,0,0,2016-06-09 11:22:50,REFINING,2017-05-15 15:45:36,한국유멕스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,8091564,화동코너,화동코너,None,0.0,None,,None,None,광주 동구 대인동 163,...,1,0,0,0,-1,0,2017-11-28 22:58:02,SERVER,2017-12-01 17:42:11,화동코너
9971,8091566,천자문 계단,천자문계단,None,0.0,None,,None,None,전남 영암군 군서면 동구림리,...,1,0,0,0,-1,0,2017-11-28 22:58:33,SERVER,2017-12-01 17:42:11,천자문계단
9972,8091567,상대포,상대포,None,0.0,None,,None,None,전남 영암군 군서면 서구림리,...,1,0,0,0,-1,0,2017-11-28 22:58:33,SERVER,2017-12-01 17:42:11,상대포
9973,8091569,동현스파24시 매점,동현스파24시매점,None,0.0,None,,None,None,경기 안성시 당왕동 476-1,...,1,0,0,0,-1,0,2017-11-28 22:58:33,SERVER,2018-02-05 19:59:16,동현스파24시매점
9974,8091571,카페송정,카페송정,None,0.0,None,,None,None,광주 광산구 송정동 576-11 1층,...,1,0,0,0,-1,0,2017-11-28 22:59:32,SERVER,2017-12-01 17:42:11,카페송정
9975,8091575,손문연탄불대구막창갈매기살,손문연탄불대구막창갈매기살,None,0.0,None,,None,None,서울 동대문구 전농동 127-334,...,1,0,0,0,-1,0,2017-11-28 23:01:32,SERVER,2018-01-31 15:37:46,손문연탄불대구막창갈매기살
9976,8091576,손문열탄불대구막창갈매기살 여월점,손문열탄불대구막창갈매기살여월점,None,0.0,None,,None,None,경기 부천시 여월동 6-11,...,1,0,0,0,-1,0,2017-11-28 23:01:32,SERVER,2017-12-20 21:51:15,손문열탄불대구막창갈매기살여월점
9977,8091578,레이크골프크럽 식당,레이크골프크럽식당,None,0.0,None,,None,None,충남 천안시 서북구 성성동 45-21,...,1,0,0,0,-1,0,2017-11-28 23:02:04,SERVER,2017-12-23 20:48:14,레이크골프크럽식당
9978,8091579,레이크힐스한양식당,레이크힐스한양식당,None,0.0,None,,None,None,경남 창녕군 부곡면 거문리 213-19,...,1,0,0,0,-1,0,2017-11-28 23:02:04,SERVER,2017-12-23 20:48:14,레이크힐스한양식당
9979,8091582,하나보육사,하나보육사,None,0.0,None,,None,None,서울 관악구 신림동 1576-15,...,1,0,0,0,-1,0,2017-11-28 23:02:05,SERVER,2017-12-01 17:42:29,하나보육사
9980,8091583,대진대학교 음악학부대연습실,대진대학교음악학부대연습실,None,0.0,None,,None,None,경기 포천시 자작동 산 32-3,...,1,0,0,0,-1,0,2017-11-28 23:02:31,SERVER,2017-12-01 17:42:29,대진대학교음악학부대연습실
9981,8091584,대진대학교 음악학관,대진대학교음악학관,None,0.0,None,,None,None,경기 포천시 자작동 산 32-3,...,1,0,0,0,-1,0,2017-11-28 23:02:32,SERVER,2017-12-01 17:42:29,대진대학교음악학관
9982,8091585,이지텔,이지텔,None,0.0,None,,None,None,대전 유성구 봉명동 535-1608 신한진오피스텔,...,1,0,0,0,-1,0,2017-11-28 23:02:32,SERVER,2017-12-01 17:42:11,이지텔
9983,8091596,핸즈커피 팔달시장점,핸즈커피팔달시장점,None,0.0,None,,None,None,대구 북구 노원동3가 783-3 1층,...,1,0,0,0,-1,0,2017-11-28 23:05:03,SERVER,2017-12-01 17:42:11,핸즈커피팔달시장점
9984,8091597,월곡윤활유급유소,월곡윤활유급유소,None,0.0,None,,None,None,서울 성북구 상월곡동 52-2,...,1,0,0,0,-1,0,2017-11-28 23:05:03,SERVER,2017-12-01 17:42:11,월곡윤활유급유소
9985,8091599,제이제이아이글로벌,제이제이아이글로벌,None,0.0,None,,None,None,서울 강남구 논현동 211-15 한솔빌딩 419,...,1,0,0,0,-1,0,2017-11-28 23:05:03,SERVER,2018-02-17 20:08:45,제이제이아이글로벌
9986,8091601,글로벌제이제이,글로벌제이제이,None,0.0,None,,None,None,경기 고양시 일산동구 백석동 1324 동문굿모닝타워2차 609,...,1,0,0,0,-1,0,2017-11-28 23:05:03,SERVER,2018-02-17 20:08:45,글로벌제이제이
9987,8091609,초평낚시터봉길이네,초평낚시터봉길이네,None,0.0,None,,None,None,충북 진천군 초평면 화산리 501-1,...,1,0,0,0,-1,0,2017-11-28 23:07:02,SERVER,2017-12-01 17:42:28,초평낚시터봉길이네
9988,8091611,봉길이네,봉길이네,None,0.0,None,,None,None,대구광역시 중구 동인동4가 280-3 2층,...,1,0,0,0,-1,0,2017-11-28 23:07:02,SERVER,2018-02-17 22:36:47,봉길이네
9989,8091612,수리봉길,수리봉길,None,0.0,None,,None,None,경기 남양주시 오남읍 팔현리,...,1,0,0,0,-1,0,2017-11-28 23:07:02,SERVER,2017-12-01 17:42:10,수리봉길
9990,8091613,봉길,봉길,None,0.0,None,,None,None,전북 무주군 부남면 대유리,...,1,0,0,0,-1,0,2017-11-28 23:07:02,SERVER,2017-12-01 17:42:10,봉길
9991,8091615,봉길터널,봉길터널,None,0.0,None,,None,None,경북 경주시 양북면 봉길리,...,1,0,0,0,-1,0,2017-11-28 23:07:02,SERVER,2017-12-01 17:42:10,봉길터널
9992,8091627,풍기읍수도사업소,풍기읍수도사업소,None,0.0,None,,None,None,경북 영주시 풍기읍 성내리 242-5,...,1,0,0,0,-1,0,2017-11-28 23:08:03,SERVER,2017-12-01 17:42:11,풍기읍수도사업소
9993,8091637,더배트맨,더배트맨,None,0.0,None,,None,None,서울 은평구 갈현동 456-32,...,1,0,0,0,-1,0,2017-11-28 23:09:03,SERVER,2018-01-08 08:15:12,더배트맨
9994,8091640,빅다방 광주충장로점,빅다방광주충장로점,None,0.0,None,,None,None,광주 동구 황금동 111-1 1~2층,...,1,0,0,0,-1,0,2017-11-28 23:09:03,SERVER,2017-12-01 17:42:29,빅다방광주충장로점
9995,8091642,메가커피 시흥은행점,메가커피시흥은행점,None,0.0,None,,None,None,경기 시흥시 은행동 105-15,...,1,0,0,0,-1,0,2017-11-28 23:09:31,SERVER,2017-12-01 17:42:29,메가커피시흥은행점
9996,8091647,VR STAR 송도트리플스트리트점,VRSTAR송도트리플스트리트점,None,0.0,None,,None,None,인천 연수구 송도동 170-1 트리플스트리트 A동 지하2층,...,1,0,0,0,-1,0,2017-11-28 23:10:02,SERVER,2017-12-01 17:42:11,VRSTAR송도트리플스트리트점
9997,8091658,토리이야기,토리이야기,None,0.0,None,,None,None,서울 강동구 암사3동,...,1,0,0,0,-1,0,2017-11-28 23:12:04,SERVER,2017-12-01 17:42:11,토리이야기
9998,8091663,멘무샤 월곡홈플러스점,멘무샤월곡홈플러스점,None,0.0,None,,None,None,서울 성북구 하월곡동 46-73 홈플러스 지하 2층,...,1,0,0,0,-1,0,2017-11-28 23:13:03,SERVER,2018-01-15 03:34:15,멘무샤월곡홈플러스점
9999,8091670,광고세상,광고세상,None,0.0,None,,None,None,경기 수원시 영통구 매탄동 4-69,...,1,0,0,0,-1,0,2017-11-28 23:14:03,SERVER,2017-12-01 17:42:29,광고세상

In [16]:
app.layout = html.Div([
        html.Div([
            dcc.Dropdown(
                id = 'col_name',
                options = [{'label': 'phone_num', 'value': 'REP_PHONE_NUM'},
                          {'label': 'Address', 'value': 'ARRR'},
                          {'label':'Road_Address','value': 'ROAD_ADDR'}],
                value = 'columns'
            )], style = {'width': 200,'height':70,"text-align":"center"}),
        
        html.Button(id = 'submit-button', n_clicks= 0, children = 'Submit', style = {'fontSize':20, 'height':50}),
    dcc.Graph(id = 'feature-graphic')
])

In [20]:
@app.callback(
    Output('feature-graphic', 'figure'),
    [Input('submit-button', 'n_clicks')],
    [State('col_name', 'value')])
def update_graph(n_click, col_name):
    engine = create_engine("mysql+pymysql://eums:eums00!q@133.186.146.142:3306/eums-poi?charset=utf8mb4", encoding = 'utf8' ,
                        pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )
    
    query = "SELECT * FROM MEUMS_COMPANY WHERE REP_PHONE_NUM LIKE '02%' AND ADDR NOT LIKE '%서울%' LIMIT 10000".format(col_name)
    print(query)
    df = pd.read_sql_query(query, engine)

    return{
        'data': [go.Scatter(x = df[col_name],
                            y = df['CO_NAME'],
                           mode = 'markers',
                           name = 'temp'
                )],
        'layout':go.Layout(title = col_name)
    }

In [2]:
engine = create_engine("mysql+pymysql://eums:eums00!q@192.168.0.50:3306/eums?charset=utf8mb4", encoding = 'utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

query_test = """
select EPOPCON_ID, COMPANY_ID, DEAL_DT from MEUMS_COMP_REVISIT_HIS
where EPOPCON_ID like "%%00"
limit 10000
"""
query_test

'\nselect EPOPCON_ID, COMPANY_ID, DEAL_DT from MEUMS_COMP_REVISIT_HIS\nwhere EPOPCON_ID like "%%00"\nlimit 10000\n'

In [3]:
%%time
members = pd.read_sql_query(query_test, engine)

Wall time: 6.49 s

In [52]:
members.to_csv('members.csv')

In [4]:
members

                          EPOPCON_ID  COMPANY_ID             DEAL_DT
0     eppcn1576d614c99bd034b62672a00       10783 2016-06-18 11:33:00
1     eppcn1576d614c99bd034b62672a00       14366 2016-06-12 12:14:00
2     eppcn1576d614c99bd034b62672a00       14366 2016-06-22 13:26:00
3     eppcn1576d614c99bd034b62672a00       36087 2016-06-09 15:54:00
4     eppcn1576d614c99bd034b62672a00      446877 2016-06-13 15:06:00
5     eppcn1576d614c99bd034b62672a00      587079 2016-06-12 15:17:00
6     eppcn1576d614c99bd034b62672a00      740666 2016-06-08 12:28:00
7     eppcn1576d614c99bd034b62672a00      740666 2016-06-22 13:12:00
8     eppcn1576d614c99bd034b62672a00      740666 2016-06-22 13:15:00
9     eppcn1576d614c99bd034b62672a00      762669 2016-06-02 12:47:00
10    eppcn1576d614c99bd034b62672a00      780053 2016-06-17 03:28:00
11    eppcn1576d614c99bd034b62672a00      833558 2016-06-02 11:51:00
12    eppcn1576d614c99bd034b62672a00      918472 2016-05-31 02:33:00
13    eppcn1576d614c99bd034b62672a00      927926 2016-06-05 15:41:00
14    eppcn1576d614c99bd034b62672a00      927926 2016-06-06 15:30:00
15    eppcn1576d614c99bd034b62672a00      927926 2016-06-07 19:37:00
16    eppcn1576d614c99bd034b62672a00      927926 2016-06-23 14:25:00
17    eppcn1576d614c99bd034b62672a00      950788 2016-06-26 14:33:00
18    eppcn1576d614c99bd034b62672a00      953690 2016-06-10 15:35:00
19    eppcn1576d614c99bd034b62672a00      953690 2016-06-10 15:37:00
20    eppcn1576d614c99bd034b62672a00     3578245 2016-06-07 13:34:00
21    eppcn1576d614c99bd034b62672a00     3642111 2016-06-04 12:22:00
22    eppcn1576d614c99bd034b62672a00     3642111 2016-06-09 18:08:00
23    eppcn1576d614c99bd034b62672a00     3642111 2016-06-21 17:05:00
24    eppcn1576d614c99bd034b62672a00     3642111 2016-06-25 13:03:00
25    eppcn1576d614c99bd034b62672a00     4331087 2016-06-06 23:40:00
26    eppcn1576d614c99bd034b62672a00     4331087 2016-06-13 21:35:00
27    eppcn1576d614c99bd034b62672a00     4331087 2016-06-17 14:20:00
28    eppcn1576d614c99bd034b62672a00     4341450 2016-06-20 08:56:00
29    eppcn1576d614c99bd034b62672a00     4341450 2016-06-20 09:17:00
...                              ...         ...                 ...
9970  eppcn15728ca2799bd03267fa61300     3642111 2014-04-07 22:42:00
9971  eppcn15728ca2799bd03267fa61300     3642111 2014-04-09 03:48:00
9972  eppcn15728ca2799bd03267fa61300     3642111 2014-04-12 09:31:00
9973  eppcn15728ca2799bd03267fa61300     3642111 2014-04-26 20:22:00
9974  eppcn15728ca2799bd03267fa61300     3642111 2014-04-27 19:28:00
9975  eppcn15728ca2799bd03267fa61300     3642111 2014-05-03 18:06:00
9976  eppcn15728ca2799bd03267fa61300     3642111 2014-05-05 04:10:00
9977  eppcn15728ca2799bd03267fa61300     3642111 2014-05-08 21:56:00
9978  eppcn15728ca2799bd03267fa61300     3642111 2014-05-09 22:11:00
9979  eppcn15728ca2799bd03267fa61300     3642111 2014-05-13 01:35:00
9980  eppcn15728ca2799bd03267fa61300     3642111 2014-05-18 18:15:00
9981  eppcn15728ca2799bd03267fa61300     3642111 2014-05-18 21:58:00
9982  eppcn15728ca2799bd03267fa61300     3642111 2014-05-22 05:48:00
9983  eppcn15728ca2799bd03267fa61300     3642111 2014-05-24 09:21:00
9984  eppcn15728ca2799bd03267fa61300     3642111 2014-05-24 22:44:00
9985  eppcn15728ca2799bd03267fa61300     3642111 2014-05-25 09:19:00
9986  eppcn15728ca2799bd03267fa61300     3642111 2014-05-25 23:02:00
9987  eppcn15728ca2799bd03267fa61300     3642111 2014-05-26 00:14:00
9988  eppcn15728ca2799bd03267fa61300     3642111 2014-05-26 20:58:00
9989  eppcn15728ca2799bd03267fa61300     3642111 2014-05-29 21:41:00
9990  eppcn15728ca2799bd03267fa61300     3642111 2014-05-31 22:42:00
9991  eppcn15728ca2799bd03267fa61300     3642111 2014-06-01 05:08:00
9992  eppcn15728ca2799bd03267fa61300     3642111 2014-06-01 22:39:00
9993  eppcn15728ca2799bd03267fa61300     3642111 2014-06-03 02:08:00
9994  eppcn15728ca2799bd03267fa61300     3642111 2014-06-05 03:14:00
9995  eppcn15728ca2799bd03267fa61300     3642111 2014-06-07 01:42:00
9996  eppcn15728ca2799bd03267fa61300     3642111 2014-06-08 21:07:00
9997  eppcn15728ca2799bd03267fa61300     3642111 2014-06-09 03:44:00
9998  eppcn15728ca2799bd03267fa61300     3642111 2014-06-11 21:44:00
9999  eppcn15728ca2799bd03267fa61300     3642111 2014-06-14 21:02:00

[10000 rows x 3 columns]

In [5]:
engine = create_engine("mysql+pymysql://eums:eums00!q@192.168.0.50:3306/eums?charset=utf8mb4", encoding = 'utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

query_test = """
select LATITUDE, LONGITUDE, ID as COMPANY_ID from MEUMS_COMPANY
limit 10000
"""
query_test

'\nselect LATITUDE, LONGITUDE, ID as COMPANY_ID from MEUMS_COMPANY\nlimit 10000\n'

In [6]:
company = pd.read_sql_query(query_test, engine)

In [57]:
company.to_csv('company.csv')

In [7]:
company

         LATITUDE    LONGITUDE  COMPANY_ID
0     36.30151958  127.3262864           1
1      37.3366487  127.9506159           2
2     37.51796617  126.7262206           3
3      35.5357482  129.3010192           4
4       35.206511  126.8619063           5
5      35.2460951  128.9041763           6
6      37.5124878   127.058853           7
7       35.223347   128.685593           8
8      35.5357482  129.3010192           9
9      35.8390769  128.7534433          10
10     35.8325723  128.7036758          11
11     35.2121308  126.8268831          12
12     37.5580327  127.0306061          13
13    35.55400297  129.0791544          14
14     37.4711881  126.6274865          15
15     34.9836358  127.5789412          16
16     36.3165278  127.4605897          17
17     37.7277969   128.982597          18
18     36.0693676  129.3729044          19
19     37.4930853   127.017615          20
20     37.6932167  127.9560192          21
21     37.4970463  126.7382369          22
22     35.8782988  128.6103289          23
23     35.9876811  126.7102627          24
24     35.2761451  127.2879307          25
25     37.6420706  126.6318252          26
26     37.6105047  127.1514872          27
27      37.548936   126.851532          28
28    34.79572642   126.387832          29
29     35.2596709  126.6574046          30
...           ...          ...         ...
9970    37.528825   127.084438       10135
9971    37.542108    127.04965       10136
9972      37.5263      127.143       10137
9973   37.5873592  127.0874227       10138
9974   37.6588356  127.0684975       10139
9975    37.532425   127.129563       10140
9976   37.6461794  127.1220036       10141
9977   37.6525531  127.0774593       10142
9978   37.5590308    127.14888       10143
9979   37.6104889  127.0194527       10144
9980   37.5964348  127.1491819       10145
9981    37.580475   127.018825       10146
9982   37.5758666    127.03725       10147
9983   37.6066647  127.0273155       10148
9984    37.534508   127.082438       10149
9985    37.631924   127.214412       10150
9986   37.5990075  127.0351572       10151
9987    37.605882   127.099538       10152
9988   37.5824043  127.0200491       10153
9989   37.6163584  127.1871747       10154
9990    37.571925    127.05115       10155
9991    37.571925    127.05115       10156
9992   37.6028326  127.0761733       10157
9993   37.6141245  127.0437129       10158
9994    37.597849    127.06545       10159
9995   37.5515822  127.1655161       10160
9996   37.5204381  127.1122779       10161
9997   37.6034071  127.0263875       10162
9998   37.4969643  127.1432324       10163
9999    37.601415  127.0166417       10164

[10000 rows x 3 columns]

In [58]:
company

         LATITUDE    LONGITUDE  COMPANY_ID
0     36.30151958  127.3262864           1
1      37.3366487  127.9506159           2
2     37.51796617  126.7262206           3
3      35.5357482  129.3010192           4
4       35.206511  126.8619063           5
5      35.2460951  128.9041763           6
6      37.5124878   127.058853           7
7       35.223347   128.685593           8
8      35.5357482  129.3010192           9
9      35.8390769  128.7534433          10
10     35.8325723  128.7036758          11
11     35.2121308  126.8268831          12
12     37.5580327  127.0306061          13
13    35.55400297  129.0791544          14
14     37.4711881  126.6274865          15
15     34.9836358  127.5789412          16
16     36.3165278  127.4605897          17
17     37.7277969   128.982597          18
18     36.0693676  129.3729044          19
19     37.4930853   127.017615          20
20     37.6932167  127.9560192          21
21     37.4970463  126.7382369          22
22     35.8782988  128.6103289          23
23     35.9876811  126.7102627          24
24     35.2761451  127.2879307          25
25     37.6420706  126.6318252          26
26     37.6105047  127.1514872          27
27      37.548936   126.851532          28
28    34.79572642   126.387832          29
29     35.2596709  126.6574046          30
...           ...          ...         ...
9970    37.528825   127.084438       10135
9971    37.542108    127.04965       10136
9972      37.5263      127.143       10137
9973   37.5873592  127.0874227       10138
9974   37.6588356  127.0684975       10139
9975    37.532425   127.129563       10140
9976   37.6461794  127.1220036       10141
9977   37.6525531  127.0774593       10142
9978   37.5590308    127.14888       10143
9979   37.6104889  127.0194527       10144
9980   37.5964348  127.1491819       10145
9981    37.580475   127.018825       10146
9982   37.5758666    127.03725       10147
9983   37.6066647  127.0273155       10148
9984    37.534508   127.082438       10149
9985    37.631924   127.214412       10150
9986   37.5990075  127.0351572       10151
9987    37.605882   127.099538       10152
9988   37.5824043  127.0200491       10153
9989   37.6163584  127.1871747       10154
9990    37.571925    127.05115       10155
9991    37.571925    127.05115       10156
9992   37.6028326  127.0761733       10157
9993   37.6141245  127.0437129       10158
9994    37.597849    127.06545       10159
9995   37.5515822  127.1655161       10160
9996   37.5204381  127.1122779       10161
9997   37.6034071  127.0263875       10162
9998   37.4969643  127.1432324       10163
9999    37.601415  127.0166417       10164

[10000 rows x 3 columns]

In [101]:
frame = [members, company]

In [102]:
df = pd.merge(members, company, how = 'left', on = 'COMPANY_ID')
df

,EPOPCON_ID,COMPANY_ID,DEAL_DT,LATITUDE,LONGITUDE
0,eppcn1576d614c99bd034b62672a00,10783,2016-06-18 11:33:00,37.47432827,126.9178962
1,eppcn1576d614c99bd034b62672a00,14366,2016-06-12 12:14:00,37.4967904,126.9194401
2,eppcn1576d614c99bd034b62672a00,14366,2016-06-22 13:26:00,37.4967904,126.9194401
3,eppcn1576d614c99bd034b62672a00,36087,2016-06-09 15:54:00,37.4998063,127.0366235
4,eppcn1576d614c99bd034b62672a00,446877,2016-06-13 15:06:00,NaN,NaN
5,eppcn1576d614c99bd034b62672a00,587079,2016-06-12 15:17:00,NaN,NaN
6,eppcn1576d614c99bd034b62672a00,740666,2016-06-08 12:28:00,NaN,NaN
7,eppcn1576d614c99bd034b62672a00,740666,2016-06-22 13:12:00,NaN,NaN
8,eppcn1576d614c99bd034b62672a00,740666,2016-06-22 13:15:00,NaN,NaN
9,eppcn1576d614c99bd034b62672a00,762669,2016-06-02 12:47:00,NaN,NaN
10,eppcn1576d614c99bd034b62672a00,780053,2016-06-17 03:28:00,NaN,NaN
11,eppcn1576d614c99bd034b62672a00,833558,2016-06-02 11:51:00,NaN,NaN
12,eppcn1576d614c99bd034b62672a00,918472,2016-05-31 02:33:00,NaN,NaN
13,eppcn1576d614c99bd034b62672a00,927926,2016-06-05 15:41:00,NaN,NaN
14,eppcn1576d614c99bd034b62672a00,927926,2016-06-06 15:30:00,NaN,NaN
15,eppcn1576d614c99bd034b62672a00,927926,2016-06-07 19:37:00,NaN,NaN
16,eppcn1576d614c99bd034b62672a00,927926,2016-06-23 14:25:00,NaN,NaN
17,eppcn1576d614c99bd034b62672a00,950788,2016-06-26 14:33:00,NaN,NaN
18,eppcn1576d614c99bd034b62672a00,953690,2016-06-10 15:35:00,NaN,NaN
19,eppcn1576d614c99bd034b62672a00,953690,2016-06-10 15:37:00,NaN,NaN
20,eppcn1576d614c99bd034b62672a00,3578245,2016-06-07 13:34:00,NaN,NaN
21,eppcn1576d614c99bd034b62672a00,3642111,2016-06-04 12:22:00,NaN,NaN
22,eppcn1576d614c99bd034b62672a00,3642111,2016-06-09 18:08:00,NaN,NaN
23,eppcn1576d614c99bd034b62672a00,3642111,2016-06-21 17:05:00,NaN,NaN
24,eppcn1576d614c99bd034b62672a00,3642111,2016-06-25 13:03:00,NaN,NaN
25,eppcn1576d614c99bd034b62672a00,4331087,2016-06-06 23:40:00,NaN,NaN
26,eppcn1576d614c99bd034b62672a00,4331087,2016-06-13 21:35:00,NaN,NaN
27,eppcn1576d614c99bd034b62672a00,4331087,2016-06-17 14:20:00,NaN,NaN
28,eppcn1576d614c99bd034b62672a00,4341450,2016-06-20 08:56:00,NaN,NaN
29,eppcn1576d614c99bd034b62672a00,4341450,2016-06-20 09:17:00,NaN,NaN
...,...,...,...,...,...
50523,eppcn158e585c78c0c2452873e8b00,370713,2017-03-28 20:57:59,NaN,NaN
50524,eppcn158e585c78c0c2452873e8b00,1007937,2017-03-29 12:42:54,NaN,NaN
50525,eppcn158e585c78c0c2452873e8b00,1007937,2017-03-29 12:46:30,NaN,NaN
50526,eppcn158e585c78c0c2452873e8b00,3816217,2017-03-29 20:31:33,NaN,NaN
50527,eppcn158e585c78c0c2452873e8b00,3671933,2017-03-31 12:34:50,NaN,NaN
50528,eppcn158e585c78c0c2452873e8b00,743034,2017-04-01 14:52:55,NaN,NaN
50529,eppcn158e585c78c0c2452873e8b00,452849,2017-04-01 18:28:24,NaN,NaN
50530,eppcn158e585c78c0c2452873e8b00,246124,2017-04-01 19:31:04,NaN,NaN
50531,eppcn158e585c78c0c2452873e8b00,993066,2017-04-01 19:36:49,NaN,NaN
50532,eppcn158e585c78c0c2452873e8b00,6624481,2017-04-01 21:52:04,NaN,NaN
50533,eppcn158e585c78c0c2452873e8b00,259336,2017-04-02 09:53:55,NaN,NaN
50534,eppcn158e585c78c0c2452873e8b00,217204,2017-04-02 14:18:50,NaN,NaN
50535,eppcn158e585c78c0c2452873e8b00,259336,2017-04-02 15:24:11,NaN,NaN
50536,eppcn158e585c78c0c2452873e8b00,6378775,2017-04-03 08:47:18,NaN,NaN
50537,eppcn158e585c78c0c2452873e8b00,1007937,2017-04-03 09:21:04,NaN,NaN
50538,eppcn158e585c78c0c2452873e8b00,14366,2017-04-04 10:20:39,37.4967904,126.9194401
50539,eppcn158e585c78c0c2452873e8b00,1007937,2017-04-04 13:38:44,NaN,NaN
50540,eppcn158e585c78c0c2452873e8b00,918472,2017-04-04 14:57:40,NaN,NaN
50541,eppcn158e585c78c0c2452873e8b00,918472,2017-04-04 15:02:21,NaN,NaN
50542,eppcn158e585c78c0c2452873e8b00,1062390,2017-04-04 18:23:39,NaN,NaN
50543,eppcn158e585c78c0c2452873e8b00,4315556,2017-04-05 10:58:46,NaN,NaN
50544,eppcn158e585c78c0c2452873e8b00,918472,2017-04-06 10:13:22,NaN,NaN
50545,eppcn158e4a071cb6ada3e6c7e0300,4371044,2017-04-06 11:14:57,NaN,NaN
50546,eppcn158bd8564cb6ada62d5c42100,1070370,2017-04-06 12:16:34,NaN,NaN
50547,eppcn158bd8564cb6ada62d5c42100,7369962,2017-04-06 12:20:24,NaN,NaN
50548,eppcn157987ce899bd033f1c806700,5827220,2017-04-06 12:53:09,NaN,NaN
50549,eppcn157987ce899bd033f1c806700,6302803,2017-04-06 13:47:13,NaN,NaN
50550,eppcn157987ce899bd033f1c806700,7748612,2017-04-06 15:31:12,NaN,NaN
50551,eppcn158b7ef268c0c2432271bd100,740666,2017-04-06 16:04:22,NaN,NaN
50552,eppcn157987ce899bd033f1c806700,5811448,2017-04-06 16:34:38,NaN,NaN

In [104]:
df = df.dropna(axis = 0)

df = df.sort_values(['EPOPCON_ID', 'DEAL_DT'])

In [105]:
df

,EPOPCON_ID,COMPANY_ID,DEAL_DT,LATITUDE,LONGITUDE
12011,eppcn15701a12d99bd03519f5cb200,36087,2016-01-20 22:47:00,37.4998063,127.0366235
12012,eppcn15701a12d99bd03519f5cb200,36087,2016-01-20 22:49:00,37.4998063,127.0366235
12013,eppcn15701a12d99bd03519f5cb200,36087,2016-01-20 22:51:00,37.4998063,127.0366235
12005,eppcn15701a12d99bd03519f5cb200,14366,2016-02-14 21:13:00,37.4967904,126.9194401
12006,eppcn15701a12d99bd03519f5cb200,14366,2016-02-21 22:34:00,37.4967904,126.9194401
12007,eppcn15701a12d99bd03519f5cb200,14366,2016-03-04 23:37:00,37.4967904,126.9194401
12008,eppcn15701a12d99bd03519f5cb200,14366,2016-03-09 09:35:00,37.4967904,126.9194401
12009,eppcn15701a12d99bd03519f5cb200,14366,2016-03-30 14:16:00,37.4967904,126.9194401
12010,eppcn15701a12d99bd03519f5cb200,14366,2016-03-30 14:29:00,37.4967904,126.9194401
7495,eppcn15716002a99bd03519f5cb400,70677,2015-05-01 13:38:00,37.5370486,127.123276
7477,eppcn15716002a99bd03519f5cb400,27595,2015-05-18 08:11:00,37.5023277,127.0986284
7496,eppcn15716002a99bd03519f5cb400,70677,2015-05-18 19:23:00,37.5370486,127.123276
7478,eppcn15716002a99bd03519f5cb400,27595,2015-05-19 08:05:00,37.5023277,127.0986284
7464,eppcn15716002a99bd03519f5cb400,15331,2015-05-26 20:53:00,37.5093133,127.0074303
7465,eppcn15716002a99bd03519f5cb400,15331,2015-05-26 21:11:00,37.5093133,127.0074303
7466,eppcn15716002a99bd03519f5cb400,15331,2015-05-26 21:16:00,37.5093133,127.0074303
7482,eppcn15716002a99bd03519f5cb400,41041,2015-06-04 19:21:00,37.5365155,127.1258552
7483,eppcn15716002a99bd03519f5cb400,41041,2015-06-04 19:45:00,37.5365155,127.1258552
7484,eppcn15716002a99bd03519f5cb400,60374,2015-06-19 19:44:00,37.5015568,127.108345
7467,eppcn15716002a99bd03519f5cb400,15331,2015-07-14 20:51:00,37.5093133,127.0074303
7468,eppcn15716002a99bd03519f5cb400,15331,2015-07-14 21:53:00,37.5093133,127.0074303
7469,eppcn15716002a99bd03519f5cb400,15331,2015-07-14 21:55:00,37.5093133,127.0074303
7470,eppcn15716002a99bd03519f5cb400,15331,2015-07-14 22:02:00,37.5093133,127.0074303
7471,eppcn15716002a99bd03519f5cb400,15331,2015-07-20 20:39:00,37.5093133,127.0074303
7472,eppcn15716002a99bd03519f5cb400,15331,2015-07-20 20:44:00,37.5093133,127.0074303
7473,eppcn15716002a99bd03519f5cb400,15331,2015-07-20 22:01:00,37.5093133,127.0074303
7494,eppcn15716002a99bd03519f5cb400,70635,2015-07-25 13:46:00,37.5382353,127.1264003
7474,eppcn15716002a99bd03519f5cb400,15331,2015-08-24 21:17:00,37.5093133,127.0074303
7475,eppcn15716002a99bd03519f5cb400,25002,2015-09-01 22:49:00,37.4999747,127.1044701
7476,eppcn15716002a99bd03519f5cb400,25002,2015-09-25 20:21:00,37.4999747,127.1044701
...,...,...,...,...,...
49294,eppcn158d5d51b8c0c2437f273e000,46177,2017-01-04 13:25:05,37.3595122,127.1052208
49302,eppcn158d5d51b8c0c2437f273e000,14366,2017-01-07 10:25:21,37.4967904,126.9194401
49303,eppcn158d5d51b8c0c2437f273e000,36087,2017-01-07 11:33:40,37.4998063,127.0366235
49337,eppcn158d5d51b8c0c2437f273e000,46177,2017-01-22 13:37:55,37.3595122,127.1052208
49339,eppcn158d5d51b8c0c2437f273e000,46177,2017-01-22 20:17:12,37.3595122,127.1052208
49350,eppcn158d5d51b8c0c2437f273e000,24209,2017-01-25 16:31:32,37.4689797,126.9877444
49372,eppcn158d5d51b8c0c2437f273e000,46177,2017-02-07 15:19:40,37.3595122,127.1052208
49374,eppcn158d5d51b8c0c2437f273e000,46177,2017-02-07 15:57:47,37.3595122,127.1052208
49375,eppcn158d5d51b8c0c2437f273e000,46177,2017-02-08 14:47:05,37.3595122,127.1052208
49384,eppcn158d5d51b8c0c2437f273e000,36087,2017-02-13 10:19:58,37.4998063,127.0366235
49410,eppcn158d5d51b8c0c2437f273e000,46177,2017-02-22 13:11:39,37.3595122,127.1052208
49413,eppcn158d5d51b8c0c2437f273e000,46177,2017-02-23 13:10:04,37.3595122,127.1052208
49471,eppcn158d5d51b8c0c2437f273e000,46177,2017-03-23 09:48:30,37.3595122,127.1052208
49698,eppcn158d8c5bbcb6ada334066d600,24209,2017-03-08 22:53:46,37.4689797,126.9877444
50128,eppcn158e0337a8c0c2452873e8a00,47188,2017-01-12 05:42:31,37.5282799,126.9207624
50129,eppcn158e0337a8c0c2452873e8a00,47188,2017-01-12 12:38:20,37.5282799,126.9207624
50143,eppcn158e0337a8c0c2452873e8a00,27315,2017-01-20 08:25:37,37.5065023,127.0522973
50153,eppcn158e0337a8c0c2452873e8a00,27599,2017-01-23 22:32:01,37.5051185,127.0495737
50158,eppcn158e0337a8c0c2452873e8a00,47188,2017-01-24 21:22:15,37.5282799,126.9207624
50220,eppcn158e0337a8c0c2452873e8a00,26033,2017-03-01 11:44:22,37.5328381,126.8457734
50240,eppcn158e0337a8c0c2452873e8a00,88218,2017-03-21 12:33:32,37.5060026,127.0525397
50249,eppcn158e0337a8c0c2452873e8a00,27315,2017-03-27 14:06:16,37.5065023,127.0522973
50254,eppcn158e0337a8c0c2452873e8a00,27315,2017-03-30 08:31:28,37.5065023,127.0522973
50358,eppcn158e4a071cb6ada3e6c7e0300,35024,2017-03-27 06:28:43,37.5838164,126.9092371
50389,eppcn158e585c78c0c2452873e8b00,14366,2017-01-04 16:06:05,37.4967904,126.9194401
50408,eppcn158e585c78c0c2452873e8b00,36087,2017-01-18 22:16:33,37.4998063,127.0366235
50417,eppcn158e585c78c0c2452873e8b00,14366,2017-01-22 23:06:55,37.4967904,126.9194401
50445,eppcn158e585c78c0c2452873e8b00,14366,2017-02-15 18:26:29,37.4967904,126.9194401
50461,eppcn158e585c78c0c2452873e8b00,3668,2017-02-22 14:46:05,37.574844,126.97542
50538,eppcn158e585c78c0c2452873e8b00,14366,2017-04-04 10:20:39,37.4967904,126.9194401

In [33]:
member_df = df[df['EPOPCON_ID'] =='eppcn15724ed7499bd03267fa61000']

In [35]:
member_df = member_df.reset_index()

In [36]:
member_df

,index,EPOPCON_ID,COMPANY_ID,DEAL_DT,LATITUDE,LONGITUDE
0,8093,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:17:00,37.6407534,127.0682432
1,8094,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:20:00,37.6407534,127.0682432
2,8095,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:24:00,37.6407534,127.0682432
3,8096,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:34:00,37.6407534,127.0682432
4,8097,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:43:00,37.6407534,127.0682432
5,8098,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:45:00,37.6407534,127.0682432
6,8099,eppcn15724ed7499bd03267fa61000,1574,2015-02-05 15:32:00,37.6407534,127.0682432
7,8100,eppcn15724ed7499bd03267fa61000,1574,2015-02-06 17:27:00,37.6407534,127.0682432
8,8101,eppcn15724ed7499bd03267fa61000,1574,2015-02-07 14:39:00,37.6407534,127.0682432
9,8102,eppcn15724ed7499bd03267fa61000,1574,2015-02-20 20:25:00,37.6407534,127.0682432
10,8103,eppcn15724ed7499bd03267fa61000,1574,2015-02-20 20:44:00,37.6407534,127.0682432
11,8104,eppcn15724ed7499bd03267fa61000,1574,2015-02-26 20:46:00,37.6407534,127.0682432
12,8105,eppcn15724ed7499bd03267fa61000,1574,2015-03-11 10:40:00,37.6407534,127.0682432
13,8106,eppcn15724ed7499bd03267fa61000,1574,2015-03-11 11:03:00,37.6407534,127.0682432
14,8107,eppcn15724ed7499bd03267fa61000,1574,2015-03-11 11:25:00,37.6407534,127.0682432
15,8108,eppcn15724ed7499bd03267fa61000,1574,2015-03-11 11:29:00,37.6407534,127.0682432
16,8109,eppcn15724ed7499bd03267fa61000,1574,2015-03-12 18:42:00,37.6407534,127.0682432
17,8110,eppcn15724ed7499bd03267fa61000,1574,2015-03-12 18:46:00,37.6407534,127.0682432
18,8111,eppcn15724ed7499bd03267fa61000,1574,2015-03-31 18:17:00,37.6407534,127.0682432
19,8112,eppcn15724ed7499bd03267fa61000,1574,2015-03-31 21:29:00,37.6407534,127.0682432
20,8113,eppcn15724ed7499bd03267fa61000,1574,2015-03-31 21:33:00,37.6407534,127.0682432
21,8114,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 10:31:00,37.6407534,127.0682432
22,8115,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 10:53:00,37.6407534,127.0682432
23,8116,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 11:00:00,37.6407534,127.0682432
24,8117,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 11:17:00,37.6407534,127.0682432
25,8118,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 11:28:00,37.6407534,127.0682432
26,8119,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 11:35:00,37.6407534,127.0682432
27,8120,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 11:41:00,37.6407534,127.0682432
28,8121,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 12:09:00,37.6407534,127.0682432
29,8122,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 12:24:00,37.6407534,127.0682432
...,...,...,...,...,...,...
63,8156,eppcn15724ed7499bd03267fa61000,1574,2015-11-25 18:06:00,37.6407534,127.0682432
64,8157,eppcn15724ed7499bd03267fa61000,1574,2015-11-25 18:14:00,37.6407534,127.0682432
65,8158,eppcn15724ed7499bd03267fa61000,1574,2015-12-23 17:43:00,37.6407534,127.0682432
66,8159,eppcn15724ed7499bd03267fa61000,1574,2015-12-23 18:41:00,37.6407534,127.0682432
67,8160,eppcn15724ed7499bd03267fa61000,1574,2015-12-24 15:39:00,37.6407534,127.0682432
68,8161,eppcn15724ed7499bd03267fa61000,1574,2015-12-24 15:49:00,37.6407534,127.0682432
69,8162,eppcn15724ed7499bd03267fa61000,1574,2015-12-24 16:01:00,37.6407534,127.0682432
70,8163,eppcn15724ed7499bd03267fa61000,1574,2016-01-04 18:46:00,37.6407534,127.0682432
71,8164,eppcn15724ed7499bd03267fa61000,1574,2016-01-04 18:55:00,37.6407534,127.0682432
72,8165,eppcn15724ed7499bd03267fa61000,1574,2016-01-04 19:05:00,37.6407534,127.0682432
73,8166,eppcn15724ed7499bd03267fa61000,1574,2016-01-04 19:21:00,37.6407534,127.0682432
74,8167,eppcn15724ed7499bd03267fa61000,1574,2016-01-15 15:33:00,37.6407534,127.0682432
75,8168,eppcn15724ed7499bd03267fa61000,1574,2016-01-15 16:11:00,37.6407534,127.0682432
76,8169,eppcn15724ed7499bd03267fa61000,1574,2016-02-25 20:02:00,37.6407534,127.0682432
77,8170,eppcn15724ed7499bd03267fa61000,1574,2016-04-05 20:37:00,37.6407534,127.0682432
78,8171,eppcn15724ed7499bd03267fa61000,1574,2016-04-05 20:47:00,37.6407534,127.0682432
79,8172,eppcn15724ed7499bd03267fa61000,1574,2016-04-05 21:08:00,37.6407534,127.0682432
80,8173,eppcn15724ed7499bd03267fa61000,1574,2016-04-05 21:15:00,37.6407534,127.0682432
81,8174,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 13:14:00,37.6407534,127.0682432
82,8175,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 13:40:00,37.6407534,127.0682432
83,8176,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 13:47:00,37.6407534,127.0682432
84,8177,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 13:54:00,37.6407534,127.0682432
85,8178,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 14:15:00,37.6407534,127.0682432
86,8179,eppcn15724ed7499bd03267fa61000,1574,2016-04-11 16:58:00,37.6407534,127.0682432
87,8180,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 16:20:00,37.6407534,127.0682432
88,8181,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 16:53:00,37.6407534,127.0682432
89,8182,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 16:55:00,37.6407534,127.0682432
90,8183,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 17:04:00,37.6407534,127.0682432
91,8184,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 17:08:00,37.6407534,127.0682432
92,8185,eppcn15724ed7499bd03267fa61000,4046,2016-05-05 18:07:00,37.6834635,127.3779023

In [74]:
member_df = member_df.sort_values('DEAL_DT')

In [100]:
member_df

,index,EPOPCON_ID,COMPANY_ID,DEAL_DT,LATITUDE,LONGITUDE
95,8188,eppcn15724ed7499bd03267fa61000,35669,2015-01-15 14:29:00,37.5925861,127.0849992
114,8207,eppcn15724ed7499bd03267fa61000,39185,2015-01-20 17:18:00,37.6508758,127.0775347
96,8189,eppcn15724ed7499bd03267fa61000,35669,2015-02-03 19:30:00,37.5925861,127.0849992
0,8093,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:17:00,37.6407534,127.0682432
1,8094,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:20:00,37.6407534,127.0682432
2,8095,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:24:00,37.6407534,127.0682432
3,8096,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:34:00,37.6407534,127.0682432
4,8097,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:43:00,37.6407534,127.0682432
5,8098,eppcn15724ed7499bd03267fa61000,1574,2015-02-04 15:45:00,37.6407534,127.0682432
6,8099,eppcn15724ed7499bd03267fa61000,1574,2015-02-05 15:32:00,37.6407534,127.0682432
7,8100,eppcn15724ed7499bd03267fa61000,1574,2015-02-06 17:27:00,37.6407534,127.0682432
8,8101,eppcn15724ed7499bd03267fa61000,1574,2015-02-07 14:39:00,37.6407534,127.0682432
9,8102,eppcn15724ed7499bd03267fa61000,1574,2015-02-20 20:25:00,37.6407534,127.0682432
10,8103,eppcn15724ed7499bd03267fa61000,1574,2015-02-20 20:44:00,37.6407534,127.0682432
115,8208,eppcn15724ed7499bd03267fa61000,39185,2015-02-24 21:38:00,37.6508758,127.0775347
11,8104,eppcn15724ed7499bd03267fa61000,1574,2015-02-26 20:46:00,37.6407534,127.0682432
12,8105,eppcn15724ed7499bd03267fa61000,1574,2015-03-11 10:40:00,37.6407534,127.0682432
13,8106,eppcn15724ed7499bd03267fa61000,1574,2015-03-11 11:03:00,37.6407534,127.0682432
14,8107,eppcn15724ed7499bd03267fa61000,1574,2015-03-11 11:25:00,37.6407534,127.0682432
15,8108,eppcn15724ed7499bd03267fa61000,1574,2015-03-11 11:29:00,37.6407534,127.0682432
16,8109,eppcn15724ed7499bd03267fa61000,1574,2015-03-12 18:42:00,37.6407534,127.0682432
17,8110,eppcn15724ed7499bd03267fa61000,1574,2015-03-12 18:46:00,37.6407534,127.0682432
97,8190,eppcn15724ed7499bd03267fa61000,35669,2015-03-17 12:14:00,37.5925861,127.0849992
116,8209,eppcn15724ed7499bd03267fa61000,39185,2015-03-24 18:34:00,37.6508758,127.0775347
129,8222,eppcn15724ed7499bd03267fa61000,97831,2015-03-29 19:05:00,37.5479265,127.0435696
18,8111,eppcn15724ed7499bd03267fa61000,1574,2015-03-31 18:17:00,37.6407534,127.0682432
19,8112,eppcn15724ed7499bd03267fa61000,1574,2015-03-31 21:29:00,37.6407534,127.0682432
20,8113,eppcn15724ed7499bd03267fa61000,1574,2015-03-31 21:33:00,37.6407534,127.0682432
21,8114,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 10:31:00,37.6407534,127.0682432
22,8115,eppcn15724ed7499bd03267fa61000,1574,2015-04-01 10:53:00,37.6407534,127.0682432
...,...,...,...,...,...,...
105,8198,eppcn15724ed7499bd03267fa61000,35669,2016-02-18 07:18:00,37.5925861,127.0849992
93,8186,eppcn15724ed7499bd03267fa61000,24209,2016-02-18 23:12:00,37.4689797,126.9877444
76,8169,eppcn15724ed7499bd03267fa61000,1574,2016-02-25 20:02:00,37.6407534,127.0682432
94,8187,eppcn15724ed7499bd03267fa61000,30552,2016-02-29 21:37:00,37.6398459,127.0739216
119,8212,eppcn15724ed7499bd03267fa61000,44533,2016-03-25 14:55:00,37.5940453,127.0843643
113,8206,eppcn15724ed7499bd03267fa61000,36087,2016-03-26 13:33:00,37.4998063,127.0366235
126,8219,eppcn15724ed7499bd03267fa61000,88745,2016-03-30 19:13:00,37.5912249,127.0804441
77,8170,eppcn15724ed7499bd03267fa61000,1574,2016-04-05 20:37:00,37.6407534,127.0682432
78,8171,eppcn15724ed7499bd03267fa61000,1574,2016-04-05 20:47:00,37.6407534,127.0682432
79,8172,eppcn15724ed7499bd03267fa61000,1574,2016-04-05 21:08:00,37.6407534,127.0682432
80,8173,eppcn15724ed7499bd03267fa61000,1574,2016-04-05 21:15:00,37.6407534,127.0682432
81,8174,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 13:14:00,37.6407534,127.0682432
82,8175,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 13:40:00,37.6407534,127.0682432
83,8176,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 13:47:00,37.6407534,127.0682432
84,8177,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 13:54:00,37.6407534,127.0682432
85,8178,eppcn15724ed7499bd03267fa61000,1574,2016-04-06 14:15:00,37.6407534,127.0682432
124,8217,eppcn15724ed7499bd03267fa61000,81101,2016-04-09 15:16:00,37.6388235,127.0647555
125,8218,eppcn15724ed7499bd03267fa61000,81101,2016-04-09 19:12:00,37.6388235,127.0647555
86,8179,eppcn15724ed7499bd03267fa61000,1574,2016-04-11 16:58:00,37.6407534,127.0682432
106,8199,eppcn15724ed7499bd03267fa61000,35669,2016-04-11 18:09:00,37.5925861,127.0849992
107,8200,eppcn15724ed7499bd03267fa61000,35669,2016-04-23 10:17:00,37.5925861,127.0849992
127,8220,eppcn15724ed7499bd03267fa61000,88745,2016-04-27 11:15:00,37.5912249,127.0804441
128,8221,eppcn15724ed7499bd03267fa61000,88745,2016-04-28 10:56:00,37.5912249,127.0804441
92,8185,eppcn15724ed7499bd03267fa61000,4046,2016-05-05 18:07:00,37.6834635,127.3779023
87,8180,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 16:20:00,37.6407534,127.0682432
88,8181,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 16:53:00,37.6407534,127.0682432
89,8182,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 16:55:00,37.6407534,127.0682432
90,8183,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 17:04:00,37.6407534,127.0682432
91,8184,eppcn15724ed7499bd03267fa61000,1574,2016-05-13 17:08:00,37.6407534,127.0682432
108,8201,eppcn15724ed7499bd03267fa61000,35669,2016-05-14 10:02:00,37.5925861,127.0849992

In [79]:
member_df['DEAL_DT'][92]

Timestamp('2016-05-05 18:07:00')

In [91]:
t = (member_df['DEAL_DT'][92] - member_df['DEAL_DT'][91]).total_seconds()
t

-687660.0

In [66]:
d = (float(member_df['LATITUDE'][1]) - float(member_df['LATITUDE'][0])) + (float(member_df['LONGITUDE'][1]) - float(member_df['LONGITUDE'][0]))

In [67]:
d / t

0.0

In [83]:
result_dic = {}
for idx in range(0,92):
    time = (member_df['DEAL_DT'][idx+1] - member_df['DEAL_DT'][idx])
    t = time.total_seconds()
    d = math.sqrt((float(member_df['LATITUDE'][idx+1]) - float(member_df['LATITUDE'][idx]))**2 + (float(member_df['LONGITUDE'][idx+1]) - float(member_df['LONGITUDE'][idx]))**2)
    result = d/t
    result_dic[idx] = {"time" : time, "distance" : d, "speed" : result}
    print("time : {}, distance : {}, speed : {}".format(time, d, result))

time : 0 days 00:03:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 23:47:00, distance : 0.0, speed : 0.0
time : 1 days 01:55:00, distance : 0.0, speed : 0.0
time : 0 days 21:12:00, distance : 0.0, speed : 0.0
time : 13 days 05:46:00, distance : 0.0, speed : 0.0
time : 0 days 00:19:00, distance : 0.0, speed : 0.0
time : 6 days 00:02:00, distance : 0.0, speed : 0.0
time : 12 days 13:54:00, distance : 0.0, speed : 0.0
time : 0 days 00:23:00, distance : 0.0, speed : 0.0
time : 0 days 00:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 1 days 07:13:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 18 days 23:31:00, distance : 0.0, speed : 0.0
time : 0 days 03:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 0 days 12:58:00, distance : 0.0, speed : 0.0
time : 0 days 00:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:17:00, distance : 0.0, speed : 0.0
time : 0 days 00:11:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 0 days 00:28:00, distance : 0.0, speed : 0.0
time : 0 days 00:15:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 0 days 03:45:00, distance : 0.0, speed : 0.0
time : 30 days 00:53:00, distance : 0.0, speed : 0.0
time : 0 days 00:17:00, distance : 0.0, speed : 0.0
time : 26 days 22:11:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:05:00, distance : 0.0, speed : 0.0
time : 0 days 00:37:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:28:00, distance : 0.0, speed : 0.0
time : 0 days 00:51:00, distance : 0.0, speed : 0.0
time : 0 days 00:30:00, distance : 0.0, speed : 0.0
time : 41 days 21:21:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:13:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 0 days 00:20:00, distance : 0.0, speed : 0.0
time : 0 days 00:05:00, distance : 0.0, speed : 0.0
time : 0 days 04:44:00, distance : 0.0, speed : 0.0
time : 5 days 16:01:00, distance : 0.0, speed : 0.0
time : 2 days 07:59:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 3 days 17:55:00, distance : 0.0, speed : 0.0
time : 73 days 01:25:00, distance : 0.0, speed : 0.0
time : 30 days 23:42:00, distance : 0.0, speed : 0.0
time : 0 days 00:34:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 1 days 21:20:00, distance : 0.0, speed : 0.0
time : 21 days 02:32:00, distance : 0.0, speed : 0.0
time : 0 days 00:14:00, distance : 0.0, speed : 0.0
time : 0 days 00:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 00:15:00, distance : 0.0, speed : 0.0
time : 0 days 00:08:00, distance : 0.0, speed : 0.0
time : 27 days 23:29:00, distance : 0.0, speed : 0.0
time : 0 days 00:58:00, distance : 0.0, speed : 0.0
time : 0 days 20:58:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:12:00, distance : 0.0, speed : 0.0
time : 11 days 02:45:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:16:00, distance : 0.0, speed : 0.0
time : 10 days 20:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:38:00, distance : 0.0, speed : 0.0
time : 41 days 03:51:00, distance : 0.0, speed : 0.0
time : 40 days 00:35:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 15:59:00, distance : 0.0, speed : 0.0
time : 0 days 00:26:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 5 days 02:43:00, distance : 0.0, speed : 0.0
time : 31 days 23:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:33:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : -8 days +00:59:00, distance : 0.3125906442215169, speed : -4.545715094981777e-07

In [94]:
d = pd.DataFrame(result_dic).T
d

    distance        speed               time
0          0            0    0 days 00:03:00
1          0            0    0 days 00:04:00
2          0            0    0 days 00:10:00
3          0            0    0 days 00:09:00
4          0            0    0 days 00:02:00
5          0            0    0 days 23:47:00
6          0            0    1 days 01:55:00
7          0            0    0 days 21:12:00
8          0            0   13 days 05:46:00
9          0            0    0 days 00:19:00
10         0            0    6 days 00:02:00
11         0            0   12 days 13:54:00
12         0            0    0 days 00:23:00
13         0            0    0 days 00:22:00
14         0            0    0 days 00:04:00
15         0            0    1 days 07:13:00
16         0            0    0 days 00:04:00
17         0            0   18 days 23:31:00
18         0            0    0 days 03:12:00
19         0            0    0 days 00:04:00
20         0            0    0 days 12:58:00
21         0            0    0 days 00:22:00
22         0            0    0 days 00:07:00
23         0            0    0 days 00:17:00
24         0            0    0 days 00:11:00
25         0            0    0 days 00:07:00
26         0            0    0 days 00:06:00
27         0            0    0 days 00:28:00
28         0            0    0 days 00:15:00
29         0            0    0 days 00:21:00
..       ...          ...                ...
62         0            0    0 days 00:15:00
63         0            0    0 days 00:08:00
64         0            0   27 days 23:29:00
65         0            0    0 days 00:58:00
66         0            0    0 days 20:58:00
67         0            0    0 days 00:10:00
68         0            0    0 days 00:12:00
69         0            0   11 days 02:45:00
70         0            0    0 days 00:09:00
71         0            0    0 days 00:10:00
72         0            0    0 days 00:16:00
73         0            0   10 days 20:12:00
74         0            0    0 days 00:38:00
75         0            0   41 days 03:51:00
76         0            0   40 days 00:35:00
77         0            0    0 days 00:10:00
78         0            0    0 days 00:21:00
79         0            0    0 days 00:07:00
80         0            0    0 days 15:59:00
81         0            0    0 days 00:26:00
82         0            0    0 days 00:07:00
83         0            0    0 days 00:07:00
84         0            0    0 days 00:21:00
85         0            0    5 days 02:43:00
86         0            0   31 days 23:22:00
87         0            0    0 days 00:33:00
88         0            0    0 days 00:02:00
89         0            0    0 days 00:09:00
90         0            0    0 days 00:04:00
91  0.312591 -4.54572e-07  -8 days +00:59:00

[92 rows x 3 columns]

In [112]:
engine = create_engine("mysql+pymysql://eums:eums00!q@192.168.0.50:3306/eums?charset=utf8mb4", encoding = 'utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

query_test = """
select EPOPCON_ID, COMPANY_ID, DEAL_DT from MEUMS_COMP_REVISIT_HIS
where EPOPCON_ID like "%%00"
limit 100000
"""
members = pd.read_sql_query(query_test, engine)
engine = create_engine("mysql+pymysql://eums:eums00!q@192.168.0.50:3306/eums?charset=utf8mb4", encoding = 'utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

query_test = """
select LATITUDE, LONGITUDE, ID as COMPANY_ID from MEUMS_COMPANY
limit 100000
"""
company = pd.read_sql_query(query_test, engine)

frame = [members, company]
df = pd.merge(members, company, how = 'left', on = 'COMPANY_ID')
df = df.dropna(axis = 0)
member_df = df[df['EPOPCON_ID'] =='eppcn15724ed7499bd03267fa61000']
member_df = member_df.reset_index()

member_df = member_df.sort_values('DEAL_DT')
result_dic = {}
for idx in range(0,92):
    time = (member_df['DEAL_DT'][idx+1] - member_df['DEAL_DT'][idx])
    t = time.total_seconds()
    d = math.sqrt((float(member_df['LATITUDE'][idx+1]) - float(member_df['LATITUDE'][idx]))**2 + (float(member_df['LONGITUDE'][idx+1]) - float(member_df['LONGITUDE'][idx]))**2)
    result = d/t
    result_dic[idx] = {"time" : time, "distance" : d, "speed" : result}
    print("time : {}, distance : {}, speed : {}".format(time, d, result))

result_df = pd.DataFrame(result_dic).T
result_df

time : 0 days 00:03:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 23:47:00, distance : 0.0, speed : 0.0
time : 1 days 01:55:00, distance : 0.0, speed : 0.0
time : 0 days 21:12:00, distance : 0.0, speed : 0.0
time : 13 days 05:46:00, distance : 0.0, speed : 0.0
time : 0 days 00:19:00, distance : 0.0, speed : 0.0
time : 6 days 00:02:00, distance : 0.0, speed : 0.0
time : 12 days 13:54:00, distance : 0.0, speed : 0.0
time : 0 days 00:23:00, distance : 0.0, speed : 0.0
time : 0 days 00:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 1 days 07:13:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 18 days 23:31:00, distance : 0.0, speed : 0.0
time : 0 days 03:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 0 days 12:58:00, distance : 0.0, speed : 0.0
time : 0 days 00:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:17:00, distance : 0.0, speed : 0.0
time : 0 days 00:11:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 0 days 00:28:00, distance : 0.0, speed : 0.0
time : 0 days 00:15:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 0 days 03:45:00, distance : 0.0, speed : 0.0
time : 30 days 00:53:00, distance : 0.0, speed : 0.0
time : 0 days 00:17:00, distance : 0.0, speed : 0.0
time : 26 days 22:11:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:05:00, distance : 0.0, speed : 0.0
time : 0 days 00:37:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:28:00, distance : 0.0, speed : 0.0
time : 0 days 00:51:00, distance : 0.0, speed : 0.0
time : 0 days 00:30:00, distance : 0.0, speed : 0.0
time : 41 days 21:21:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:13:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 0 days 00:20:00, distance : 0.0, speed : 0.0
time : 0 days 00:05:00, distance : 0.0, speed : 0.0
time : 0 days 04:44:00, distance : 0.0, speed : 0.0
time : 5 days 16:01:00, distance : 0.0, speed : 0.0
time : 2 days 07:59:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 3 days 17:55:00, distance : 0.0, speed : 0.0
time : 73 days 01:25:00, distance : 0.0, speed : 0.0
time : 30 days 23:42:00, distance : 0.0, speed : 0.0
time : 0 days 00:34:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 1 days 21:20:00, distance : 0.0, speed : 0.0
time : 21 days 02:32:00, distance : 0.0, speed : 0.0
time : 0 days 00:14:00, distance : 0.0, speed : 0.0
time : 0 days 00:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 00:15:00, distance : 0.0, speed : 0.0
time : 0 days 00:08:00, distance : 0.0, speed : 0.0
time : 27 days 23:29:00, distance : 0.0, speed : 0.0
time : 0 days 00:58:00, distance : 0.0, speed : 0.0
time : 0 days 20:58:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:12:00, distance : 0.0, speed : 0.0
time : 11 days 02:45:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:16:00, distance : 0.0, speed : 0.0
time : 10 days 20:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:38:00, distance : 0.0, speed : 0.0
time : 41 days 03:51:00, distance : 0.0, speed : 0.0
time : 40 days 00:35:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 15:59:00, distance : 0.0, speed : 0.0
time : 0 days 00:26:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 5 days 02:43:00, distance : 0.0, speed : 0.0
time : 31 days 23:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:33:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : -8 days +00:59:00, distance : 0.3125906442215169, speed : -4.545715094981777e-07

    distance        speed               time
0          0            0    0 days 00:03:00
1          0            0    0 days 00:04:00
2          0            0    0 days 00:10:00
3          0            0    0 days 00:09:00
4          0            0    0 days 00:02:00
5          0            0    0 days 23:47:00
6          0            0    1 days 01:55:00
7          0            0    0 days 21:12:00
8          0            0   13 days 05:46:00
9          0            0    0 days 00:19:00
10         0            0    6 days 00:02:00
11         0            0   12 days 13:54:00
12         0            0    0 days 00:23:00
13         0            0    0 days 00:22:00
14         0            0    0 days 00:04:00
15         0            0    1 days 07:13:00
16         0            0    0 days 00:04:00
17         0            0   18 days 23:31:00
18         0            0    0 days 03:12:00
19         0            0    0 days 00:04:00
20         0            0    0 days 12:58:00
21         0            0    0 days 00:22:00
22         0            0    0 days 00:07:00
23         0            0    0 days 00:17:00
24         0            0    0 days 00:11:00
25         0            0    0 days 00:07:00
26         0            0    0 days 00:06:00
27         0            0    0 days 00:28:00
28         0            0    0 days 00:15:00
29         0            0    0 days 00:21:00
..       ...          ...                ...
62         0            0    0 days 00:15:00
63         0            0    0 days 00:08:00
64         0            0   27 days 23:29:00
65         0            0    0 days 00:58:00
66         0            0    0 days 20:58:00
67         0            0    0 days 00:10:00
68         0            0    0 days 00:12:00
69         0            0   11 days 02:45:00
70         0            0    0 days 00:09:00
71         0            0    0 days 00:10:00
72         0            0    0 days 00:16:00
73         0            0   10 days 20:12:00
74         0            0    0 days 00:38:00
75         0            0   41 days 03:51:00
76         0            0   40 days 00:35:00
77         0            0    0 days 00:10:00
78         0            0    0 days 00:21:00
79         0            0    0 days 00:07:00
80         0            0    0 days 15:59:00
81         0            0    0 days 00:26:00
82         0            0    0 days 00:07:00
83         0            0    0 days 00:07:00
84         0            0    0 days 00:21:00
85         0            0    5 days 02:43:00
86         0            0   31 days 23:22:00
87         0            0    0 days 00:33:00
88         0            0    0 days 00:02:00
89         0            0    0 days 00:09:00
90         0            0    0 days 00:04:00
91  0.312591 -4.54572e-07  -8 days +00:59:00

[92 rows x 3 columns]

In [97]:
len(df)

92

In [114]:
result_df['time'].unique()

array([Timedelta('0 days 00:03:00'), Timedelta('0 days 00:04:00'),
       Timedelta('0 days 00:10:00'), Timedelta('0 days 00:09:00'),
       Timedelta('0 days 00:02:00'), Timedelta('0 days 23:47:00'),
       Timedelta('1 days 01:55:00'), Timedelta('0 days 21:12:00'),
       Timedelta('13 days 05:46:00'), Timedelta('0 days 00:19:00'),
       Timedelta('6 days 00:02:00'), Timedelta('12 days 13:54:00'),
       Timedelta('0 days 00:23:00'), Timedelta('0 days 00:22:00'),
       Timedelta('1 days 07:13:00'), Timedelta('18 days 23:31:00'),
       Timedelta('0 days 03:12:00'), Timedelta('0 days 12:58:00'),
       Timedelta('0 days 00:07:00'), Timedelta('0 days 00:17:00'),
       Timedelta('0 days 00:11:00'), Timedelta('0 days 00:06:00'),
       Timedelta('0 days 00:28:00'), Timedelta('0 days 00:15:00'),
       Timedelta('0 days 00:21:00'), Timedelta('0 days 03:45:00'),
       Timedelta('30 days 00:53:00'), Timedelta('26 days 22:11:00'),
       Timedelta('0 days 00:05:00'), Timedelta('0 days 00:37:00'),
       Timedelta('0 days 00:51:00'), Timedelta('0 days 00:30:00'),
       Timedelta('41 days 21:21:00'), Timedelta('0 days 00:13:00'),
       Timedelta('0 days 00:20:00'), Timedelta('0 days 04:44:00'),
       Timedelta('5 days 16:01:00'), Timedelta('2 days 07:59:00'),
       Timedelta('3 days 17:55:00'), Timedelta('73 days 01:25:00'),
       Timedelta('30 days 23:42:00'), Timedelta('0 days 00:34:00'),
       Timedelta('1 days 21:20:00'), Timedelta('21 days 02:32:00'),
       Timedelta('0 days 00:14:00'), Timedelta('0 days 00:12:00'),
       Timedelta('0 days 00:08:00'), Timedelta('27 days 23:29:00'),
       Timedelta('0 days 00:58:00'), Timedelta('0 days 20:58:00'),
       Timedelta('11 days 02:45:00'), Timedelta('0 days 00:16:00'),
       Timedelta('10 days 20:12:00'), Timedelta('0 days 00:38:00'),
       Timedelta('41 days 03:51:00'), Timedelta('40 days 00:35:00'),
       Timedelta('0 days 15:59:00'), Timedelta('0 days 00:26:00'),
       Timedelta('5 days 02:43:00'), Timedelta('31 days 23:22:00'),
       Timedelta('0 days 00:33:00'), Timedelta('-8 days +00:59:00')],
      dtype=object)

In [111]:
df

    distance        speed               time
0          0            0    0 days 00:03:00
1          0            0    0 days 00:04:00
2          0            0    0 days 00:10:00
3          0            0    0 days 00:09:00
4          0            0    0 days 00:02:00
5          0            0    0 days 23:47:00
6          0            0    1 days 01:55:00
7          0            0    0 days 21:12:00
8          0            0   13 days 05:46:00
9          0            0    0 days 00:19:00
10         0            0    6 days 00:02:00
11         0            0   12 days 13:54:00
12         0            0    0 days 00:23:00
13         0            0    0 days 00:22:00
14         0            0    0 days 00:04:00
15         0            0    1 days 07:13:00
16         0            0    0 days 00:04:00
17         0            0   18 days 23:31:00
18         0            0    0 days 03:12:00
19         0            0    0 days 00:04:00
20         0            0    0 days 12:58:00
21         0            0    0 days 00:22:00
22         0            0    0 days 00:07:00
23         0            0    0 days 00:17:00
24         0            0    0 days 00:11:00
25         0            0    0 days 00:07:00
26         0            0    0 days 00:06:00
27         0            0    0 days 00:28:00
28         0            0    0 days 00:15:00
29         0            0    0 days 00:21:00
..       ...          ...                ...
62         0            0    0 days 00:15:00
63         0            0    0 days 00:08:00
64         0            0   27 days 23:29:00
65         0            0    0 days 00:58:00
66         0            0    0 days 20:58:00
67         0            0    0 days 00:10:00
68         0            0    0 days 00:12:00
69         0            0   11 days 02:45:00
70         0            0    0 days 00:09:00
71         0            0    0 days 00:10:00
72         0            0    0 days 00:16:00
73         0            0   10 days 20:12:00
74         0            0    0 days 00:38:00
75         0            0   41 days 03:51:00
76         0            0   40 days 00:35:00
77         0            0    0 days 00:10:00
78         0            0    0 days 00:21:00
79         0            0    0 days 00:07:00
80         0            0    0 days 15:59:00
81         0            0    0 days 00:26:00
82         0            0    0 days 00:07:00
83         0            0    0 days 00:07:00
84         0            0    0 days 00:21:00
85         0            0    5 days 02:43:00
86         0            0   31 days 23:22:00
87         0            0    0 days 00:33:00
88         0            0    0 days 00:02:00
89         0            0    0 days 00:09:00
90         0            0    0 days 00:04:00
91  0.312591 -4.54572e-07  -8 days +00:59:00

[92 rows x 3 columns]

In [122]:
from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km


for idx in range(0,92):
    time = (member_df['DEAL_DT'][idx+1] - member_df['DEAL_DT'][idx])
    t = time.total_seconds() / 3600
    d = haversine(float(member_df['LONGITUDE'][idx]),float(member_df['LATITUDE'][idx]),float(member_df['LONGITUDE'][idx+1]),float(member_df['LATITUDE'][idx+1]))
    result = d/t
    result_dic[idx] = {"time" : time, "distance" : d, "speed" : result}
    print("time : {}, distance : {}, speed : {}".format(time, d, result))
    
result_df = pd.DataFrame(result_dic).T
result_df

time : 0 days 00:03:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 23:47:00, distance : 0.0, speed : 0.0
time : 1 days 01:55:00, distance : 0.0, speed : 0.0
time : 0 days 21:12:00, distance : 0.0, speed : 0.0
time : 13 days 05:46:00, distance : 0.0, speed : 0.0
time : 0 days 00:19:00, distance : 0.0, speed : 0.0
time : 6 days 00:02:00, distance : 0.0, speed : 0.0
time : 12 days 13:54:00, distance : 0.0, speed : 0.0
time : 0 days 00:23:00, distance : 0.0, speed : 0.0
time : 0 days 00:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 1 days 07:13:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 18 days 23:31:00, distance : 0.0, speed : 0.0
time : 0 days 03:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : 0 days 12:58:00, distance : 0.0, speed : 0.0
time : 0 days 00:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:17:00, distance : 0.0, speed : 0.0
time : 0 days 00:11:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 0 days 00:28:00, distance : 0.0, speed : 0.0
time : 0 days 00:15:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 0 days 03:45:00, distance : 0.0, speed : 0.0
time : 30 days 00:53:00, distance : 0.0, speed : 0.0
time : 0 days 00:17:00, distance : 0.0, speed : 0.0
time : 26 days 22:11:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:05:00, distance : 0.0, speed : 0.0
time : 0 days 00:37:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:28:00, distance : 0.0, speed : 0.0
time : 0 days 00:51:00, distance : 0.0, speed : 0.0
time : 0 days 00:30:00, distance : 0.0, speed : 0.0
time : 41 days 21:21:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:13:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 0 days 00:20:00, distance : 0.0, speed : 0.0
time : 0 days 00:05:00, distance : 0.0, speed : 0.0
time : 0 days 04:44:00, distance : 0.0, speed : 0.0
time : 5 days 16:01:00, distance : 0.0, speed : 0.0
time : 2 days 07:59:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 3 days 17:55:00, distance : 0.0, speed : 0.0
time : 73 days 01:25:00, distance : 0.0, speed : 0.0
time : 30 days 23:42:00, distance : 0.0, speed : 0.0
time : 0 days 00:34:00, distance : 0.0, speed : 0.0
time : 0 days 00:06:00, distance : 0.0, speed : 0.0
time : 1 days 21:20:00, distance : 0.0, speed : 0.0
time : 21 days 02:32:00, distance : 0.0, speed : 0.0
time : 0 days 00:14:00, distance : 0.0, speed : 0.0
time : 0 days 00:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 00:15:00, distance : 0.0, speed : 0.0
time : 0 days 00:08:00, distance : 0.0, speed : 0.0
time : 27 days 23:29:00, distance : 0.0, speed : 0.0
time : 0 days 00:58:00, distance : 0.0, speed : 0.0
time : 0 days 20:58:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:12:00, distance : 0.0, speed : 0.0
time : 11 days 02:45:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:16:00, distance : 0.0, speed : 0.0
time : 10 days 20:12:00, distance : 0.0, speed : 0.0
time : 0 days 00:38:00, distance : 0.0, speed : 0.0
time : 41 days 03:51:00, distance : 0.0, speed : 0.0
time : 40 days 00:35:00, distance : 0.0, speed : 0.0
time : 0 days 00:10:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 15:59:00, distance : 0.0, speed : 0.0
time : 0 days 00:26:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:07:00, distance : 0.0, speed : 0.0
time : 0 days 00:21:00, distance : 0.0, speed : 0.0
time : 5 days 02:43:00, distance : 0.0, speed : 0.0
time : 31 days 23:22:00, distance : 0.0, speed : 0.0
time : 0 days 00:33:00, distance : 0.0, speed : 0.0
time : 0 days 00:02:00, distance : 0.0, speed : 0.0
time : 0 days 00:09:00, distance : 0.0, speed : 0.0
time : 0 days 00:04:00, distance : 0.0, speed : 0.0
time : -8 days +00:59:00, distance : 27.66835774271151, speed : -0.14484787231155138

   distance     speed               time
0         0         0    0 days 00:03:00
1         0         0    0 days 00:04:00
2         0         0    0 days 00:10:00
3         0         0    0 days 00:09:00
4         0         0    0 days 00:02:00
5         0         0    0 days 23:47:00
6         0         0    1 days 01:55:00
7         0         0    0 days 21:12:00
8         0         0   13 days 05:46:00
9         0         0    0 days 00:19:00
10        0         0    6 days 00:02:00
11        0         0   12 days 13:54:00
12        0         0    0 days 00:23:00
13        0         0    0 days 00:22:00
14        0         0    0 days 00:04:00
15        0         0    1 days 07:13:00
16        0         0    0 days 00:04:00
17        0         0   18 days 23:31:00
18        0         0    0 days 03:12:00
19        0         0    0 days 00:04:00
20        0         0    0 days 12:58:00
21        0         0    0 days 00:22:00
22        0         0    0 days 00:07:00
23        0         0    0 days 00:17:00
24        0         0    0 days 00:11:00
25        0         0    0 days 00:07:00
26        0         0    0 days 00:06:00
27        0         0    0 days 00:28:00
28        0         0    0 days 00:15:00
29        0         0    0 days 00:21:00
..      ...       ...                ...
62        0         0    0 days 00:15:00
63        0         0    0 days 00:08:00
64        0         0   27 days 23:29:00
65        0         0    0 days 00:58:00
66        0         0    0 days 20:58:00
67        0         0    0 days 00:10:00
68        0         0    0 days 00:12:00
69        0         0   11 days 02:45:00
70        0         0    0 days 00:09:00
71        0         0    0 days 00:10:00
72        0         0    0 days 00:16:00
73        0         0   10 days 20:12:00
74        0         0    0 days 00:38:00
75        0         0   41 days 03:51:00
76        0         0   40 days 00:35:00
77        0         0    0 days 00:10:00
78        0         0    0 days 00:21:00
79        0         0    0 days 00:07:00
80        0         0    0 days 15:59:00
81        0         0    0 days 00:26:00
82        0         0    0 days 00:07:00
83        0         0    0 days 00:07:00
84        0         0    0 days 00:21:00
85        0         0    5 days 02:43:00
86        0         0   31 days 23:22:00
87        0         0    0 days 00:33:00
88        0         0    0 days 00:02:00
89        0         0    0 days 00:09:00
90        0         0    0 days 00:04:00
91  27.6684 -0.144848  -8 days +00:59:00

[92 rows x 3 columns]

In [123]:
result_df['speed']

0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
        ...
62           0
63           0
64           0
65           0
66           0
67           0
68           0
69           0
70           0
71           0
72           0
73           0
74           0
75           0
76           0
77           0
78           0
79           0
80           0
81           0
82           0
83           0
84           0
85           0
86           0
87           0
88           0
89           0
90           0
91   -0.144848
Name: speed, Length: 92, dtype: object

In [124]:
company

          LATITUDE    LONGITUDE  COMPANY_ID
0      36.30151958  127.3262864           1
1       37.3366487  127.9506159           2
2      37.51796617  126.7262206           3
3       35.5357482  129.3010192           4
4        35.206511  126.8619063           5
5       35.2460951  128.9041763           6
6       37.5124878   127.058853           7
7        35.223347   128.685593           8
8       35.5357482  129.3010192           9
9       35.8390769  128.7534433          10
10      35.8325723  128.7036758          11
11      35.2121308  126.8268831          12
12      37.5580327  127.0306061          13
13     35.55400297  129.0791544          14
14      37.4711881  126.6274865          15
15      34.9836358  127.5789412          16
16      36.3165278  127.4605897          17
17      37.7277969   128.982597          18
18      36.0693676  129.3729044          19
19      37.4930853   127.017615          20
20      37.6932167  127.9560192          21
21      37.4970463  126.7382369          22
22      35.8782988  128.6103289          23
23      35.9876811  126.7102627          24
24      35.2761451  127.2879307          25
25      37.6420706  126.6318252          26
26      37.6105047  127.1514872          27
27       37.548936   126.851532          28
28     34.79572642   126.387832          29
29      35.2596709  126.6574046          30
...            ...          ...         ...
99970   36.8086421  128.6181911      102512
99971   35.0673367  126.9856872      102513
99972   36.7755558  127.0612801      102514
99973   36.9162775    127.12855      102515
99974   36.8836116  126.7586505      102516
99975   34.3684787  126.5195014      102517
99976   37.6264448  127.1908613      102518
99977   37.6263898  127.1908259      102519
99978   37.4964518   126.899805      102520
99979   37.6204425  126.7223031      102521
99980   35.8931116  128.8366139      102522
99981   36.4172725  128.1586604      102523
99982   37.5800872  127.0859195      102524
99983   37.6654915  126.7240589      102525
99984   35.8676384  128.6489828      102526
99985   35.5270234  129.3242798      102527
99986   37.4961396   127.019413      102528
99987   37.5125802  127.1113239      102529
99988   34.7561338  127.7206032      102530
99989   37.5724825  126.8228169      102531
99990   35.1513192  128.9983175      102532
99991   35.1944934  128.0716525      102533
99992   35.2322235  129.0903671      102534
99993   37.5161685  126.8704545      102535
99994   37.6540231  126.7841742      102536
99995   36.1552409   128.331872      102537
99996    34.886433   128.618804      102538
99997   35.0379843   126.716526      102539
99998   35.9738725  126.7326375      102540
99999   37.6477507  127.0337513      102541

[100000 rows x 3 columns]

In [126]:
app = dash.Dash()
app.scripts.config.serve_locally = True

In [127]:
if __name__ == '__main__':
    app.run_server()

UnsupportedOperation: not writable

In [129]:
engine = create_engine("mysql+pymysql://eums:eums00!q@192.168.0.50:3306/eums?charset=utf8mb4", encoding = 'utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

query_test = """
select * from MEUMS_COMP_REVISIT_HIS
where EPOPCON_ID like "%%00"
limit 1000000
"""
query_test

members = pd.read_sql_query(query_test, engine)
members.to_pickle('members.pkl')

In [133]:
engine = create_engine("mysql+pymysql://eums:eums00!q@192.168.0.50:3306/eums?charset=utf8mb4", encoding = 'utf8',pool_size=20,pool_recycle=3600,connect_args={'connect_timeout':1000000} )

query_test = """
select * from MEUMS_COMPANY
limit 100000
"""
query_test

company = pd.read_sql_query(query_test, engine)
company.to_pickle('company.pkl')

In [138]:
sort_df = pd.read_pickle('words_pair_count_sorted.list.pkl')
sort_df

[(('공인', '중개사'), 73146),
 (('중개사', '사무소'), 64247),
 (('공인', '사무소'), 63223),
 (('노래', '연습장'), 24673),
 (('롯데', '점'), 16456),
 (('치킨', '점'), 15895),
 (('프레', '스'), 14520),
 (('익스', '프레'), 14414),
 (('익스', '스'), 14230),
 (('서비스', '센터'), 13938),
 (('백화점', '점'), 13653),
 (('교습', '소'), 13307),
 (('공업', '사'), 13265),
 (('치과', '의원'), 13260),
 (('꽃', '배달'), 11583),
 (('개인', '택시'), 11279),
 (('정보', '통신'), 11164),
 (('관리', '사무소'), 11019),
 (('대리', '운전'), 10820),
 (('종합', '건설'), 10428),
 (('부동산', '사무소'), 10289),
 (('할인', '마트'), 9528),
 (('마트', '점'), 8828),
 (('모터', '스'), 8184),
 (('롯데', '백화점'), 8074),
 (('세븐일레븐', '점'), 7912),
 (('부동산', '중개사'), 7526),
 (('부동산', '공인'), 7488),
 (('숯불', '갈비'), 6856),
 (('미술', '학원'), 6831),
 (('아파트', '관리'), 6765),
 (('부산', '점'), 6757),
 (('종합', '상사'), 6573),
 (('산업', '개발'), 6243),
 (('중앙', '점'), 6163),
 (('직영', '점'), 6082),
 (('커피', '점'), 6048),
 (('세무', '회계'), 5997),
 (('족발', '보쌈'), 5959),
 (('농업', '회사법'), 5899),
 (('아파트', '사무소'), 5807),
 (('현대', '점'), 5781),
 (('스', '점'), 5748),
 (('건축사', '사무소'), 5683),
 (('회계', '사무소'), 5674),
 (('컴퓨터', '수리'), 5661),
 (('세무', '사무소'), 5479),
 (('전문', '학원'), 5398),
 (('중개', '사무소'), 5333),
 (('자동차', '공업'), 5254),
 (('광주', '점'), 5166),
 (('아울렛', '점'), 5133),
 (('대표', '회의'), 5043),
 (('보습', '학원'), 5042),
 (('순대', '국'), 5003),
 (('에어컨', '설치'), 4977),
 (('자동차', '사'), 4886),
 (('이마트', '점'), 4865),
 (('영농', '합법'), 4698),
 (('피자', '점'), 4642),
 (('린', '점'), 4562),
 (('신세계', '점'), 4543),
 (('이삿짐', '센터'), 4532),
 (('정수기', '렌탈'), 4527),
 (('인천', '점'), 4501),
 (('센터', '점'), 4464),
 (('당구', '클럽'), 4317),
 (('강남', '점'), 4316),
 (('홈플러스', '점'), 4256),
 (('농협', '지점'), 4183),
 (('한국', '협회'), 4161),
 (('부동산', '중개'), 4140),
 (('대전', '점'), 4051),
 (('대구', '점'), 4017),
 (('충전', '소'), 4009),
 (('현대', '백화점'), 3999),
 (('법무사', '사무소'), 3995),
 (('수원', '점'), 3974),
 (('파리', '바게뜨'), 3925),
 (('병설', '유치원'), 3914),
 (('초등학교', '유치원'), 3874),
 (('초등학교', '병설'), 3866),
 (('울산', '점'), 3846),
 (('롯데', '마트'), 3832),
 (('헤어', '점'), 3749),
 (('내과', '의원'), 3720),
 (('신세계', '백화점'), 3708),
 (('마리', '치킨'), 3613),
 (('카페', '점'), 3564),
 (('청소', '청소'), 3535),
 (('솜틀', '집'), 3506),
 (('장례식', '배달'), 3500),
 (('스킨', '케어'), 3460),
 (('장례식', '꽃'), 3453),
 (('생', '고기'), 3453),
 (('일산', '점'), 3416),
 (('영어', '교습'), 3415),
 (('매매', '상사'), 3381),
 (('의료', '기'), 3376),
 (('현대', '자동차'), 3374),
 (('떡', '방앗간'), 3360),
 (('식육', '점'), 3358),
 (('영어', '소'), 3358),
 (('수학', '교습'), 3352),
 (('복지', '센터'), 3343),
 (('수학', '소'), 3330),
 (('카', '타'), 3314),
 (('장충동', '족발'), 3311),
 (('손해', '보험'), 3294),
 (('자동차', '상사'), 3292),
 (('손', '칼국수'), 3287),
 (('자동차', '정비'), 3264),
 (('아파트', '대표'), 3201),
 (('늘', '푸른'), 3148),
 (('전주', '점'), 3075),
 (('심부름', '센터'), 3053),
 (('크리', '닝'), 3038),
 (('삼성', '점'), 3009),
 (('네트웍', '스'), 3008),
 (('수학', '학원'), 3001),
 (('아동', '센터'), 2982),
 (('분당', '점'), 2970),
 (('병원', '장례식'), 2969),
 (('꽃집', '장례식'), 2952),
 (('아파트', '회의'), 2948),
 (('공인', '중개'), 2945),
 (('가입', '센터'), 2919),
 (('마을', '점'), 2898),
 (('린', '토피아'), 2876),
 (('청주', '점'), 2874),
 (('중고', '가전'), 2873),
 (('지원', '센터'), 2861),
 (('웅진', '렌탈'), 2859),
 (('파리', '점'), 2837),
 (('노래', '주점'), 2832),
 (('떡볶이', '점'), 2824),
 (('배달', '화환'), 2814),
 (('숯불', '구이'), 2808),
 (('천안', '점'), 2794),
 (('자동차', '매매'), 2780),
 (('휘트니', '스'), 2776),
 (('웅진', '코웨이'), 2772),
 (('동양', '매직'), 2772),
 (('입시', '학원'), 2772),
 (('카나', '치킨'), 2728),
 (('지역', '센터'), 2723),
 (('근', '화환'), 2715),
 (('보험', '대리점'), 2693),
 (('영어', '학원'), 2691),
 (('에스', '엠'), 2668),
 (('제주', '점'), 2656),
 (('인터', '날'), 2656),
 (('아이', '어린이집'), 2640),
 (('바게뜨', '점'), 2639),
 (('린', '주유소'), 2637),
 (('꽃', '화환'), 2633),
 (('할인', '매장'), 2632),
 (('클리', '닉'), 2629),
 (('더', '점'), 2622),
 (('주민', '센터'), 2618),
 (('솜틀', '기'), 2610),
 (('치킨', '호프'), 2608),
 (('피아노', '학원'), 2601),
 (('앤', '점'), 2598),
 (('의정부', '점'), 2592),
 (('창원', '점'), 2577),
 (('안산', '점'), 2573),
 (('연합', '회'), 2549),
 (('종합', '설비'), 2548),
 (('의료', '재단'), 2544),
 (('코웨이', '렌탈'), 2514),
 (('동양', '정수기'), 2471),
 (('연세', '의원'), 2470),
 (('생명', '지점'), 2451),
 (('장례식', '화환'), 2440),
 (('법률', '사무소'), 2435),
 (('서울', '의원'), 2434),
 (('페리', '카나'), 2432),
 (('꽃집', '화환'), 2428),
 (('건설', '기'), 2418),
 (('한국', '회'), 2396),
 (('족발', '점'), 2378),
 (('차', '아파트'), 2374),
 (('이디야', '커피'), 2358),
 (('김밥', '점'), 2342),
 (('농협', '하나로마트'), 2330),
 (('서울', '점'), 2321),
 (('안양', '점'), 2318),
 (('지역', '아동'), 2314),
 (('타이어', '점'), 2308),
 (('카', '서비스'), 2299),
 (('사업', '소'), 2292),
 (('한국', '타이어'), 2280),
 (('평택', '점'), 2275),
 (('수도', '설비'), 2267),
 (('매직', '정수기'), 2261),
 (('광고', '기획'), 2247),
 (('포항', '점'), 2208),
 (('목동', '점'), 2201),
 (('택배', '영업소'), 2195),
 (('건설', '기계'), 2172),
 (('동양', '렌탈'), 2167),
 (('전국', '배달'), 2167),
 (('카', '점'), 2167),
 (('전국', '꽃'), 2164),
 (('월드', '점'), 2163),
 (('소개', '소'), 2161),
 (('미니스톱', '점'), 2159),
 (('은행', '지점'), 2158),
 (('롯데', '아울렛'), 2156),
 (('김해', '점'), 2155),
 (('스타', '점'), 2154),
 (('노트북', '서비스'), 2136),
 (('안경', '점'), 2131),
 (('진료', '소'), 2130),
 (('비데', '렌탈'), 2117),
 (('부천', '점'), 2108),
 (('설비', '공사'), 2107),
 (('프리미엄', '아울렛'), 2105),
 (('에어컨', '이전'), 2103),
 (('용인', '점'), 2100),
 (('보건', '진료'), 2099),
 (('전기', '조명'), 2099),
 (('컴퓨터', '점'), 2083),
 (('하수', '구'), 2083),
 (('보건', '소'), 2079),
 (('이전', '설치'), 2079),
 (('이비인후과', '의원'), 2071),
 (('노트북', '센터'), 2064),
 (('현대', '대리점'), 2062),
 (('영등포', '점'), 2057),
 (('제이', '에스'), 2051),
 (('헤어', '살롱'), 2041),
 (('직업', '소개'), 2038),
 (('노인', '센터'), 2035),
 (('피아노', '교습'), 2035),
 (('오일', '뱅크'), 2022),
 (('피아노', '소'), 2021),
 (('프리미엄', '점'), 2011),
 (('직업', '소'), 2007),
 (('투', '다리'), 2003),
 (('삼성', '서비스'), 1995),
 (('잠실', '점'), 1994),
 (('현대', '사무소'), 1993),
 (('춘천', '닭갈비'), 1991),
 (('온누리', '약국'), 1975),
 (('사회', '복지'), 1971),
 (('매직', '렌탈'), 1952),
 (('프레', '점'), 1947),
 (('한국', '센터'), 1946),
 (('청소', '업체'), 1941),
 (('장례식', '근'), 1928),
 (('기', '공소'), 1927),
 (('의학과', '의원'), 1923),
 (('소아', '청소년'), 1921),
 (('성남', '점'), 1921),
 (('앤', '에스'), 1917),
 (('삼성', '센터'), 1916),
 (('광명', '점'), 1915),
 (('터미널', '점'), 1915),
 (('현대', '오일'), 1910),
 (('인터넷', '가입'), 1907),
 (('출장', '수리'), 1903),
 (('관리', '실'), 1902),
 (('홍대', '점'), 1899),
 (('농협', '은행'), 1897),
 (('현대', '뱅크'), 1895),
 (('카나', '점'), 1891),
 (('위드미', '점'), 1891),
 (('하나로마트', '농협'), 1890),
 (('수학', '전문'), 1889),
 (('콜', '택시'), 1889),
 (('삼성', '에어컨'), 1889),
 (('현대', '주유소'), 1887),
 (('서비스', '점'), 1885),
 (('비어', '점'), 1883),
 (('투', '점'), 1878),
 (('미술', '소'), 1874),
 (('정형외과', '의원'), 1871),
 (('장충동', '보쌈'), 1870),
 (('꽃집', '근'), 1867),
 (('보쌈', '점'), 1864),
 (('중고차', '매매'), 1863),
 (('골프', '연습장'), 1861),
 (('병원', '배달'), 1858),
 (('노인', '복지'), 1856),
 (('순대', '점'), 1851),
 (('현대', '모비스'), 1844),
 (('병원', '꽃'), 1842),
 (('미술', '교습'), 1842),
 (('웅진', '정수기'), 1836),
 (('라보', '용달'), 1834),
 (('동탄', '점'), 1827),
 (('컴퓨터', '출장'), 1824),
 (('블루', '핸즈'), 1819),
 (('사랑', '어린이집'), 1819),
 (('청소년', '의원'), 1816),
 (('타운', '점'), 1806),
 (('한국', '점'), 1803),
 (('디', '에스'), 1798),
 (('대한', '예수교'), 1794),
 (('마산', '점'), 1788),
 (('춘천', '점'), 1781),
 (('현대', '상사'), 1775),
 (('신촌', '점'), 1775),
 (('누수', '공사'), 1762),
 (('안경', '콘택트'), 1761),
 (('법무', '법인'), 1754),
 (('배달', '근'), 1752),
 (('아이', '점'), 1746),
 (('시', '열쇠'), 1742),
 (('이사', '청소'), 1741),
 (('시흥', '점'), 1740),
 (('김포', '점'), 1734),
 (('평촌', '점'), 1728),
 (('컴퓨터', '학원'), 1726),
 (('삼성', '전자'), 1723),
 (('하남', '점'), 1720),
 (('종합', '공사'), 1714),
 (('논현', '점'), 1708),
 (('건설', '산업'), 1708),
 (('구미', '점'), 1707),
 (('토피아', '점'), 1703),
 (('동', '센터'), 1697),
 (('방', '점'), 1693),
 (('실용음악', '학원'), 1692),
 (('우유', '대리점'), 1680),
 (('오일', '주유소'), 1680),
 (('에스', '에스'), 1679),
 (('꽃', '화원'), 1678),
 (('꽃', '근'), 1672),
 (('문화', '사'), 1671),
 (('엄마', '손'), 1663),
 (('종합', '물류'), 1661),
 (('에너지', '주유소'), 1657),
 (('치킨', '동점'), 1656),
 (('주유소', '점'), 1654),
 (('코스', '메'), 1636),
 (('스카이라이프', '동점'), 1634),
 (('고객', '센터'), 1631),
 (('마리', '점'), 1629),
 (('대한', '교회'), 1627),
 (('기사', '식당'), 1622),
 (('사거리', '점'), 1621),
 (('집', '점'), 1617),
 (('카', '크레인'), 1617),
 (('우리', '집'), 1617),
 (('헤어', '클럽'), 1616),
 (('보건', '지소'), 1615),
 (('예수교', '장로회'), 1614),
 (('이디야', '점'), 1612),
 (('철물', '건재'), 1609),
 (('보일러', '서비스'), 1609),
 (('중앙', '교회'), 1607),
 (('개인', '용달'), 1601),
 (('서울', '지점'), 1601),
 (('누수', '탐지'), 1600),
 (('코웨이', '정수기'), 1599),
 (('브로드밴드', '센터'), 1597),
 (('칼텍스', '주유소'), 1593),
 (('진주', '점'), 1593),
 (('요양', '병원'), 1590),
 (('파트너', '스'), 1588),
 (('시티', '점'), 1587),
 (('써비', '스'), 1586),
 (('양산', '점'), 1586),
 (('차', '관리'), 1582),
 (('시청', '점'), 1582),
 (('페리', '치킨'), 1579),
 (('네네', '치킨'), 1577),
 (('리더', '스'), 1575),
 (('헤어', '라인'), 1571),
 (('홈', '마트'), 1568),
 (('대한', '장로회'), 1567),
 (('수리', '점'), 1567),
 (('마을', '회관'), 1565),
 (('치과', '기'), 1563),
 (('치과', '공소'), 1561),
 (('경희', '한의원'), 1558),
 (('현대', '공인'), 1558),
 (('소아', '의원'), 1556),
 (('기아', '자동차'), 1554),
 (('마루', '점'), 1551),
 (('현대', '지점'), 1550),
 (('뱅크', '주유소'), 1549),
 (('톤', '용달'), 1547),
 (('키즈', '점'), 1547),
 (('올레', '점'), 1545),
 (('콩나물', '국밥'), 1544),
 (('자동차', '서비스'), 1542),
 (('치킨', '호점'), 1535),
 (('새마을금고', '지점'), 1533),
 (('구로', '점'), 1533),
 (('예수교', '교회'), 1530),
 (('한국', '공사'), 1522),
 (('꽃', '장례식'), 1519),
 (('세무', '법인'), 1513),
 (('정수기', '비데'), 1508),
 (('현대', '해상'), 1507),
 (('자동차', '정비공'), 1507),
 (('다마스', '용달'), 1506),
 (('현대', '중개사'), 1504),
 (('아파트', '경로당'), 1504),
 (('중고', '매입'), 1502),
 (('파크', '점'), 1496),
 (('빨래', '방'), 1488),
 (('종합', '사무소'), 1486),
 (('인쇄', '사'), 1484),
 (('자동차', '대리점'), 1480),
 (('삼성', '화재'), 1478),
 (('이천', '점'), 1477),
 (('경동', '택배'), 1474),
 (('한국', '산업'), 1474),
 (('단지', '아파트'), 1474),
 (('용달', '이사'), 1468),
 (('다마스', '라보'), 1466),
 (('가요', '주점'), 1465),
 (('컴퓨터', '서비스'), 1463),
 (('구리', '점'), 1463),
 (('송파', '점'), 1462),
 (('정육', '식당'), 1458),
 (('중고', '가구'), 1456),
 (('라보', '톤'), 1455),
 (('꽃집', '배달'), 1454),
 (('차', '사무소'), 1454),
 (('옛날', '통닭'), 1447),
 (('부산', '지점'), 1446),
 (('브로드밴드', '가입'), 1443),
 (('임실', '피자'), 1442),
 (('영어', '전문'), 1442),
 (('종합', '장식'), 1441),
 (('사랑', '점'), 1439),
 (('블루', '점'), 1433),
 (('숯불', '바베큐'), 1433),
 (('골프', '존'), 1428),
 (('삼성', '대리점'), 1427),
 (('플러스', '점'), 1427),
 (('에스', '앤'), 1427),
 (('통닭', '점'), 1426),
 (('협의', '회'), 1426),
 (('외국어', '학원'), 1424),
 (('미아', '점'), 1423),
 (('종합', '기'), 1421),
 (('초등학교', '실'), 1420),
 (('꽃집', '꽃'), 1418),
 (('공영', '주차장'), 1417),
 (('르노', '삼성'), 1410),
 (('부동산', '컨설팅'), 1407),
 (('동', '주민'), 1406),
 (('단지', '사무소'), 1406),
 (('사업', '부'), 1405),
 (('서울', '센터'), 1403),
 (('죽', '점'), 1400),
 (('물류', '센터'), 1400),
 (('페리', '점'), 1399),
 (('카', '센터'), 1398),
 (('신', '점'), 1398),
 (('수도', '공사'), 1395),
 (('삼성', '자동차'), 1395),
 (('옷', '수선'), 1391),
 (('서울', '치과'), 1389),
 (('순천', '점'), 1386),
 (('장로회', '교회'), 1386),
 (('다리', '점'), 1385),
 (('서울', '사무소'), 1384),
 (('송도', '점'), 1383),
 (('임실', '치즈'), 1380),
 (('코리아', '점'), 1379),
 (('하이', '텍'), 1376),
 (('푸드', '시스템'), 1375),
 (('농협', '본점'), 1374),
 (('현대', '종합'), 1373),
 (('종로', '점'), 1373),
 (('하우스', '점'), 1371),
 (('배달', '장례식'), 1370),
 (('제이', '케이'), 1370),
 (('피부관리', '실'), 1367),
 (('노', '인정'), 1365),
 (('키즈', '어린이집'), 1362),
 (('에어컨', '서비스'), 1353),
 (('보험', '지점'), 1352),
 (('농협', '주유소'), 1350),
 (('골프', '점'), 1347),
 (('뚜레쥬르', '점'), 1346),
 (('가전', '가구'), 1346),
 (('정보', '시스템'), 1345),
 (('컴퓨터', '센터'), 1338),
 (('치즈', '피자'), 1335),
 (('종합', '인테리어'), 1335),
 (('쌍용', '자동차'), 1333),
 (('허브', '다이어트'), 1327),
 (('거제', '점'), 1326),
 (('청호나이스', '렌탈'), 1325),
 (('제일', '교회'), 1323),
 (('해', '오름'), 1322),
 (('플라자', '점'), 1320),
 (('맘스', '터치'), 1315),
 (('중앙', '지점'), 1315),
 (('식육', '식당'), 1314),
 (('병원', '점'), 1311),
 (('휴게소', '방향'), 1309),
 (('집', '솜틀'), 1307),
 (('솜틀', '솜틀'), 1307),
 (('집', '기'), 1305),
 (('교육', '센터'), 1303),
 (('하나로', '서비스'), 1301),
 (('일', '번지'), 1301),
 (('컴', '닥터'), 1301),
 (('멕시', '카나'), 1291),
 (('백화점', '본점'), 1290),
 (('코사', '마트'), 1287),
 (('종합', '유통'), 1286),
 (('웅진', '비데'), 1284),
 (('산부인과', '의원'), 1284),
 (('단지', '관리'), 1284),
 (('호', '점'), 1283),
 (('피부', '의원'), 1279),
 (('구청', '점'), 1279),
 (('어학', '캠퍼스'), 1278),
 (('연수', '점'), 1278),
 (('해상', '보험'), 1275),
 (('랜드', '점'), 1273),
 (('갈비', '점'), 1273),
 (('오토', '점'), 1269),
 (('또래', '오래'), 1268),
 (('영농', '조합'), 1267),
 (('결혼', '정보'), 1267),
 (('클럽', '점'), 1267),
 (('린', '보일러'), 1266),
 (('닭', '점'), 1266),
 (('마포', '점'), 1266),
 (('전국', '화환'), 1265),
 (('삼성', '공인'), 1264),
 (('봉구', '점'), 1260),
 (('헤어', '갤러리'), 1259),
 (('서면', '점'), 1258),
 (('해운대', '점'), 1256),
 (('영수', '학원'), 1256),
 (('꿈', '어린이집'), 1254),
 (('의료법', '재단'), 1254),
 (('사업', '단'), 1254),
 (('해물', '칼국수'), 1249),
 (('아카데미', '학원'), 1248),
 (('화환', '배달'), 1246),
 (('동대문', '점'), 1243),
 (('의료법', '의료'), 1242),
 (('개별', '용달'), 1241),
 (('르노', '자동차'), 1236),
 (('피아노', '조율'), 1228),
 (('한국', '지부'), 1228),
 (('대한', '불교'), 1225),
 (('윤선생', '영어'), 1222),
 (('학원', '캠퍼스'), 1222),
 (('스킨', '바디'), 1221),
 (('세종', '점'), 1220),
 (('삼성', '사무소'), 1218),
 (('부동산', '중개인'), 1218),
 (('농협', '점'), 1217),
 (('현대', '아파트'), 1216),
 (('감자탕', '점'), 1215),
 (('안전', '센터'), 1207),
 (('삼성', '중개사'), 1207),
 (('남원', '추어탕'), 1205),
 (('종합', '센터'), 1205),
 (('준공', '청소'), 1204),
 (('호식', '마리'), 1204),
 (('숲', '어린이집'), 1202),
 (('삼성', '지점'), 1202),
 (('관리', '공단'), 1201),
 (('코웨이', '비데'), 1200),
 (('관광', '여행사'), 1200),
 (('호식', '치킨'), 1199),
 (('도서', '출판'), 1198),
 (('태권도', '체육관'), 1197),
 (('청소', '이사'), 1193),
 (('보쌈', '족발'), 1193),
 (('한국', '기술'), 1192),
 (('목포', '점'), 1191),
 (('노원', '점'), 1191),
 (('센텀시티', '점'), 1190),
 (('처갓집', '양념치킨'), 1188),
 (('중개인', '사무소'), 1188),
 (('종합', '건축사'), 1187),
 (('용산', '점'), 1184),
 (('구월', '점'), 1182),
 (('세무사', '사무소'), 1181),
 (('축산', '유통'), 1181),
 (('아리따움', '점'), 1177),
 (('토종', '순대'), 1177),
 (('대구', '지점'), 1177),
 (('피자', '치킨'), 1177),
 (('서울', '우유'), 1176),
 (('쌀', '상회'), 1175),
 (('현대', '센터'), 1166),
 (('화환', '꽃'), 1165),
 (('마을', '아파트'), 1164),
 (('타워', '점'), 1164),
 (('제이', '앤'), 1163),
 (('한국', '지사'), 1161),
 (('통증', '의학과'), 1160),
 (('소', '점'), 1160),
 (('프라자', '점'), 1157),
 (('역삼', '점'), 1155),
 (('한국', '연구원'), 1154),
 (('롯데리아', '점'), 1152),
 (('용달', '화물'), 1152),
 (('협회', '회'), 1151),
 (('꽃', '꽃집'), 1149),
 (('강릉', '점'), 1148),
 (('배달', '서비스'), 1145),
 (('고속', '관광'), 1142),
 (('배달', '꽃집'), 1139),
 (('용달', '이삿짐'), 1137),
 (('판교', '점'), 1137),
 (('군산', '점'), 1137),
 (('노래', '타운'), 1134),
 (('씨', '에스'), 1134),
 (('경기', '점'), 1132),
 (('봉구', '스'), 1129),
 (('생선', '구이'), 1129),
 (('스', '밥버거'), 1127),
 (('압구정', '점'), 1127),
 (('멕시', '치킨'), 1126),
 (('수도', '누수'), 1125),
 (('봉구', '밥버거'), 1121),
 (('제일', '점'), 1121),
 (('사무', '가구'), 1120),
 (('그린', '점'), 1117),
 (('숯불', '점'), 1117),
 (('사무실', '청소'), 1116),
 (('택배', '대리점'), 1115),
 (('오산', '점'), 1115),
 (('특약', '점'), 1114),
 (('경동', '영업소'), 1112),
 (('사다리', '차'), 1112),
 (('꼬마', '어린이집'), 1110),
 (('미용', '학원'), 1109),
 (('맥시', '칸'), 1107),
 (('순대', '국밥'), 1104),
 (('엘지', '센터'), 1103),
 (('익산', '점'), 1103),
 (('러닝', '센터'), 1102),
 (('에이', '플러스'), 1101),
 (('자동차', '지점'), 1100),
 (('엠', '케이'), 1100),
 (('한국', '연구소'), 1100),
 (('다마스', '톤'), 1098),
 (('손해', '지점'), 1097),
 (('오토', '큐'), 1096),
 (('방수', '공사'), 1095),
 (('화성', '점'), 1092),
 (('자동차', '점'), 1091),
 (('연합', '의원'), 1091),
 (('린', '서비스'), 1090),
 (('우리', '점'), 1090),
 (('톤', '화물'), 1089),
 (('꽃', '서비스'), 1088),
 (('컴퓨터', '세탁'), 1087),
 (('밥버거', '점'), 1086),
 (('재활용', '센터'), 1086),
 (('돈', '점'), 1086),
 (('신림', '점'), 1086),
 (('카', '정비'), 1083),
 (('코웨이', '지점'), 1081),
 (('장애인', '협회'), 1080),
 (('컴퓨터', '노트북'), 1077),
 (('에프', '에스'), 1076),
 (('부대찌개', '점'), 1073),
 (('영통', '점'), 1073),
 (('부', '평점'), 1071),
 (('복지', '법인'), 1070),
 (('테라', '피'), 1069),
 (('상담', '센터'), 1069),
 (('슈퍼', '점'), 1069),
 (('대한민국', '회'), 1069),
 (('에프', '앤'), 1068),
 (('인터넷', '센터'), 1067),
 (('안과', '의원'), 1066),
 (('양평', '해장국'), 1066),
 (('공원', '점'), 1066),
 (('교무', '실'), 1065),
 (('화물', '용달'), 1065),
 (('비뇨기', '의원'), 1064),
 (('롯데', '본점'), 1064),
 (('센터', '센터'), 1063),
 (('신천', '점'), 1063),
 (('아산', '점'), 1059),
 (('청소', '전문'), 1058),
 (('국민은행', '지점'), 1058),
 (('카', '공업'), 1057),
 (('바지락', '칼국수'), 1057),
 (('사회', '법인'), 1056),
 (('종합', '건재'), 1055),
 (('치안', '센터'), 1055),
 (('번', '출구'), 1055),
 (('제이', '엠'), 1054),
 (('불', '닭발'), 1052),
 (('기아', '오토'), 1051),
 (('농약', '사'), 1051),
 (('협회', '지부'), 1050),
 (('파주', '점'), 1048),
 (('종합', '식품'), 1048),
 (('청소', '준공'), 1047),
 (('통증', '의원'), 1045),
 (('에스', '디'), 1045),
 (('영어', '숲'), 1044),
 (('바', '점'), 1040),
 (('퀵', '용달'), 1040),
 (('셀프', '주유소'), 1040),
 (('광장', '점'), 1039),
 (('왕', '족발'), 1039),
 (('어', '패럴'), 1038),
 (('국', '점'), 1035),
 (('롯데', '프리미엄'), 1034),
 (('삼성', '컴퓨터'), 1033),
 (('소주', '방'), 1032),
 (('한국', '연합'), 1032),
 (('하나로마트', '점'), 1031),
 (('항공', '여행사'), 1030),
 (('에스', '테크'), 1029),
 (('우리', '마트'), 1027),
 (('성형', '외과'), 1025),
 (('시장', '점'), 1024),
 (('카', '사'), 1022),
 (('에어컨', '전문점'), 1020),
 (('시골', '밥상'), 1020),
 (('수학', '교실'), 1019),
 (('대한', '통운'), 1018),
 (('한국', '교육'), 1018),
 (('알뜰', '매장'), 1015),
 (('건대', '점'), 1015),
 (('방', '병원'), 1014),
 (('금호', '점'), 1014),
 (('동양', '비데'), 1012),
 (('아트', '미술'), 1011),
 (('청소', '대행'), 1011),
 (('배스킨라빈스', '점'), 1008),
 (('복지', '재단'), 1008),
 (('지역', '본부'), 1006),
 (('요거', '프레'), 1005),
 (('나무', '어린이집'), 1005),
 (('퀵', '라보'), 1005),
 (('둔산', '점'), 1002),
 (('포차', '점'), 1001),
 (('아이', '에스'), 1001),
 (('도배', '장판'), 1000),
 (('사람', '찾기'), 999),
 (('롯데', '대리점'), 999),
 (('부산', '지사'), 999),
 (('가스', '충전'), 998),
 (('델', '서비스'), 996),
 (('서산', '점'), 995),
 (('광교', '점'), 995),
 (('백화점', '구점'), 994),
 (('하나로', '굿'), 992),
 (('전주', '콩나물'), 991),
 (('광주', '지점'), 989),
 (('현대', '택배'), 987),
 (('칡', '냉면'), 987),
 (('노인', '회'), 987),
 (('서울', '대리점'), 986),
 (('회수', '산'), 986),
 (('인터넷', '점'), 984),
 (('종합', '개발'), 983),
 (('한국', '서비스'), 983),
 (('존', '점'), 981),
 (('원주', '점'), 981),
 (('단', '지점'), 981),
 (('음악', '소'), 980),
 (('음악', '교습'), 980),
 (('경주', '점'), 980),
 (('우리', '식당'), 979),
 (('그린', '마트'), 978),
 (('당진', '점'), 978),
 (('시설', '관리'), 976),
 (('잉글리쉬', '무무'), 974),
 (('라보', '화물'), 973),
 (('백화점', '강남'), 972),
 (('가스', '보일러'), 971),
 (('뒷', '고기'), 971),
 (('칠곡', '점'), 968),
 (('원룸', '이사'), 966),
 (('행정', '실'), 966),
 (('한국', '지점'), 965),
 (('여의도', '점'), 965),
 (('델', '센터'), 964),
 (('연세', '치과'), 964),
 (('카', '오디오'), 963),
 (('윤선생', '숲'), 962),
 (('인력', '개발'), 962),
 (('아이', '러브'), 962),
 (('기업', '사'), 962),
 (('매직', '비데'), 959),
 (('정자', '점'), 959),
 (('에스', '건설'), 959),
 (('요양', '센터'), 957),
 (('서울', '초등학교'), 956),
 (('에스', '점'), 956),
 (('로데오', '점'), 956),
 (('가정의학', '의원'), 955),
 (('구이', '점'), 954),
 (('핫도그', '점'), 954),
 (('원룸', '점'), 951),
 (('커텐', '블라인드'), 950),
 (('요양보호사', '교육'), 950),
 (('손', '짜장'), 950),
 (('데이터', '복구'), 949),
 (('김밥천국', '점'), 949),
 (('회', '타'), 949),
 (('전주', '식당'), 947),
 (('쇼핑', '점'), 947),
 (('늑대', '여우'), 945),
 (('스', '위트'), 944),
 (('현대', '서비스'), 943),
 (('곱창', '점'), 942),
 (('엠', '제이'), 941),
 (('에스', '에이치'), 941),
 (('마취', '통증'), 940),
 (('터치', '점'), 939),
 (('멕시칸', '치킨'), 938),
 (('종합', '화장품'), 938),
 (('뼈', '해장국'), 937),
 (('가입', '점'), 935),
 (('노래', '클럽'), 935),
 (('대한', '회'), 935),
 (('동', '점'), 934),
 (('현대', '스'), 932),
 (('맘스', '점'), 931),
 (('전자', '점'), 931),
 (('산업', '기계'), 928),
 (('이삭', '토스트'), 926),
 (('앤', '스'), 925),
 (('근', '배달'), 924),
 (('장충', '족발'), 923),
 (('동래', '점'), 923),
 (('도시락', '점'), 921),
 (('주자', '대표'), 921),
 (('더페이스샵', '점'), 920),
 (('우리', '의원'), 917),
 (('노', '점'), 916),
 (('여수', '점'), 915),
 (('경산', '점'), 914),
 (('자재', '마트'), 914),
 (('드림', '점'), 913),
 (('커뮤니케이션', '즈'), 913),
 (('렌트카', '영업소'), 912),
 (('삼화', '페인트'), 911),
 (('누수', '방수'), 910),
 (('마취', '의학과'), 910),
 (('스', '센터'), 910),
 (('근', '꽃'), 909),
 (('사랑', '교회'), 908),
 (('소아과', '의원'), 907),
 (('한국', '안전'), 907),
 (('건축', '설비'), 907),
 (('시골', '집'), 906),
 (('신세계', '강남'), 905),
 (('국밥', '점'), 905),
 (('공부', '방'), 905),
 (('에프', '앤비'), 905),
 (('청소', '사무실'), 904),
 (('종합', '주방'), 904),
 (('대성', '산업'), 904),
 (('전기', '철물'), 903),
 (('고양', '점'), 902),
 (('사단', '한국'), 902),
 (('고봉', '김밥'), 900),
 (('가전', '매입'), 900),
 (('대치', '점'), 900),
 (('귀뚜라미보일러', '서비스'), 899),
 (('마취', '의원'), 899),
 (('한식', '부페'), 898),
 (('장안', '점'), 898),
 (('한의원', '점'), 897),