In [1]:
from selenium import webdriver
import selenium

In [2]:
path = 'C:\chromedriver.exe'

In [3]:
driver = webdriver.Chrome(path)

In [41]:
driver.get('http://www.localdata.kr/portal/data/searchName.do?menuNo=200015')

In [42]:
elem = selenium.webdriver.support.select.Select(driver.find_element_by_name('codeId'))

In [43]:
elem.select_by_visible_text('경기도')

In [57]:
elem2 = selenium.webdriver.support.select.Select(driver.find_element_by_name('detailCodeId'))

In [58]:
elem2.select_by_visible_text('수원시')

In [59]:
input = driver.find_element_by_name('srhKeyword')

In [60]:
input.clear()
input.send_keys('바다회집')

In [61]:
input.submit()

In [12]:
from bs4 import BeautifulSoup

In [62]:
html = driver.page_source

In [63]:
soup = BeautifulSoup(html, 'html.parser')

In [64]:
columns = soup.find('thead').get_text().split('\n')
columns

['',
 '',
 '번호',
 '데이터명 내림차순',
 '',
 '업소명 내림차순',
 '사업장 주소 내림차순',
 '신고일 내림차순',
 '상태 내림차순',
 '',
 '']

In [65]:
columns[3] = columns[3].split(' ')[0]

In [66]:
columns[5] = columns[5].split(' ')[0]
columns[6] = columns[6].split(' ')[0]
columns[7] = columns[7].split(' ')[0]
columns[8] = columns[8].split(' ')[0]

In [67]:
while True:
    try:
        columns.remove("")
    except ValueError:
        break

In [68]:
columns

['번호', '데이터명', '업소명', '사업장', '신고일', '상태']

In [69]:
table = soup.find('tbody')
rows = table.find_all('tr')

In [23]:
r = rows[0].text.split('\n')
for idx in range(0, len(r)):
    r[idx] = r[idx].strip()
r

['',
 '13198',
 '쓰레기종량제봉투판매업',
 '뉴설악모텔',
 '강원도 속초시 설악동 2 통1  반',
 '',
 '',
 '',
 '',
 '운영중',
 '']

In [24]:
while True:
    try:
        r.remove("")
    except ValueError:
        break

In [25]:
r

['13198', '쓰레기종량제봉투판매업', '뉴설악모텔', '강원도 속초시 설악동 2 통1  반', '운영중']

In [138]:
len(rows)

10

In [70]:
import pandas as pd

In [71]:
df1 = []
for idx in range(0, len(rows)):
    r = rows[idx].text.split('\n')
    for idx in range(0, len(r)):
        r[idx] = r[idx].strip()
    while True:
        try:
            r.remove("")
        except ValueError:
            break
    df1.append(r)
df1 = pd.DataFrame(df1, columns = columns)
df1

,번호,데이터명,업소명,사업장,신고일,상태
0,7,일반음식점(기타),바다회집,경기도 수원시 팔달구 인계동 754-1번지,2000.04.12,폐업 등
1,6,일반음식점(횟집),바다회집,경기도 수원시 장안구 조원로 124 (조원동),1999.11.06,운영중
2,5,일반음식점(한식),동해바다회집,경기도 수원시 권선구 금곡동 487번지,1999.09.17,폐업 등
3,4,일반음식점(한식),바다회집,경기도 수원시 팔달구 화서동 650번지 화서4단지아파트 가상동 지층5호,1997.12.08,폐업 등
4,3,일반음식점(기타),바다회집,경기도 수원시 영통구 하동 653번지,1996.05.17,폐업 등
5,2,일반음식점(일식),바다회집,경기도 수원시 권선구 세류동 1090-3번지,1995.08.07,폐업 등
6,1,일반음식점(일식),바다회집,경기도 수원시 영통구 매탄동 153-189번지 동수원상가A동6호,1994.03.04,폐업 등

In [72]:
df1 = []
for row in soup.select('tbody tr'):
    row_text = [x.text for x in row.find_all('td')]
    for idx in range(0,len(row_text)):
        row_text[idx] = row_text[idx].strip()
        
    df1.append(row_text)
df1 = pd.DataFrame(df1, columns = columns)
df1

,번호,데이터명,업소명,사업장,신고일,상태
0,7,일반음식점(기타),바다회집,경기도 수원시 팔달구 인계동 754-1번지,2000.04.12,폐업 등
1,6,일반음식점(횟집),바다회집,경기도 수원시 장안구 조원로 124 (조원동),1999.11.06,운영중
2,5,일반음식점(한식),동해바다회집,경기도 수원시 권선구 금곡동 487번지,1999.09.17,폐업 등
3,4,일반음식점(한식),바다회집,경기도 수원시 팔달구 화서동 650번지 화서4단지아파트 가상동 지층5호,1997.12.08,폐업 등
4,3,일반음식점(기타),바다회집,경기도 수원시 영통구 하동 653번지,1996.05.17,폐업 등
5,2,일반음식점(일식),바다회집,경기도 수원시 권선구 세류동 1090-3번지,1995.08.07,폐업 등
6,1,일반음식점(일식),바다회집,경기도 수원시 영통구 매탄동 153-189번지 동수원상가A동6호,1994.03.04,폐업 등